<template id="CommonComponents">
      
      <draggable class=""
      	style="width:100%;height:100%;"
        v-model="data.list"
        v-bind="{group:'people', ghostClass: 'ghost',animation: 200, handle: '.drag-widget'}"
        @end="handleMoveEnd"
        @add="handleWidgetAdd"
      >
        <transition-group name="fade" tag="div" style="width:100%;height:100%;overflow-y:auto;overflow-x:hidden;padding:10px;"class="widget-col-list" ref="containerwidth" :style="{display: containerflex ? 'flex' : 'block'}">
          <template v-for="(element, index) in data.list">
            <template v-if="element.type == 'grid'">
                <el-row class="widget-col widget-view" v-if="element && element.key" :key="element.key" 
                  type="flex"
                  :class="{active: selectWidget.key == element.key}"
                  :gutter="element.options.gutter ? element.options.gutter : 0"
                  :justify="element.options.justify"
                  :align="element.options.align"
                  @click.native.stop="handleSelectWidget(index)">
                  <el-col  v-for="(col, colIndex) in element.columns" :key="colIndex" :span="col.span ? col.span : 0">
                    
                      <draggable
                        v-model="col.list"
                        :no-transition-on-drag="true"
                        v-bind="{group:'people', ghostClass: 'ghost',animation: 200, handle: '.drag-widget'}"
                        @end="handleMoveEnd"
                        @add="handleWidgetColAdd($event, element, colIndex)"
                      >
                        <transition-group name="fade" tag="div" class="widget-col-list">
                          <widget-form-item
                            v-for="(el, i) in col.list"
                            :key="el.key"
                            v-if="el.key"
                            :element="el"
                            :select.sync="selectWidget"
                            :index="i"
                            :data="col">
                          </widget-form-item>
                        </transition-group>
                        
                      </draggable>
                  </el-col>
                  <div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
                  </div>

                  <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
                    <i class="iconfont icon-drag drag-widget"></i>
                  </div>
                </el-row>
            </template>
            <template v-else-if="element.type == 'div'">
            	<vue-draggable-resizable :z="999" :w="element.options.width" :h="element.options.height" :key="element.key" :min-width="100" :min-height="50" :draggable="false" @resizing="onResizing">
            	<div class="widget-col widget-view" v-if="element && element.key" style="width:100%;height:100%;" :class="{active: selectWidget.key == element.key}" @click.native.stop="handleSelectWidget(index)">
                	<!-- <common-components ref="widgetForm" :data="element.columns[0]" :select.sync="selectWidget"></common-components> -->
                    <div style="height:100%;" v-for="(col, colIndex) in element.columns" :key="colIndex" :style="{width:col.width}">
                      	<common-components ref="widgetForm" :data="col" :select.sync="selectWidget"></common-components>
                    </div>
                      <div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
	                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
	                  </div>
			
	                  <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
	                    <i class="iconfont icon-drag drag-widget"></i>
	                  </div>
            	</div>
            	</vue-draggable-resizable>
            </template>
            <template v-else-if="element.type == 'form'">
            	<vue-draggable-resizable :z="999" :w="width" :h="element.options.height" :key="element.key" :min-width="100" :min-height="50" :draggable="false" @resizing="onResizing">
            	<el-form class="widget-col widget-view" v-if="element && element.key" style="width:100%;height:100%;" :class="{active: selectWidget.key == element.key}" @click.native.stop="handleSelectWidget(index)">
                	<!-- <common-components ref="widgetForm" :data="element.columns[0]" :select.sync="selectWidget"></common-components> -->
                    <div style="height:100%;" v-for="(col, colIndex) in element.columns" :key="colIndex" :style="{width:col.width}">
                      	<common-components ref="widgetForm" :data="col" :select.sync="selectWidget"></common-components>
                    </div>
                      <div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
	                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
	                  </div>
			
	                  <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
	                    <i class="iconfont icon-drag drag-widget"></i>
	                  </div>
            	</el-form>
            	</vue-draggable-resizable>
            </template>
            <template v-else-if="element.type == 'formitem'">
                <el-row class="widget-col widget-view" v-if="element && element.key" :key="element.key" 
                  type="flex"
                  :class="{active: selectWidget.key == element.key}"
                  :gutter="element.options.gutter ? element.options.gutter : 0"
                  :justify="element.options.justify"
                  :align="element.options.align"
                  @click.native.stop="handleSelectWidget(index)">
                  <el-col  v-for="(col, colIndex) in element.columns" :key="colIndex" :span="col.span ? col.span : 0">
                    
                      <draggable
                        v-model="col.list"
                        :no-transition-on-drag="true"
                        v-bind="{group:'people', ghostClass: 'ghost',animation: 200, handle: '.drag-widget'}"
                        @end="handleMoveEnd"
                        @add="handleWidgetColAdd($event, element, colIndex)"
                      >
                        <transition-group name="fade" tag="div" class="widget-col-list">
                          <widget-form-item 
                            v-for="(el, i) in col.list"
                            :key="el.key"
                            v-if="el.key"
                            :element="el" 
                            :select.sync="selectWidget" 
                            :index="i" 
                            :data="col">
                          </widget-form-item>
                        </transition-group>
                        
                      </draggable>
                  </el-col>
                  <div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
                  </div>

                  <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
                    <i class="iconfont icon-drag drag-widget"></i>
                  </div>
                </el-row>
            </template>
            <template v-else-if="element.type == 'container-row'">
            	<el-container class="widget-col widget-view" v-if="element && element.key" :key="element.key" style="height:400px;" :class="{active: selectWidget.key == element.key}" @click.native.stop="handleSelectWidget(index)">
                	<!-- <common-components ref="widgetForm" :data="element.columns[0]" :select.sync="selectWidget"></common-components> -->
                    <div style="height:100%;" v-for="(col, colIndex) in element.columns" :key="colIndex" :style="{width:col.width}">
                      	<common-components ref="widgetForm" :data="col" :select.sync="selectWidget"></common-components>
                    </div>
                      <div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
	                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
	                  </div>
	
	                  <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
	                    <i class="iconfont icon-drag drag-widget"></i>
	                  </div>
            	</el-container>
            </template>
            <template v-else-if="element.type == 'container'">
            	<vue-draggable-resizable :z="999" :w="element.options.width" :h="element.options.height" :key="element.key" :min-width="200" :min-height="200" :draggable="false" @resizing="onResizing">
            	<el-container class="widget-col widget-view" :key="element.key" v-if="element && element.key" style="height:100%;width:100%;" :class="{active: selectWidget.key == element.key}" @click.native.stop="handleSelectWidget(index)">
                	<!-- <common-components ref="widgetForm" :data="element.columns[0]" :select.sync="selectWidget"></common-components> -->
                    <div style="height:100%;" v-for="(col, colIndex) in element.columns" :key="colIndex" :style="{width:col.width}">
                      	<common-components ref="widgetForm" :data="col" :select.sync="selectWidget" :containerflex="element.options.disabled"></common-components>
                    </div>
                      <div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
	                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
	                  </div>
						<!-- container组件隐藏拖拽图标 -->
	                  <!-- <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
	                    <i class="iconfont icon-drag drag-widget"></i>
	                  </div> -->
            	</el-container>
            	</vue-draggable-resizable>
            </template>
            <template v-else-if="element.type == 'header'">
            	<vue-draggable-resizable :z="999" :w="width" :h="element.options.height" :key="element.key" :min-width="200" :min-height="50" :draggable="false" @resizing="onResizing">
            	<el-header class="widget-col widget-view" :key="element.key" v-if="element && element.key" :class="{active: selectWidget.key == element.key}" @click.native.stop="handleSelectWidget(index)" style="height:100%;">
            		<!-- <common-components ref="widgetForm" :data="element.columns[0]" :select.sync="selectWidget"></common-components> -->
            		<div style="width:100%;height:100%;" v-for="(col, colIndex) in element.columns" :key="colIndex">
                      	<common-components ref="widgetForm" :data="col" :select.sync="selectWidget"></common-components>
                      </div>
            		<div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
	                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
	                </div>
					<!-- header组件隐藏拖拽图标 -->
	                <!-- <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
	                    <i class="iconfont icon-drag drag-widget"></i>
	                </div> -->
            	</el-header>
            	</vue-draggable-resizable>
            </template>
            <template v-else-if="element.type == 'main'">
            	<vue-draggable-resizable :z="999" :w="element.options.width" :h="element.options.height" :key="element.key"  :min-width="200" :min-height="200" :draggable="false" @resizing="onResizing">
            	<!-- <vue-draggable-resizable :z="999" :w="width" :h="element.options.height" :key="element.key" :parent="true" :debug="false" :min-width="200" :min-height="50" @resizing="onResizing"> -->
            	<el-main class="widget-col widget-view" v-if="element && element.key" :class="{active: selectWidget.key == element.key}" @click.native.stop="handleSelectWidget(index)" style="width:100%;height:100%;">
            		<div style="width:100%;height:100%;position: absolute;" v-for="(col, colIndex) in element.columns" :key="colIndex">
                      	<common-components ref="widgetForm" :data="col" :select.sync="selectWidget"></common-components>
                      </div>
            		<div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
	                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
	                </div>
					<!-- main组件隐藏拖拽图标 -->
	                <!-- <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
	                    <i class="iconfont icon-drag drag-widget"></i>
	                </div> -->
            	</el-main>
            	</vue-draggable-resizable>
            </template>
            <template v-else-if="element.type == 'aside'">
            	<vue-draggable-resizable :z="999" :w="element.options.width" :h="element.options.height" :key="element.key" :min-width="200" :min-height="200" :draggable="false" @resizing="onResizing">
            	<el-aside class="widget-col widget-view" v-if="element && element.key" :class="{active: selectWidget.key == element.key}" @click.native.stop="handleSelectWidget(index)" style="width:100%;height:100%;">
            		<div style="width:100%;height:100%;" v-for="(col, colIndex) in element.columns" :key="colIndex">
                      	<common-components ref="widgetForm" :data="col" :select.sync="selectWidget"></common-components>
                    </div>
            		<div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
	                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
	                </div>
					<!-- aside组件隐藏拖拽图标 -->
	                <!-- <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
	                    <i class="iconfont icon-drag drag-widget"></i>
	                </div> -->
            	</el-aside>
            	</vue-draggable-resizable>
            </template>
            <template v-else-if="element.type == 'footer'">
            	<el-footer class="widget-col widget-view" v-if="element && element.key" :key="element.key" :class="{active: selectWidget.key == element.key}" @click.native.stop="handleSelectWidget(index)">
            		<div style="width:100%;height:100%;" v-for="(col, colIndex) in element.columns" :key="colIndex">
            			<draggable
	                        v-model="col.list"
	                        :no-transition-on-drag="true"
	                        v-bind="{group:'people', ghostClass: 'ghost',animation: 200, handle: '.drag-widget'}"
	                        @end="handleMoveEnd"
	                        @add="handleWidgetColAdd($event, element, colIndex)"
	                      >
	                        <transition-group name="fade" tag="div" class="widget-col-list">
	                          <widget-form-item 
	                            v-for="(el, i) in col.list"
	                            :key="el.key"
	                            v-if="el.key"
	                            :element="el" 
	                            :select.sync="selectWidget" 
	                            :index="i" 
	                            :data="col">
	                          </widget-form-item>
	                        </transition-group>
	                        
	                    </draggable>
                    </div>
            		<div class="widget-view-action widget-col-action" v-if="selectWidget.key == element.key">
        
	                    <i class="iconfont icon-shanchu" @click.stop="handleWidgetDelete(index)"></i>
	                </div>
	
	                <div class="widget-view-drag widget-col-drag" v-if="selectWidget.key == element.key">
	                    <i class="iconfont icon-drag drag-widget"></i>
	                </div>
            	</el-footer>
            </template>
            <template v-else>
              <widget-form-item v-if="element && element.key"  :key="element.key" :element="element" :select.sync="selectWidget" :index="index" :data="data"></widget-form-item>
            </template>
          </template>
        </transition-group>
      </draggable>
</template>