<template id="container">
  <div class="container" style="height:99%;overflow:auto;" ref="container">
    <h1>Container 布局容器</h1>
    <h5>用于布局的容器组件，方便快速搭建页面的基本结构：</h5>
    <h5><code style="background:#ecf8ff;padding:5px;font-size:12px;">&lt;el-container&gt;</code>：外层容器。当子元素中包含<code style="background:#ecf8ff;padding:5px;font-size:12px;">&lt;el-header&gt;</code>或<code style="background:#ecf8ff;padding:5px;font-size:12px;">&lt;el-footer&gt;</code>时，全部子元素会垂直上下排列，否则会水平左右排列。</h5>
    <h5><code style="background:#ecf8ff;padding:5px;font-size:12px;">&lt;el-header&gt;</code>：顶栏容器。</h5>
    <h5><code style="background:#ecf8ff;padding:5px;font-size:12px;">&lt;el-aside&gt;</code>：侧边栏容器。</h5>
    <h5><code style="background:#ecf8ff;padding:5px;font-size:12px;">&lt;el-main&gt;</code>：主要区域容器。</h5>
    <h5><code style="background:#ecf8ff;padding:5px;font-size:12px;">&lt;el-footer&gt;</code>：底栏容器。</h5>
    <div class="tip">
    	<p>以上组件采用了 flex 布局，使用前请确定目标浏览器是否兼容。此外，<code>&lt;el-container&gt;</code> 的子元素只能是后四者，后四者的父元素也只能是 <code>&lt;el-container&gt;</code>。</p>
    </div>
    <h2>常见页面布局1</h2>
    <div class="demo-block">
      <div class="source" style="height:300px;">
        <el-container>
		  <el-header>Header</el-header>
		  <el-main>Main</el-main>
		</el-container>
      </div>
      <div class="content" v-if="!isShow5">
        <pre><code>
&lt;el-container&gt;
  &lt;el-header&gt;Header &lt;/el-header&gt;
  &lt;el-main&gt;Main &lt;/el-main&gt;
&lt;/el-container&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow5">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow5 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>常见页面布局2</h2>
    <div class="demo-block">
      <div class="source" style="height:300px;">
        <el-container>
		  <el-header>Header</el-header>
		  <el-main>Main</el-main>
		  <el-footer>Footer</el-footer>
		</el-container>
      </div>
      <div class="content" v-if="!isShow">
        <pre><code>
&lt;el-container&gt;
  &lt;el-header&gt;Header&lt;/el-header&gt;
  &lt;el-main&gt;Main&lt;/el-main&gt;
  &lt;el-footer&gt;Footer&lt;/el-footer&gt;
&lt;/el-container&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>常见页面布局3</h2>
    <div class="demo-block">
      <div class="source" style="height:300px;">
        <el-container>
		  <el-aside width="200px">Aside</el-aside>
		  <el-main>Main</el-main>
		</el-container>
      </div>
      <div class="content" v-if="!isShow1">
        <pre><code>
&lt;el-container&gt;
  &lt;el-aside width="200px"&gt;Aside&lt;/el-aside&gt;
  &lt;el-main&gt;Main&lt;/el-main&gt;
&lt;/el-container&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>常见页面布局4</h2>
    <div class="demo-block">
      <div class="source" style="height:300px;">
        <el-container>
		  <el-header>Header</el-header>
		  <el-container>
		    <el-aside width="200px">Aside</el-aside>
		    <el-main>Main</el-main>
		  </el-container>
		</el-container>
      </div>
      <div class="content" v-if="!isShow2">
        <pre><code>
&lt;el-container&gt;
  &lt;el-header&gt;Header&lt;/el-header&gt;
  &lt;el-container&gt;
    &lt;el-aside width="200px"&gt;Aside&lt;/el-aside&gt;
    &lt;el-main&gt;Main&lt;/el-main&gt;
  &lt;/el-container&gt;
&lt;/el-container&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>常见页面布局5</h2>
    <div class="demo-block">
      <div class="source" style="height:300px;">
        <el-container>
		  <el-header>Header</el-header>
		  <el-container>
		    <el-aside width="200px">Aside</el-aside>
		    <el-container>
		      <el-main>Main</el-main>
		      <el-footer>Footer</el-footer>
		    </el-container>
		  </el-container>
		</el-container>
      </div>
      <div class="content" v-if="!isShow3">
        <pre><code>
&lt;el-container&gt;
  &lt;el-header&gt;Header&lt;/el-header&gt;
  &lt;el-container&gt;
    &lt;el-aside width="200px"&gt;Aside&lt;/el-aside&gt;
    &lt;el-container&gt;
      &lt;el-main&gt;Main&lt;/el-main&gt;
      &lt;el-footer&gt;Footer&lt;/el-footer&gt;
    &lt;/el-container&gt;
  &lt;/el-container&gt;
&lt;/el-container&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>常见页面布局6</h2>
    <div class="demo-block">
      <div class="source" style="height:300px;">
        <el-container>
		  <el-aside width="200px">Aside</el-aside>
		  <el-container>
		    <el-header>Header</el-header>
		    <el-main>Main</el-main>
		  </el-container>
		</el-container>
      </div>
      <div class="content" v-if="!isShow4">
        <pre><code>
&lt;el-container&gt;
  &lt;el-aside width="200px"&gt;Aside&lt;/el-aside&gt;
  &lt;el-container&gt;
    &lt;el-header&gt;Header&lt;/el-header&gt;
    &lt;el-main&gt;Main&lt;/el-main&gt;
  &lt;/el-container&gt;
&lt;/el-container&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow4">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow4 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>常见页面布局7</h2>
    <div class="demo-block">
      <div class="source" style="height:300px;">
        <el-container>
		  <el-aside width="200px">Aside</el-aside>
		  <el-container>
		    <el-header>Header</el-header>
		    <el-main>Main</el-main>
		    <el-footer>Footer</el-footer>
		  </el-container>
		</el-container>
      </div>
      <div class="content" v-if="!isShow6">
        <pre><code>
&lt;el-container&gt;
  &lt;el-aside width="200px"&gt;Aside&lt;/el-aside&gt;
  &lt;el-container&gt;
    &lt;el-header&gt;Header&lt;/el-header&gt;
    &lt;el-main&gt;Main&lt;/el-main&gt;
    &lt;el-footer&gt;Footer&lt;/el-footer&gt;
  &lt;/el-container&gt;
&lt;/el-container&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow6">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow6 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>实例</h2>
    <div class="demo-block">
      <div class="source" style="position:relative;">
        <el-container style="height: 500px; border: 1px solid #eee">
		  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
		    <el-menu :default-openeds="['1', '3']">
		      <el-submenu index="1">
		        <template slot="title"><i class="el-icon-message"></i>导航一</template>
		        <el-menu-item-group>
		          <template slot="title">分组一</template>
		          <el-menu-item index="1-1">选项1</el-menu-item>
		          <el-menu-item index="1-2">选项2</el-menu-item>
		        </el-menu-item-group>
		        <el-menu-item-group title="分组2">
		          <el-menu-item index="1-3">选项3</el-menu-item>
		        </el-menu-item-group>
		        <el-submenu index="1-4">
		          <template slot="title">选项4</template>
		          <el-menu-item index="1-4-1">选项4-1</el-menu-item>
		        </el-submenu>
		      </el-submenu>
		      <el-submenu index="2">
		        <template slot="title"><i class="el-icon-menu"></i>导航二</template>
		        <el-menu-item-group>
		          <template slot="title">分组一</template>
		          <el-menu-item index="2-1">选项1</el-menu-item>
		          <el-menu-item index="2-2">选项2</el-menu-item>
		        </el-menu-item-group>
		        <el-menu-item-group title="分组2">
		          <el-menu-item index="2-3">选项3</el-menu-item>
		        </el-menu-item-group>
		        <el-submenu index="2-4">
		          <template slot="title">选项4</template>
		          <el-menu-item index="2-4-1">选项4-1</el-menu-item>
		        </el-submenu>
		      </el-submenu>
		      <el-submenu index="3">
		        <template slot="title"><i class="el-icon-setting"></i>导航三</template>
		        <el-menu-item-group>
		          <template slot="title">分组一</template>
		          <el-menu-item index="3-1">选项1</el-menu-item>
		          <el-menu-item index="3-2">选项2</el-menu-item>
		        </el-menu-item-group>
		        <el-menu-item-group title="分组2">
		          <el-menu-item index="3-3">选项3</el-menu-item>
		        </el-menu-item-group>
		        <el-submenu index="3-4">
		          <template slot="title">选项4</template>
		          <el-menu-item index="3-4-1">选项4-1</el-menu-item>
		        </el-submenu>
		      </el-submenu>
		    </el-menu>
		  </el-aside>
		  
		  <el-container>
		    <el-header style="text-align: right; font-size: 12px;padding: 0 20px;">
		      <span>王小虎</span>
		    </el-header>
		    
		    <el-main style="overflow:auto;">
		      <el-table :data="tableData" height="438">
		        <el-table-column prop="date" label="日期" width="140">
		        </el-table-column>
		        <el-table-column prop="name" label="姓名" width="120">
		        </el-table-column>
		        <el-table-column prop="address" label="地址">
		        </el-table-column>
		      </el-table>
		    </el-main>
		  </el-container>
		</el-container>
      </div>
      <div class="content" v-if="!isShow7">
        <pre><code>
&lt;el-container style="height: 500px; border: 1px solid #eee"&gt;
  &lt;el-aside width="200px" style="background-color: rgb(238, 241, 246)"&gt;
    &lt;el-menu :default-openeds="['1', '3']"&gt;
      &lt;el-submenu index="1"&gt;
        &lt;template slot="title"&gt;&lt;i class="el-icon-message"&gt;&lt;/i&gt;导航一&lt;/template&gt;
        &lt;el-menu-item-group&gt;
          &lt;template slot="title"&gt;分组一&lt;/template&gt;
          &lt;el-menu-item index="1-1"&gt;选项1&lt;/el-menu-item&gt;
          &lt;el-menu-item index="1-2"&gt;选项2&lt;/el-menu-item&gt;
        &lt;/el-menu-item-group&gt;
        &lt;el-menu-item-group title="分组2"&gt;
          &lt;el-menu-item index="1-3"&gt;选项3&lt;/el-menu-item&gt;
        &lt;/el-menu-item-group&gt;
        &lt;el-submenu index="1-4"&gt;
          &lt;template slot="title"&gt;选项4&lt;/template&gt;
          &lt;el-menu-item index="1-4-1"&gt;选项4-1&lt;/el-menu-item&gt;
        &lt;/el-submenu&gt;
      &lt;/el-submenu&gt;
      &lt;el-submenu index="2"&gt;
        &lt;template slot="title"&gt;&lt;i class="el-icon-menu"&gt;&lt;/i&gt;导航二&lt;/template&gt;
        &lt;el-menu-item-group&gt;
          &lt;template slot="title"&gt;分组一&lt;/template&gt;
          &lt;el-menu-item index="2-1"&gt;选项1&lt;/el-menu-item&gt;
          &lt;el-menu-item index="2-2"&gt;选项2&lt;/el-menu-item&gt;
        &lt;/el-menu-item-group&gt;
        &lt;el-menu-item-group title="分组2"&gt;
          &lt;el-menu-item index="2-3"&gt;选项3&lt;/el-menu-item&gt;
        &lt;/el-menu-item-group&gt;
        &lt;el-submenu index="2-4"&gt;
          &lt;template slot="title"&gt;选项4&lt;/template&gt;
          &lt;el-menu-item index="2-4-1"&gt;选项4-1&lt;/el-menu-item&gt;
        &lt;/el-submenu&gt;
      &lt;/el-submenu&gt;
      &lt;el-submenu index="3"&gt;
        &lt;template slot="title"&gt;&lt;i class="el-icon-setting"&gt;&lt;/i&gt;导航三&lt;/template&gt;
        &lt;el-menu-item-group&gt;
          &lt;template slot="title"&gt;分组一&lt;/template&gt;
          &lt;el-menu-item index="3-1"&gt;选项1&lt;/el-menu-item&gt;
          &lt;el-menu-item index="3-2"&gt;选项2&lt;/el-menu-item&gt;
        &lt;/el-menu-item-group&gt;
        &lt;el-menu-item-group title="分组2"&gt;
          &lt;el-menu-item index="3-3"&gt;选项3&lt;/el-menu-item&gt;
        &lt;/el-menu-item-group&gt;
        &lt;el-submenu index="3-4"&gt;
          &lt;template slot="title"&gt;选项4&lt;/template&gt;
          &lt;el-menu-item index="3-4-1"&gt;选项4-1&lt;/el-menu-item&gt;
        &lt;/el-submenu&gt;
      &lt;/el-submenu&gt;
    &lt;/el-menu&gt;
  &lt;/el-aside&gt;
  
  &lt;el-container&gt;
    &lt;el-header style="text-align: right; font-size: 12px;"&gt;
      &lt;span&gt;王小虎&lt;/span&gt;
    &lt;/el-header&gt;
    
    &lt;el-main&gt;
      &lt;el-table :data="tableData"&gt;
        &lt;el-table-column prop="date" label="日期" width="140"&gt;
        &lt;/el-table-column&gt;
        &lt;el-table-column prop="name" label="姓名" width="120"&gt;
        &lt;/el-table-column&gt;
        &lt;el-table-column prop="address" label="地址"&gt;
        &lt;/el-table-column&gt;
      &lt;/el-table&gt;
    &lt;/el-main&gt;
  &lt;/el-container&gt;
&lt;/el-container&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow7">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow7 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Container Attributes</h1>
      <el-table
        ref="singleTable"
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Header Attributes</h1>
      <el-table
        ref="singleTable"
        :data="HeaderAttributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Aside Attributes</h1>
      <el-table
        ref="singleTable"
        :data="AsideAttributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Footer Attributes</h1>
      <el-table
        ref="singleTable"
        :data="FooterAttributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
    