<template id="inputNumber">
  <div style="height:99%;overflow:auto;" ref="inputNumber">
    <h1>InputNumber 计数器</h1>
    <h5>仅允许输入标准的数字值，可定义范围。</h5>
    <h2>基础用法</h2>
    <div class="demo-block">
      <div class="source">
          <el-input-number v-model="num1" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
      </div>
      <div class="content" v-if="!isShow">
        <div class="description">
          要使用它，只需要在<code>el-input-number</code>元素中使用<code>v-model</code>绑定变量即可，变量的初始值即为默认值。
        </div>
        <pre><code>
&lt;el-input-number v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"&gt;&lt;/el-input-number&gt;
&lt;script&gt;
  data() {
    return {
      num: 1
    };
  },
  methods: {
    handleChange(value) {
      console.log(value);
    }
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>禁用状态</h2>
    <div class="demo-block">
      <div class="source">
          <el-input-number v-model="num2" :disabled="true"></el-input-number>
      </div>
      <div class="content" v-if="!isShow1">
        <div class="description">
          <code>disabled</code>属性接受一个<code>Boolean</code>，设置为<code>true</code>即可禁用整个组件，如果你只需要控制数值在某一范围内，可以设置<code>min</code>属性和<code>max</code>属性，不设置<code>min</code>和<code>max</code>时，最小值为 <code>0</code>。
        </div>
        <pre><code>
&lt;el-input-number v-model="num" :disabled="true"&gt;&lt;/el-input-number&gt;
&lt;script&gt;
  data() {
    return {
      num: 1
    }
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>步数</h2>
    <h5>允许定义递增递减的步数控制。</h5>
    <div class="demo-block">
      <div class="source">
        <div>
          <el-input-number v-model="num3" :step="2"></el-input-number>
        </div>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">
            设置<code>step</code>属性可以控制步长，接受一个<code>Number</code>。
        </div>
        <pre><code>
&lt;el-input-number v-model="num" :step="2"&gt;&lt;/el-input-number&gt;
&lt;script&gt;
  data() {
    return {
      num: 5
    }
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>精度</h2>
    <div class="demo-block">
      <div class="source">
          <el-input-number v-model="num9" :precision="2" :step="0.1" :max="10"></el-input-number>
      </div>
      <div class="content" v-if="!isShow4">
        <div class="description">
          设置<code>precision</code>属性可以控制数值精度，接收一个 <code>Number</code>。
        </div>
        <pre><code>
&lt;el-input-number v-model="num" :precision="2" :step="0.1" :max="10"&gt;&lt;/el-input-number&gt;
&lt;script&gt;
  data() {
    return {
      num: 1
    }
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow4">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow4 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>尺寸</h2>
    <h5>额外提供了 medium、small、mini 三种尺寸的数字输入框。</h5>
    <div class="demo-block">
      <div class="source">
        <div>
          <el-input-number v-model="num4"></el-input-number>
          <el-input-number size="medium" v-model="num5"></el-input-number>
          <el-input-number size="small" v-model="num6"></el-input-number>
          <el-input-number size="mini" v-model="num7"></el-input-number>
        </div>
      </div>
      <div class="content" v-if="!isShow3">
        <div precision>
        </div>
        <pre><code>
&lt;el-input-number v-model="num1"&gt;&lt;/el-input-number&gt;
&lt;el-input-number size="medium" v-model="num2"&gt;&lt;/el-input-number&gt;
&lt;el-input-number size="small" v-model="num3"&gt;&lt;/el-input-number&gt;
&lt;el-input-number size="mini" v-model="num4"&gt;&lt;/el-input-number&gt;
&lt;script&gt;
  data() {
    return {
      num1: 1,
      num2: 1,
      num3: 1,
      num4: 1
    }
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>严格步数</h2>
    <div class="demo-block">
      <div class="source">
          <el-input-number v-model="num10" :step="2" step-strictly></el-input-number>
      </div>
      <div class="content" v-if="!isShow5">
        <div class="description">
          <code>step-strictly</code>属性接受一个<code>Boolean</code>。如果这个属性被设置为<code>true</code>，则只能输入步数的倍数。
        </div>
        <pre><code>
&lt;el-input-number v-model="num" :step="2" step-strictly&gt;&lt;/el-input-number&gt;
&lt;script&gt;
  data() {
    return {
      num: 2
    };
  },
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow5">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow5 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>按钮位置</h2>
    <div class="demo-block">
      <div class="source">
          <el-input-number v-model="num11" controls-position="right" @change="handleChange" :min="1" :max="10"></el-input-number>
      </div>
      <div class="content" v-if="!isShow6">
        <div class="description">
          	设置<code>controls-position</code>属性可以控制按钮位置。
        </div>
        <pre><code>
&lt;el-input-number v-model="num" controls-position="right" @change="handleChange" :min="1" :max="10"&gt;&lt;/el-input-number&gt;
&lt;script&gt;
  data() {
    return {
      num: 1
    };
  },
  methods: {
    handleChange(value) {
      console.log(value);
    }
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow6">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow6 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
        >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Events</h1>
      <el-table
        :data="events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名称"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="回调参数"
        >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
