<template id="dropdown"> 
  <div style="height:99%;overflow:auto;" ref="dropdown">
    <h1>Dropdown 下拉菜单</h1>
    <h5>将动作或菜单折叠到下拉菜单中。</h5>
    <h2>基础用法</h2>
    <h5>点击下拉菜单上，展开更多操作。</h5>
    <div class="demo-block">
      <div class="source">
          <el-dropdown @command="handleCommand" trigger="click" style="width:110px;">
            <span class="el-dropdown-link">
              下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="a">黄金糕</el-dropdown-item>
              <el-dropdown-item command="b">狮子头</el-dropdown-item>
              <el-dropdown-item command="c">螺蛳粉</el-dropdown-item>
              <el-dropdown-item command="d" disabled>双皮奶</el-dropdown-item>
              <el-dropdown-item command="e" divided>蚵仔煎</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
      </div>
      <div class="content" v-if="!isShow">
        <div class="description">
        通过组件slot来设置下拉触发的元素以及需要通过具名slot为dropdown 来设置下拉菜单。默认情况下，下拉按钮只要hover即可，无需点击也会显示下拉菜单。
        </div>
        <pre><code>
&lt;el-dropdown trigger="click"&gt;
  &lt;span class="el-dropdown-link"&gt;
    下拉菜单&lt;i class="el-icon-arrow-down el-icon--right"&gt;&lt;/i&gt;
  &lt;/span&gt;
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item command="a"&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item command="b"&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item command="c"&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item disabled&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item divided command="d"&gt;蚵仔煎&lt;/el-dropdown-item&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;
&lt;script&gt;
  methods: {
    handleCommand(command) {
      this.$message('click on item ' + command);
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>触发对象</h2>
    <h5>可使用按钮触发下拉菜单。</h5>
    <div class="demo-block">
      <div class="source">
      		<el-dropdown>
			  <el-button type="primary">
			    更多菜单<i class="el-icon-arrow-down el-icon--right"></i>
			  </el-button>
			  <el-dropdown-menu slot="dropdown">
			    <el-dropdown-item>黄金糕</el-dropdown-item>
			    <el-dropdown-item>狮子头</el-dropdown-item>
			    <el-dropdown-item>螺蛳粉</el-dropdown-item>
			    <el-dropdown-item>双皮奶</el-dropdown-item>
			    <el-dropdown-item>蚵仔煎</el-dropdown-item>
			  </el-dropdown-menu>
			</el-dropdown>
			<el-dropdown split-button type="primary" @click="handleClick">
			  更多菜单
			  <el-dropdown-menu slot="dropdown">
			    <el-dropdown-item>黄金糕</el-dropdown-item>
			    <el-dropdown-item>狮子头</el-dropdown-item>
			    <el-dropdown-item>螺蛳粉</el-dropdown-item>
			    <el-dropdown-item>双皮奶</el-dropdown-item>
			    <el-dropdown-item>蚵仔煎</el-dropdown-item>
			  </el-dropdown-menu>
			</el-dropdown>
      </div>
      <div class="content" v-if="!isShow1">
        <div class="description">
        设置split-button属性来让触发下拉元素呈现为按钮组，左边是功能按钮，右边是触发下拉菜单的按钮，设置为true即可。
        </div>
        <pre><code>
&lt;el-dropdown&gt;
  &lt;el-button type="primary"&gt;
    更多菜单&lt;i class="el-icon-arrow-down el-icon--right"&gt;&lt;/i&gt;
  &lt;/el-button&gt;
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;蚵仔煎&lt;/el-dropdown-item&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;
&lt;el-dropdown split-button type="primary" @click="handleClick"&gt;
  更多菜单
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;蚵仔煎&lt;/el-dropdown-item&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;
&lt;script&gt;
  methods: {
    handleClick() {
      alert('button click');
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>触发方式</h2>
    <h5>可以配置 click 激活或者 hover 激活。</h5>
    <div class="demo-block">
      <div class="source">
      	<el-row class="block-col-2">
		  <el-col :span="12">
		    <span class="demonstration">hover 激活</span>
		    <div style="width:110px;color: #409EFF;">
		    	<el-dropdown>
			      <span class="el-dropdown-link">
			        下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
			      </span>
			      <el-dropdown-menu slot="dropdown">
			        <el-dropdown-item icon="el-icon-plus">黄金糕</el-dropdown-item>
			        <el-dropdown-item icon="el-icon-circle-plus">狮子头</el-dropdown-item>
			        <el-dropdown-item icon="el-icon-circle-plus-outline">螺蛳粉</el-dropdown-item>
			        <el-dropdown-item icon="el-icon-check">双皮奶</el-dropdown-item>
			        <el-dropdown-item icon="el-icon-circle-check">蚵仔煎</el-dropdown-item>
			      </el-dropdown-menu>
			    </el-dropdown>
		    </div>
		  </el-col>
		  <el-col :span="12">
		    <span class="demonstration">click 激活</span>
		    <div style="width:110px;color: #409EFF;">
		    	<el-dropdown trigger="click">
			      <span class="el-dropdown-link">
			        下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
			      </span>
			      <el-dropdown-menu slot="dropdown">
			        <el-dropdown-item icon="el-icon-plus">黄金糕</el-dropdown-item>
			        <el-dropdown-item icon="el-icon-circle-plus">狮子头</el-dropdown-item>
			        <el-dropdown-item icon="el-icon-circle-plus-outline">螺蛳粉</el-dropdown-item>
			        <el-dropdown-item icon="el-icon-check">双皮奶</el-dropdown-item>
			        <el-dropdown-item icon="el-icon-circle-check">蚵仔煎</el-dropdown-item>
			      </el-dropdown-menu>
			    </el-dropdown>
		    </div>
		  </el-col>
		</el-row>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">
       在trigger属性设置为click即可。
        </div>
        <pre><code>
&lt;el-row class="block-col-2"&gt;
  &lt;el-col :span="12"&gt;
    &lt;span class="demonstration"&gt;hover 激活&lt;/span&gt;
    &lt;el-dropdown&gt;
      &lt;span class="el-dropdown-link"&gt;
        下拉菜单&lt;i class="el-icon-arrow-down el-icon--right"&gt;&lt;/i&gt;
      &lt;/span&gt;
      &lt;el-dropdown-menu slot="dropdown"&gt;
        &lt;el-dropdown-item icon="el-icon-plus"&gt;黄金糕&lt;/el-dropdown-item&gt;
        &lt;el-dropdown-item icon="el-icon-circle-plus"&gt;狮子头&lt;/el-dropdown-item&gt;
        &lt;el-dropdown-item icon="el-icon-circle-plus-outline"&gt;螺蛳粉&lt;/el-dropdown-item&gt;
        &lt;el-dropdown-item icon="el-icon-check"&gt;双皮奶&lt;/el-dropdown-item&gt;
        &lt;el-dropdown-item icon="el-icon-circle-check"&gt;蚵仔煎&lt;/el-dropdown-item&gt;
      &lt;/el-dropdown-menu&gt;
    &lt;/el-dropdown&gt;
  &lt;/el-col&gt;
  &lt;el-col :span="12"&gt;
    &lt;span class="demonstration"&gt;click 激活&lt;/span&gt;
    &lt;el-dropdown trigger="click"&gt;
      &lt;span class="el-dropdown-link"&gt;
        下拉菜单&lt;i class="el-icon-arrow-down el-icon--right"&gt;&lt;/i&gt;
      &lt;/span&gt;
      &lt;el-dropdown-menu slot="dropdown"&gt;
        &lt;el-dropdown-item icon="el-icon-plus"&gt;黄金糕&lt;/el-dropdown-item&gt;
        &lt;el-dropdown-item icon="el-icon-circle-plus"&gt;狮子头&lt;/el-dropdown-item&gt;
        &lt;el-dropdown-item icon="el-icon-circle-plus-outline"&gt;螺蛳粉&lt;/el-dropdown-item&gt;
        &lt;el-dropdown-item icon="el-icon-check"&gt;双皮奶&lt;/el-dropdown-item&gt;
        &lt;el-dropdown-item icon="el-icon-circle-check"&gt;蚵仔煎&lt;/el-dropdown-item&gt;
      &lt;/el-dropdown-menu&gt;
    &lt;/el-dropdown&gt;
  &lt;/el-col&gt;
&lt;/el-row&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>菜单隐藏方式</h2>
    <h5>可以hide-on-click属性来配置。</h5>
    <div class="demo-block">
      <div class="source">
      	<div style="width:110px;color: #409EFF;">
      		<el-dropdown :hide-on-click="false">
			  <span class="el-dropdown-link">
			    下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
			  </span>
			  <el-dropdown-menu slot="dropdown">
			    <el-dropdown-item>黄金糕</el-dropdown-item>
			    <el-dropdown-item>狮子头</el-dropdown-item>
			    <el-dropdown-item>螺蛳粉</el-dropdown-item>
			    <el-dropdown-item disabled>双皮奶</el-dropdown-item>
			    <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
			  </el-dropdown-menu>
			</el-dropdown>
      	</div>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">
    下拉菜单默认在点击菜单项后会被隐藏，将hide-on-click属性默认为false可以关闭此功能。
        </div>
        <pre><code>
&lt;el-dropdown :hide-on-click="false"&gt;
  &lt;span class="el-dropdown-link"&gt;
    下拉菜单&lt;i class="el-icon-arrow-down el-icon--right"&gt;&lt;/i&gt;
  &lt;/span&gt;
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item disabled&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item divided&gt;蚵仔煎&lt;/el-dropdown-item&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>指令事件</h2>
    <h5>点击菜单项后会触发事件，用户可以通过相应的菜单项 key 进行不同的操作</h5>
    <div class="demo-block">
      <div class="source">
      	<div style="width:110px;color: #409EFF;">
      		<el-dropdown @command="handleCommand">
			  <span class="el-dropdown-link">
			    下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
			  </span>
			  <el-dropdown-menu slot="dropdown">
			    <el-dropdown-item command="a">黄金糕</el-dropdown-item>
			    <el-dropdown-item command="b">狮子头</el-dropdown-item>
			    <el-dropdown-item command="c">螺蛳粉</el-dropdown-item>
			    <el-dropdown-item command="d" disabled>双皮奶</el-dropdown-item>
			    <el-dropdown-item command="e" divided>蚵仔煎</el-dropdown-item>
			  </el-dropdown-menu>
			</el-dropdown>
      	</div>
      </div>
      <div class="content" v-if="!isShow3">
        <pre><code>
&lt;el-dropdown @command="handleCommand"&gt;
  &lt;span class="el-dropdown-link"&gt;
    下拉菜单&lt;i class="el-icon-arrow-down el-icon--right"&gt;&lt;/i&gt;
  &lt;/span&gt;
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item command="a"&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item command="b"&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item command="c"&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item command="d" disabled&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item command="e" divided&gt;蚵仔煎&lt;/el-dropdown-item&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;
&lt;script&gt;
  methods: {
    handleCommand(command) {
      this.$message('click on item ' + command);
    }
  }
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>不同尺寸</h2>
    <h5>Dropdown 组件提供除了默认值以外的三种尺寸，可以在不同场景下选择合适的尺寸。</h5>
    <div class="demo-block">
      <div class="source">
      	<el-dropdown split-button type="primary">
		  默认尺寸
		  <el-dropdown-menu slot="dropdown">
		    <el-dropdown-item>黄金糕</el-dropdown-item>
		    <el-dropdown-item>狮子头</el-dropdown-item>
		    <el-dropdown-item>螺蛳粉</el-dropdown-item>
		    <el-dropdown-item>双皮奶</el-dropdown-item>
		    <el-dropdown-item>蚵仔煎</el-dropdown-item>
		  </el-dropdown-menu>
		</el-dropdown>
		
		<el-dropdown size="medium" split-button type="primary">
		  中等尺寸
		  <el-dropdown-menu slot="dropdown">
		    <el-dropdown-item>黄金糕</el-dropdown-item>
		    <el-dropdown-item>狮子头</el-dropdown-item>
		    <el-dropdown-item>螺蛳粉</el-dropdown-item>
		    <el-dropdown-item>双皮奶</el-dropdown-item>
		    <el-dropdown-item>蚵仔煎</el-dropdown-item>
		  </el-dropdown-menu>
		</el-dropdown>
		
		<el-dropdown size="small" split-button type="primary">
		  小型尺寸
		  <el-dropdown-menu slot="dropdown">
		    <el-dropdown-item>黄金糕</el-dropdown-item>
		    <el-dropdown-item>狮子头</el-dropdown-item>
		    <el-dropdown-item>螺蛳粉</el-dropdown-item>
		    <el-dropdown-item>双皮奶</el-dropdown-item>
		    <el-dropdown-item>蚵仔煎</el-dropdown-item>
		  </el-dropdown-menu>
		</el-dropdown>
		
		<el-dropdown size="mini" split-button type="primary">
		  超小尺寸
		  <el-dropdown-menu slot="dropdown">
		    <el-dropdown-item>黄金糕</el-dropdown-item>
		    <el-dropdown-item>狮子头</el-dropdown-item>
		    <el-dropdown-item>螺蛳粉</el-dropdown-item>
		    <el-dropdown-item>双皮奶</el-dropdown-item>
		    <el-dropdown-item>蚵仔煎</el-dropdown-item>
		  </el-dropdown-menu>
		</el-dropdown>
      </div>
      <div class="content" v-if="!isShow4">
        <div class="description">
额外的尺寸：medium、small、mini，通过设置size属性来配置它们。
        </div>
        <pre><code>
&lt;el-dropdown split-button type="primary"&gt;
  默认尺寸
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;蚵仔煎&lt;/el-dropdown-item&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;

&lt;el-dropdown size="medium" split-button type="primary"&gt;
  中等尺寸
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;蚵仔煎&lt;/el-dropdown-item&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;

&lt;el-dropdown size="small" split-button type="primary"&gt;
  小型尺寸
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;蚵仔煎&lt;/el-dropdown-item>&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;

&lt;el-dropdown size="mini" split-button type="primary"&gt;
  超小尺寸
  &lt;el-dropdown-menu slot="dropdown"&gt;
    &lt;el-dropdown-item&gt;黄金糕&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;狮子头&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;螺蛳粉&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;双皮奶&lt;/el-dropdown-item&gt;
    &lt;el-dropdown-item&gt;蚵仔煎&lt;/el-dropdown-item&gt;
  &lt;/el-dropdown-menu&gt;
&lt;/el-dropdown&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow4">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow4 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Dropdown Attributes</h1>
      <el-table
        ref="singleTable"
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Dropdown Slots</h1>
      <el-table
        ref="singleTable"
        :data="slot"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="name">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Dropdown Events</h1>
      <el-table
        ref="singleTable"
        :data="events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名称">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="回调参数">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Dropdown Menu Item Attributes</h1>
      <el-table
        ref="singleTable"
        :data="ItemAttributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
  