<template id="drawer"> 
  <div class="drawer" style="position: relative;height:99%;overflow:auto;" ref="drawer">
    <h1>Drawer 抽屉</h1>
    <h5>有些时候, Dialog 组件并不满足我们的需求, 比如你的表单很长, 亦或是你需要临时展示一些文档, Drawer 拥有和 Dialog 几乎相同的 API, 在 UI 上带来不一样的体验.</h5>
    <h2>基本用法</h2>
    <h5>呼出一个临时的侧边栏, 可以从多个方向呼出</h5>
    <div class="demo-block">
      <div class="source">
        <el-radio-group v-model="direction">
		  <el-radio label="ltr">从左往右开</el-radio>
		  <el-radio label="rtl">从右往左开</el-radio>
		  <el-radio label="ttb">从上往下开</el-radio>
		  <el-radio label="btt">从下往上开</el-radio>
		</el-radio-group>
		
		<el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
		  点我打开
		</el-button>
		
		<el-drawer
		  title="我是标题"
		  :visible.sync="drawer"
		  :direction="direction"
		  :before-close="handleClose">
		  <span>我来啦!</span>
		</el-drawer>
      </div>
      <div class="content" v-if="!isShow">
        <div class="description">
        	需要设置 visible 属性，它的类型是 boolean,当为 true 时显示 Drawer。Drawer 分为两个部分：title 和 body，title 需要具名为 title 的 slot, 也可以通过 title 属性来定义，默认值为空。需要注意的是, Drawer 默认是从右往左打开, 当然可以设置对应的 direction, 详细请参考 direction 用法 最后，本例还展示了 before-close 的用法
        </div>
        <pre><code>
&lt;el-radio-group v-model="direction"&gt;
  &lt;el-radio label="ltr"&gt;从左往右开&lt;/el-radio&gt;
  &lt;el-radio label="rtl"&gt;从右往左开&lt;/el-radio&gt;
  &lt;el-radio label="ttb"&gt;从上往下开&lt;/el-radio&gt;
  &lt;el-radio label="btt"&gt;从下往上开&lt;/el-radio&gt;
&lt;/el-radio-group&gt;

&lt;el-button @click="drawer = true" type="primary" style="margin-left: 16px;"&gt;
  点我打开
&lt;/el-button&gt;

&lt;el-drawer
  title="我是标题"
  :visible.sync="drawer"
  :direction="direction"
  :before-close="handleClose"&gt;
  &lt;span>我来啦!&lt;/span&gt;
&lt;/el-drawer&gt;
&lt;script&gt;
  data() {
    return {
      drawer: false,
      direction: 'rtl',
    };
  },
  methods: {
	handleClose(done) {
      this.$confirm('确认关闭？')
      .then(_ => {
        done();
      })
      .catch(_ => {});
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>自定义内容</h2>
    <h5>和 Dialog 组件一样, Drawer 同样可以在其内部嵌套各种丰富的操作.</h5>
    <div class="demo-block">
      <div class="source">
      	<el-button type="text" @click="table = true">打开嵌套表格的 Drawer</el-button>
		<el-button type="text" @click="dialog = true">打开嵌套 Form 的 Drawer</el-button>
		<el-drawer
		  title="我嵌套了表格!"
		  :visible.sync="table"
		  direction="rtl"
		  size="50%">
		   <el-table :data="gridData">
		      <el-table-column property="date" label="日期" width="150"></el-table-column>
		      <el-table-column property="name" label="姓名" width="200"></el-table-column>
		      <el-table-column property="address" label="地址"></el-table-column>
		    </el-table>
		</el-drawer>
		
		<el-drawer
		  title="我嵌套了 Form !"
		  :before-close="handleClose1"
		  :visible.sync="dialog"
		  direction="ltr"
		  custom-class="demo-drawer"
		  ref="drawer"
		  >
		  <div class="demo-drawer__content">
		    <el-form :model="form">
		      <el-form-item label="活动名称" :label-width="formLabelWidth">
		        <el-input v-model="form.name" autocomplete="off"></el-input>
		      </el-form-item>
		      <el-form-item label="活动区域" :label-width="formLabelWidth">
		        <el-select v-model="form.region" placeholder="请选择活动区域">
		          <el-option label="区域一" value="shanghai"></el-option>
		          <el-option label="区域二" value="beijing"></el-option>
		        </el-select>
		      </el-form-item>
		    </el-form>
		    <div class="demo-drawer__footer">
		      <el-button @click="dialog = false">取 消</el-button>
		      <el-button type="primary" @click="$refs.drawer.closeDrawer()" :loading="loading">{{ loading ? '提交中 ...' : '确 定' }}</el-button>
		    </div>
		  </div>
		</el-drawer>
      </div>
      <div class="content" v-if="!isShow1">
        <pre><code>
&lt;el-button type="text" @click="table = true"&gt;打开嵌套表格的 Drawer&lt;/el-button&gt;
&lt;el-button type="text" @click="dialog = true"&gt;打开嵌套 Form 的 Drawer&lt;/el-button&gt;
&lt;el-drawer
  title="我嵌套了表格!"
  :visible.sync="table"
  direction="rtl"
  size="50%"&gt;
   &lt;el-table :data="gridData"&gt;
      &lt;el-table-column property="date" label="日期" width="150"&gt;&lt;/el-table-column&gt;
      &lt;el-table-column property="name" label="姓名" width="200"&gt;&lt;/el-table-column&gt;
      &lt;el-table-column property="address" label="地址"&gt;&lt;/el-table-column&gt;
    &lt;/el-table&gt;
&lt;/el-drawer&gt;

&lt;el-drawer
  title="我嵌套了 Form !"
  :before-close="handleClose"
  :visible.sync="dialog"
  direction="ltr"
  custom-class="demo-drawer"
  ref="drawer"
  &gt;
  &lt;div class="demo-drawer__content"&gt;
    &lt;el-form :model="form"&gt;
      &lt;el-form-item label="活动名称" :label-width="formLabelWidth"&gt;
        &lt;el-input v-model="form.name" autocomplete="off"&gt;&lt;/el-input&gt;
      &lt;/el-form-item&gt;
      &lt;el-form-item label="活动区域" :label-width="formLabelWidth"&gt;
        &lt;el-select v-model="form.region" placeholder="请选择活动区域"&gt;
          &lt;el-option label="区域一" value="shanghai"&gt;&lt;/el-option&gt;
          &lt;el-option label="区域二" value="beijing"&gt;&lt;/el-option&gt;
        &lt;/el-select&gt;
      &lt;/el-form-item&gt;
    &lt;/el-form&gt;
    &lt;div class="demo-drawer__footer"&gt;
      &lt;el-button @click="dialog = false"&gt;取 消&lt;/el-button&gt;
      &lt;el-button type="primary" @click="$refs.drawer.closeDrawer()" :loading="loading"&gt;{{ loading ? '提交中 ...' : '确 定' }}&lt;/el-button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/el-drawer&gt;
&lt;script&gt;
  data() {
    return {
      table: false,
      dialog: false,
      loading: false,
      gridData: [{
        date: '2016-05-02',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1518 弄'
      }, {
        date: '2016-05-04',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1518 弄'
      }, {
        date: '2016-05-01',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1518 弄'
      }, {
        date: '2016-05-03',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1518 弄'
      }],
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      },
      formLabelWidth: '80px'
    };
  },
  methods: {
    handleClose(done) {
      this.$confirm('确定要提交表单吗？')
        .then(_ => {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            done();
          }, 2000);
        })
        .catch(_ => {});
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>多层嵌套</h2>
    <h5>Drawer 组件也拥有多层嵌套的方法</h5>
    <div class="demo-block">
      <div class="source">
      	<el-button @click="drawer1 = true" type="primary" style="margin-left: 16px;">
		  点我打开
		</el-button>
		
		<el-drawer
		  title="我是外面的 Drawer"
		  :visible.sync="drawer1"
		  size="50%">
		  <div>
		   <el-button @click="innerDrawer = true">打开里面的!</el-button>
		   <el-drawer
		     title="我是里面的"
		     :append-to-body="true"
		     :before-close="handleClose"
		     :visible.sync="innerDrawer">
		     <p>_(:зゝ∠)_</p>
		   </el-drawer>
		  </div>
		</el-drawer>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">同样, 如果你需要嵌套多层 Drawer 请一定要设置 append-to-body 属性为 true</div>
        <pre><code>
&lt;el-button @click="drawer = true" type="primary" style="margin-left: 16px;"&gt;
  点我打开
&lt;/el-button&gt;

&lt;el-drawer
  title="我是外面的 Drawer"
  :visible.sync="drawer"
  size="50%"&gt;
  &lt;div&gt;
   &lt;el-button @click="innerDrawer = true"&gt;打开里面的!&lt;/el-button&gt;
   &lt;el-drawer
     title="我是里面的"
     :append-to-body="true"
     :before-close="handleClose"
     :visible.sync="innerDrawer"&gt;
     &lt;p&gt;_(:зゝ∠)_&lt;/p&gt;
   &lt;/el-drawer&gt;
  &lt;/div&gt;
&lt;/el-drawer&gt;
&lt;script&gt;
    data() {
      return {
        drawer: false,
        innerDrawer: false,
      };
    },
    methods: {
      handleClose(done) {
        this.$confirm('还有未保存的工作哦确定关闭吗？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      }
    }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        ref="singleTable"
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Drawer Slot</h1>
      <el-table
        ref="singleTable"
        :data="data.slot"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="name">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Drawer Methods</h1>
      <el-table
        ref="singleTable"
        :data="data.methods"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="name">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Drawer Events</h1>
      <el-table
        ref="singleTable"
        :data="data.events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名称">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="回调参数">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
    