<template id="data">

 
   <el-container class="positionLayout"> 
     <el-header>
	    <div class="head box-header ">
	      <div class="title">
	        数据权限
	      </div>
	      <div>
	        <el-button type="primary" @click="addRow">新增</el-button>
	        <el-button type="primary" @click="able" :disabled="stateAble">启用</el-button>
	        <el-button type="primary" @click="disable" :disabled="stateDisable">禁用</el-button>
	        <el-button type="primary" @click="del" :disabled="stateDel">删除</el-button>
	      </div>
	    </div>
     </el-header>
   <el-main>
    		<el-table
    			class="positionLayout"
    			height="100%"
		      	ref="multipleTable"
		        :data="tableData"
		        @row-click="rowClick"
		        :row-style="rowClass"
		        border
		        @selection-change="handleSelectionChange"
		        @sort-change="sortChange"
		      >
		        <el-table-column
		          type="index"
		          width="50">
		        </el-table-column>
		        <el-table-column
		          type="selection"
		          width="55" handleSelectionChange>
		        </el-table-column>
		        <el-table-column
		        	prop="ROLENAME"
		          label="数据权限名称"
		          sortable="custom"
		        >
		          <template slot-scope="scope">
		             <span v-show="!scope.row.isShow">{{ scope.row.ROLENAME }}</span>
		          </template>
		        </el-table-column>
		        <el-table-column
		        	prop="XNAME"
		          label="表名/别名/视图名"
		          sortable="custom"
		        >
		          <template slot-scope="scope">
		            <span v-show="!scope.row.isShow">{{ scope.row.XNAME }}</span>
		          </template>
		        </el-table-column>
		        <el-table-column
		        	prop="TJBDS"
		          label="条件表达式"
		          sortable="custom"
		        >
		          <template slot-scope="scope">
		             <span v-show="!scope.row.isShow">{{ scope.row.TJBDS }}</span>
		          </template>
		        </el-table-column>
		        <el-table-column
		        prop="MEMO"
		          label="权限说明"
		          sortable="custom"
		        >
		          <template slot-scope="scope">
		            <span v-show="!scope.row.isShow">{{ scope.row.MEMO }}</span>
		          </template>
		        </el-table-column>
		        <el-table-column
		        	prop="ISENABLED"
		          label="状态"
		          width="80"
		          sortable="custom"
		        >
		          <template slot-scope="scope">
		            <span>{{ scope.row.ISENABLED }}</span>
		          </template>
		        </el-table-column>
		       <el-table-column 
		            label="操作"
		            >
		            <template slot-scope="scope">
		              <el-button
		              	type="primary"
		                v-if="!scope.row.isShow"
		                size="mini"
		                @click.stop="handleEdit(scope.$index, scope.row)">
		                编辑
		              </el-button>
		            
		            </template>
		          </el-table-column>
		      </el-table>
      </el-main>
      <el-footer>
      	<div class="pagination">
	        <el-pagination
	          @size-change="handleSizeChange"
	          @current-change="handleCurrentChange"
	          :current-page="currentPage"
	          :page-sizes="[10,20,30]"
	          :page-size="pageSize"
	          layout="total, sizes, prev, pager, next, jumper"
	          :total=total>
	        </el-pagination>
	      </div>
      </el-footer>
     
     <el-dialog title="Edit" :visible.sync="isDialog" :close-on-click-modal="false" @close="close" v-drag>
          <el-form ref="form" :model="form" :rules="rules" label-position="left" label-width="auto" >
           
            <el-form-item label="数据权限名称" prop="rolename">
              <el-input v-model="form.rolename"></el-input>
            </el-form-item>
            <el-form-item label="表名/别名/视图名" prop="xname">
              <el-input v-model="form.xname"></el-input>
            </el-form-item>
            <el-form-item label="条件表达式" prop="tjbds">
              <el-input v-model="form.tjbds"></el-input>
            </el-form-item>
            <el-form-item label="权限说明" prop="memo">
              <el-input v-model="form.memo"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="cancel">取 消</el-button>
            <el-button type="primary" @click="updateData('form')">确 定</el-button>
          </div>
        </el-dialog>
       </el-container>
</template>
