<template id="datePicker">
  <div class="timePicker" style="height:99%;overflow:auto;" ref="datePicker">
    <h1>DatePicker 日期选择器</h1>
    <h5>用于选择或输入日期</h5>
    <h2>选择日</h2>
    <h5>以「日」为基本单位，基础的日期选择控件</h5>
    <div class="demo-block">
      <div class="source">
        <div style="display: flex;flex-wrap: wrap;">
        	<div class="block">
        		<h5 class="demonstration">默认</h5>
		        <el-date-picker
		            v-model="value1"
		            type="date"
		            format="yyyy 年 MM 月 dd 日"
		            value-format="yyyy-MM-dd"
		            placeholder="选择日期">
		         </el-date-picker>
        	</div>
        	<div class="block">
        	  <h5 class="demonstration">带快捷选项</h5>
	          <el-date-picker
	            v-model="value2"
	            align="right"
	            type="date"
	            placeholder="选择日期"
	            :picker-options="pickerOptions1">
	          </el-date-picker>
        	</div>
        </div>
      </div>
      <div class="content" v-if="!isShow">
        <div class="description">
          基本单位由<code>type</code>属性指定。快捷选项需配置<code>picker-options</code>对象中的<code>shortcuts</code>，禁用日期通过 <code>disabledDate</code>设置，传入函数
        </div>
        <pre><code>
&lt;span class="demonstration"&gt;默认&lt;/span&gt;
&lt;el-date-picker
  v-model="value1"
  type="date"
  placeholder="选择日期"&gt;
&lt;/el-date-picker&gt;
&lt;span class="demonstration"&gt;带快捷选项&lt;/span&gt;
&lt;el-date-picker
  v-model="value2"
  align="right"
  type="date"
  placeholder="选择日期"
  :picker-options="pickerOptions1"&gt;
&lt;/el-date-picker&gt;
&lt;script&gt;
  data() {
    return {
      pickerOptions1: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        },
        shortcuts: [{
          text: '今天',
          onClick(picker) {
            picker.$emit('pick', new Date());
          }
        }, {
          text: '昨天',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() - 3600 * 1000 * 24);
            picker.$emit('pick', date);
          }
        }, {
          text: '一周前',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', date);
          }
        }]
      },
      value1: '',
      value2: '',
    };
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>其他日期单位</h2>
    <h5>通过扩展基础的日期选择，可以选择周、月、年或多个日期</h5>
    <div class="demo-block">
      <div class="source">
        <div style="display: flex;flex-wrap: wrap;">
        	<div class="block">
        		<h5 class="demonstration">周</h5>
		        <el-date-picker
			      v-model="value8"
			      type="week"
			      format="yyyy 第 WW 周"
			      placeholder="选择周">
			    </el-date-picker>
        	</div>
        	<div class="block">
        	  <h5 class="demonstration">年</h5>
	          <el-date-picker
			      v-model="value9"
			      type="year"
			      placeholder="选择年">
			  </el-date-picker>
        	</div>
        </div>
        <div style="display: flex;flex-wrap: wrap;">
        	<div class="block">
        		<h5 class="demonstration">月</h5>
		        <el-date-picker
			      v-model="value10"
			      type="month"
			      placeholder="选择月">
    			</el-date-picker>
        	</div>
        	<div class="block">
        	  <h5 class="demonstration">多个日期</h5>
	          <el-date-picker
			      type="dates"
			      v-model="value11"
			      placeholder="选择一个或多个日期">
			  </el-date-picker>
        	</div>
        </div>
      </div>
      <div class="content" v-if="!isShow4">
        <div class="description">
          
        </div>
        <pre><code>
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;周&lt;/span&gt;
  &lt;el-date-picker
    v-model="value1"
    type="week"
    format="yyyy 第 WW 周"
    placeholder="选择周"&gt;
  &lt;/el-date-picker&gt;
&lt;/div&gt;
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;月&lt;/span&gt;
  &lt;el-date-picker
    v-model="value2"
    type="month"
    placeholder="选择月"&gt;
  &lt;/el-date-picker&gt;
&lt;/div&gt;
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;年&lt;/span&gt;
  &lt;el-date-picker
    v-model="value3"
    type="year"
    placeholder="选择年"&gt;
  &lt;/el-date-picker&gt;
&lt;/div&gt;
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;多个日期&lt;/span&gt;
  &lt;el-date-picker
    type="dates"
    v-model="value4"
    placeholder="选择一个或多个日期"&gt;
  &lt;/el-date-picker&gt;
&lt;/div&gt;
&lt;script&gt;
  data() {
    return {
      value1: '',
      value2: '',
      value3: '',
      value4: ''
    };
  } 
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow4">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow4 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>选择日期范围</h2>
    <h5>可在一个选择器中便捷地选择一个时间范围</h5>
    <div class="demo-block">
      <div class="source">
      	<div style="display: flex;flex-wrap: wrap;justify-content: space-around;">
        	<div>
        		<h5 class="demonstration">默认</h5>
		        <el-date-picker
			      v-model="value12"
			      type="daterange"
			      range-separator="至"
			      start-placeholder="开始日期"
			      end-placeholder="结束日期">
			    </el-date-picker>
        	</div>
        	<div>
        	  <h5 class="demonstration">带快捷选项</h5>
	          <el-date-picker
		            v-model="value3"
		            type="daterange"
		            align="right"
		            unlink-panels
		            range-separator="至"
		            start-placeholder="开始日期"
		            end-placeholder="结束日期"
		            :picker-options="pickerOptions2">
		      </el-date-picker>
        	</div>
        </div>
      </div>
      <div class="content" v-if="!isShow1">
        <div class="description">
          在选择日期范围时，默认情况下左右面板会联动。如果希望两个面板各自独立切换当前月份，可以使用<code>unlink-panels</code>属性解除联动。
        </div>
        <pre><code>
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;默认&lt;/span&gt;
  &lt;el-date-picker
    v-model="value1"
    type="daterange"
    range-separator="至"
    start-placeholder="开始日期"
    end-placeholder="结束日期"&gt;
  &lt;/el-date-picker&gt;
&lt;/div&gt;
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;带快捷选项&lt;/span&gt;
  &lt;el-date-picker
    v-model="value2"
    type="daterange"
    align="right"
    unlink-panels
    range-separator="至"
    start-placeholder="开始日期"
    end-placeholder="结束日期"
    :picker-options="pickerOptions"&gt;
  &lt;/el-date-picker&gt;
&lt;/div&gt;
&lt;script&gt;
  data() {
    return {
      pickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      value1: '',
      value2: ''
    };
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>选择月份范围</h2>
    <h5>可在一个选择器中便捷地选择一个月份范围</h5>
    <div class="demo-block">
      <div class="source">
      	<div style="display: flex;flex-wrap: wrap;justify-content: space-around;">
        	<div>
        		<h5 class="demonstration">默认</h5>
		        <el-date-picker
			      v-model="value13"
			      type="monthrange"
			      range-separator="至"
			      start-placeholder="开始月份"
			      end-placeholder="结束月份">
			    </el-date-picker>
        	</div>
        	<div>
        	  <h5 class="demonstration">带快捷选项</h5>
	          <el-date-picker
			      v-model="value14"
			      type="monthrange"
			      align="right"
			      unlink-panels
			      range-separator="至"
			      start-placeholder="开始月份"
			      end-placeholder="结束月份"
			      :picker-options="pickerOptions3">
			    </el-date-picker>
        	</div>
        </div>
      </div>
      <div class="content" v-if="!isShow5">
        <div class="description">
         在选择月份范围时，默认情况下左右面板会联动。如果希望两个面板各自独立切换当前年份，可以使用<code>unlink-panels</code>属性解除联动。
        </div>
        <pre><code>
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;默认&lt;/span&gt;
  &lt;el-date-picker
    v-model="value1"
    type="monthrange"
    range-separator="至"
    start-placeholder="开始月份"
    end-placeholder="结束月份"&gt;
  &lt;/el-date-picker&gt;
&lt;/div&gt;
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;带快捷选项&lt;/span&gt;
  &lt;el-date-picker
    v-model="value2"
    type="monthrange"
    align="right"
    unlink-panels
    range-separator="至"
    start-placeholder="开始月份"
    end-placeholder="结束月份"
    :picker-options="pickerOptions"&gt;
  &lt;/el-date-picker&gt;
&lt;/div&gt;
&lt;script&gt;
  data() {
    return {
      pickerOptions: {
        shortcuts: [{
          text: '本月',
          onClick(picker) {
            picker.$emit('pick', [new Date(), new Date()]);
          }
        }, {
          text: '今年至今',
          onClick(picker) {
            const end = new Date();
            const start = new Date(new Date().getFullYear(), 0);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近六个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setMonth(start.getMonth() - 6);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      value1: '',
      value2: ''
    };
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow5">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow5 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>默认显示日期</h2>
    <h5>在选择日期范围时，指定起始日期和结束日期的默认时刻。</h5>
    <div class="demo-block">
      <div class="source">
        <div style="width:460px;">
          <p class="demonstration">组件值：{{ value4 }}</p>
          <el-date-picker
            v-model="value4"
            type="daterange"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
        </div>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">
          选择日期范围时，默认情况下，起始日期和结束日期的时间部分均为当天的 0 点 0 分 0 秒。通过<code>default-time</code>可以分别指定二者的具体时刻。<code>default-time</code>接受一个数组，其中的值为形如<code>12:00:00</code>的字符串，第一个值控制起始日期的时刻，第二个值控制结束日期的时刻。
        </div>
        <pre><code>
&lt;p&gt;组件值：{{ value }}&lt;/p&gt;
&lt;el-date-picker
  v-model="value"
  type="daterange"
  start-placeholder="开始日期"
  end-placeholder="结束日期"
  :default-time="['00:00:00', '23:59:59']"&gt;
&lt;/el-date-picker&gt;

&lt;script&gt;
  data() {
    return {
      value: ''
    };
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>日期格式</h2>
    <h5>使用format指定输入框的格式；使用value-format指定绑定值的格式。</h5>
    <h5>默认情况下，组件接受并返回Date对象。以下为可用的格式化字串，以 UTC 2017年1月2日 03:04:05 为例：</h5>
    <div class="demo-block">
      <div class="source">
        <div style="display: flex;flex-wrap: wrap;justify-content: space-around;">
        	<div>
        	  <h5 class="demonstration">默认为 Date 对象</h5>
	          <div class="demonstration">值：{{ value5 }}</div>
	          <el-date-picker
	            v-model="value5"
	            type="date"
	            placeholder="选择日期"
	            format="yyyy 年 MM 月 dd 日">
	          </el-date-picker>
        	</div>
        	<div>
        	  <h5 class="demonstration">使用 value-format</h5>
	          <div class="demonstration">值：{{ value6 }}</div>
	          <el-date-picker
	            v-model="value6"
	            type="date"
	            placeholder="选择日期"
	            format="yyyy 年 MM 月 dd 日"
	            value-format="yyyy-MM-dd">
	          </el-date-picker>
        	</div>
        	<div>
        	  <h5 class="demonstration">时间戳</h5>
	          <div class="demonstration">值：{{ value7 }}</div>
	          <el-date-picker
	            v-model="value7"
	            type="date"
	            placeholder="选择日期"
	            format="yyyy 年 MM 月 dd 日"
	            value-format="timestamp">
	          </el-date-picker>
        	</div>
        </div>
      </div>
      <div class="content" v-if="!isShow3">
        <pre><code>
&lt;h5 class="demonstration"&gt;默认为 Date 对象&lt;/h5&gt;
&lt;div class="demonstration"&gt;值：{{ value1 }}&lt;/div&gt;
&lt;el-date-picker
  v-model="value1"
  type="date"
  placeholder="选择日期"
  format="yyyy 年 MM 月 dd 日"&gt;
&lt;/el-date-picker&gt;
&lt;h5 class="demonstration"&gt;使用 value-format&lt;/h5&gt;
&lt;div class="demonstration"&gt;值：{{ value2 }}&lt;/div&gt;
&lt;el-date-picker
  v-model="value2"
  type="date"
  placeholder="选择日期"
  format="yyyy 年 MM 月 dd 日"
  value-format="yyyy-MM-dd"&gt;
&lt;/el-date-picker&gt;
&lt;h5 class="demonstration"&gt;时间戳&lt;/h5&gt;
&lt;div class="demonstration"&gt;值：{{ value3 }}&lt;/div&gt;
&lt;el-date-picker
  v-model="value3"
  type="date"
  placeholder="选择日期"
  format="yyyy 年 MM 月 dd 日"
  value-format="timestamp"&gt;
&lt;/el-date-picker&gt;
  
  &lt;script&gt;
    data() {
      return { 
        value1: '',
        value2: '',
        value3: ''
      };
    }
  &lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
        >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Shortcuts</h1>
      <el-table
        :data="Shortcuts"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
        >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Time Picker Options</h1>
      <el-table
        :data="PickerOptions"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
        >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Events</h1>
      <el-table
        :data="events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Methods</h1>
      <el-table
        :data="methods"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="方法名"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
