<template id="top">
  <div style="height:99%;overflow:auto;" ref="backTop" class="top">
    <h1>Backtop 回到顶部</h1>
    <h5>返回页面顶部的操作按钮</h5>
    <h2>基础用法</h2>
    <h5>滑动页面即可看到右下方的按钮。</h5>
    <div class="demo-block">
      <div class="source">
      	<p>向下滚动查看右下角按钮</p>
      	<el-backtop target=".top" :visibility-height="10"></el-backtop>
      </div>
      <div class="content" v-if="!isShow">
        <pre><code>&lt;el-backtop target=".page-component__scroll .el-scrollbar__wrap"&gt;&lt;/el-backtop&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>自定义显示内容</h2>
    <h5>显示区域被固定为 40px * 40px 的区域, 其中的内容可支持自定义。</h5>
    <div class="demo-block">
      <div class="source">
      		<p>向下滚动查看右下角按钮</p>
      	  <el-backtop target=".top" :bottom="100">
		    <div
		      style="{
		        height: 100%;
		        width: 100%;
		        background-color: #f2f5f6;
		        box-shadow: 0 0 6px rgba(0,0,0, .12);
		        text-align: center;
		        line-height: 40px;
		        color: #1989fa;
		      }"
		    >
		      UP
		    </div>
		  </el-backtop>
      </div>
      <div class="content" v-if="!isShow1">
        <pre><code>&lt;el-backtop target=".page-component__scroll .el-scrollbar__wrap" :bottom="100"&gt;
  &lt;div
    style="{
      height: 100%;
      width: 100%;
      background-color: #f2f5f6;
      box-shadow: 0 0 6px rgba(0,0,0, .12);
      text-align: center;
      line-height: 40px;
      color: #1989fa;
    }"
  &gt;
    UP
  &lt;/div&gt;
&lt;/el-backtop&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
     <div id="table">
      <h1>Attributes</h1>
      <el-table
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
          >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
          >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
          >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
          >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Events</h1>
      <el-table
        :data="events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名称">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="回调参数">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
  