<template id="button">
  <div style="height:99%;overflow:auto;" ref="button">
    <h1>Button 按钮</h1>
    <h5>常用的操作按钮</h5>
    <h2>基础用法</h2>
    <h5>基础的按钮用法</h5>
    <div class="demo-block">
      <div class="source">
        <el-row>
          <el-button>默认按钮</el-button>
          <el-button type="primary">主要按钮</el-button>
          <el-button type="success">成功按钮</el-button>
          <el-button type="info">信息按钮</el-button>
          <el-button type="warning">警告按钮</el-button>
          <el-button type="danger">危险按钮</el-button>
        </el-row>
        <el-row>
          <el-button>朴素按钮</el-button>
          <el-button type="primary" plain>主要按钮</el-button>
          <el-button type="success" plain>成功按钮</el-button>
          <el-button type="info" plain>信息按钮</el-button>
          <el-button type="warning" plain>警告按钮</el-button>
          <el-button type="danger" plain>危险按钮</el-button>
        </el-row>
        <el-row>
          <el-button>圆角按钮</el-button>
          <el-button type="primary" round>主要按钮</el-button>
          <el-button type="success" round>成功按钮</el-button>
          <el-button type="info" round>信息按钮</el-button>
          <el-button type="warning" round>警告按钮</el-button>
          <el-button type="danger" round>危险按钮</el-button>
        </el-row>
        <el-row>
          <el-button icon="el-icon-search" circle></el-button>
          <el-button type="primary" icon="el-icon-edit" circle></el-button>
          <el-button type="success" icon="el-icon-check" circle></el-button>
          <el-button type="info" icon="el-icon-message" circle></el-button>
          <el-button type="warning" icon="el-icon-star-off" circle></el-button>
          <el-button type="danger" icon="el-icon-delete" circle></el-button>
        </el-row>
        <h5>切换效果</h5>
        <el-button :style="{background:cutColor}" @click="cutBtn" style="color:#fff;">点击切换</el-button>
      </div>
      <div class="content" v-if="!isShow">
      	<div class="description">
     	 使用<code>type、plain、round</code>和<code>circle</code>属性来定义 Button 的样式。
         </div>
        <pre><code>
&lt;el-row&gt;
  &lt;el-button&gt;默认按钮&lt;/el-button&gt;
  &lt;el-button type="primary" plain&gt;主要按钮&lt;/el-button&gt;
  &lt;el-button type="success"&gt;成功按钮&lt;/el-button&gt;
  &lt;el-button type="info"&gt;信息按钮&lt;/el-button&gt;
  &lt;el-button type="warning"&gt;警告按钮&lt;/el-button&gt;
  &lt;el-button type="danger"&gt;危险按钮&lt;/el-button&gt;
&lt;/el-row&gt;

&lt;el-row&gt;
  &lt;el-button plain&gt;朴素按钮&lt;/el-button&gt;
  &lt;el-button type="primary" plain&gt;主要按钮&lt;/el-button&gt;
  &lt;el-button type="success" plain&gt;成功按钮&lt;/el-button&gt;
  &lt;el-button type="info" plain&gt信息按钮&lt;/el-button&gt;
  &lt;el-button type="warning" plain&gt;警告按钮&lt;/el-button&gt;
  &lt;el-button type="danger" plain&gt;危险按钮&lt;/el-button&gt;
&lt;/el-row&gt;

&lt;el-row&gt;
  &lt;el-button round&gt;圆角按钮&lt;/el-button&gt;
  &lt;el-button type="primary" round&gt;主要按钮&lt;/el-button&gt;
  &lt;el-button type="success" round&gt;成功按钮&lt;/el-button&gt;
  &lt;el-button type="info" round&gt信息按钮&lt;/el-button&gt;
  &lt;el-button type="warning" round&gt;警告按钮&lt;/el-button&gt;
  &lt;el-button type="danger" round&gt;危险按钮&lt;/el-button&gt;
&lt;/el-row&gt;

&lt;el-row&gt;
  &lt;el-button icon="el-icon-search" circle&gt;&lt;/el-button&gt;
  &lt;el-button type="primary" icon="el-icon-edit" circle&gt;&lt;/el-button&gt;
  &lt;el-button type="success" icon="el-icon-check" circle&gt;&lt;/el-button&gt;
  &lt;el-button type="info" icon="el-icon-message" circle&gt&lt;/el-button&gt;
  &lt;el-button type="warning" icon="el-icon-star-off" circle&gt;&lt;/el-button&gt;
  &lt;el-button type="danger" icon="el-icon-delete" circle&gt;&lt;/el-button&gt;
&lt;/el-row&gt;

&lt;h5&gt;切换效果&lt;/h5&gt;
&lt;el-button :style="{background:cutColor}" @click="cutBtn" style="color:#fff;"&gt;点击切换&lt;/el-button&gt;
&lt;script&gt;
  data() {
    return {
      cutColor: 'blue',
    }
  },
  methods: {
    cutBtn() {
      this.isCut = !this.isCut;
      if (!this.isCut) {
        this.cutColor = 'blue'
      } else {
        this.cutColor = 'red'
      }
    }
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
     <h2>禁用状态</h2>
    <h5>按钮不可用状态</h5>
    <div class="demo-block">
      <div class="source">
        <el-row>
          <el-button disabled>默认按钮</el-button>
          <el-button type="primary" disabled>主要按钮</el-button>
          <el-button type="success" disabled>成功按钮</el-button>
          <el-button type="info" disabled>信息按钮</el-button>
          <el-button type="warning" disabled>警告按钮</el-button>
          <el-button type="danger" disabled>危险按钮</el-button>
        </el-row>
        <el-row>
          <el-button disabled>朴素按钮</el-button>
          <el-button type="primary" plain disabled>主要按钮</el-button>
          <el-button type="success" plain disabled>成功按钮</el-button>
          <el-button type="info" plain disabled>信息按钮</el-button>
          <el-button type="warning" plain disabled>警告按钮</el-button>
          <el-button type="danger" plain disabled>危险按钮</el-button>
        </el-row>
      </div>
      <div class="content" v-if="!isShow1">
      	<div class="description">
      	你可以使用<code>disabled</code>属性来定义按钮是否可用，它接受一个<code>Boolean</code>值。
         </div>
        <pre><code>
&lt;el-row&gt;
  &lt;el-button disabled&gt;默认按钮&lt;/el-button&gt;
  &lt;el-button type="primary" disabled&gt;主要按钮&lt;/el-button&gt;
  &lt;el-button type="success" disabled&gt;成功按钮&lt;/el-button&gt;
  &lt;el-button type="info" disabled&gt;信息按钮&lt;/el-button&gt;
  &lt;el-button type="warning" disabled&gt;警告按钮&lt;/el-button&gt;
  &lt;el-button type="danger" disabled&gt;危险按钮&lt;/el-button&gt;
&lt;/el-row&gt;

&lt;el-row&gt;
  &lt;el-button plain disabled&gt;朴素按钮&lt;/el-button&gt;
  &lt;el-button type="primary" plain disabled&gt;主要按钮&lt;/el-button&gt;
  &lt;el-button type="success" plain disabled&gt;成功按钮&lt;/el-button&gt;
  &lt;el-button type="info" plain disabled&gt;信息按钮&lt;/el-button&gt;
  &lt;el-button type="warning" plain disabled&gt;警告按钮&lt;/el-button&gt;
  &lt;el-button type="danger" plain disabled&gt;危险按钮&lt;/el-button&gt;
&lt;/el-row&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>文字按钮</h2>
    <h5>没有边框和背景色的按钮。</h5>
    <div class="demo-block">
      <div class="source">
      	<el-button type="text">文字按钮</el-button>
		<el-button type="text" disabled>文字按钮</el-button>
      </div>
      <div class="content" v-if="!isShow2">
        <pre>
          <code>
              &lt;el-button type="text"&gt;文字按钮&lt;/el-button&gt;
              &lt;el-button type="text" disabled&gt;文字按钮&lt;/el-button&gt;
          </code>
        </pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>图标按钮</h2>
    <h5>带图标的按钮可增强辨识度（有文字）或节省空间（无文字）。</h5>
    <div class="demo-block">
      <div class="source">
      	<el-button type="primary" icon="el-icon-edit"></el-button>
		<el-button type="primary" icon="el-icon-share"></el-button>
		<el-button type="primary" icon="el-icon-delete"></el-button>
		<el-button type="primary" icon="el-icon-search el-icon--left">搜索</el-button>
		<el-button type="primary">上传<i class="el-icon-upload el-icon--right"></i></el-button>
      </div>
      <div class="content" v-if="!isShow3">
      	<div class="description">
      	设置<code>icon</code>属性即可，icon 的列表可以参考 Element 的 icon 组件，也可以设置在文字右边的 icon ，只要使用<code>i</code>标签即可，可以使用自定义图标。
         </div>
        <pre><code>
&lt;el-button type="primary" icon="el-icon-edit"&gt;&lt;/el-button&gt;
&lt;el-button type="success" icon="el-icon-share"&gt;&lt;/el-button&gt;
&lt;el-button type="info" icon="el-icon-delete"&gt;&lt;/el-button&gt;
&lt;el-button type="warning" icon="el-icon-search"&gt;搜索&lt;/el-button&gt;
&lt;el-button type="danger"&gt;上传&lt;i class="el-icon-upload el-icon--right"&gt;&lt;/i&gt;&lt;/el-button&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>按钮组</h2>
    <h5>以按钮组的方式出现，常用于多项类似操作。</h5>
    <div class="demo-block">
      <div class="source">
      	<el-button-group>
		  <el-button type="primary" icon="el-icon-arrow-left  el-icon--left">上一页</el-button>
		  <el-button type="primary">下一页<i class="el-icon-arrow-right el-icon--right"></i></el-button>
		</el-button-group>
		<el-button-group>
		  <el-button type="primary" icon="el-icon-edit"></el-button>
		  <el-button type="primary" icon="el-icon-share"></el-button>
		  <el-button type="primary" icon="el-icon-delete"></el-button>
		</el-button-group>
      </div>
      <div class="content" v-if="!isShow4">
        <pre><code>
&lt;el-button-group&gt;
  &lt;el-button type="primary" icon="el-icon-arrow-left"&lt;上一页&lt;/el-button&gt;
  &lt;el-button type="primary"&gt;下一页&lt;i class="el-icon-arrow-right el-icon--right"&lt;&lt;/i&gt;&lt;/el-button&gt;
&lt;/el-button-group&gt;
&lt;el-button-group&gt;
  &lt;el-button type="primary" icon="el-icon-edit"&gt;&lt;/el-button&gt;
  &lt;el-button type="primary" icon="el-icon-share"&gt;&lt;/el-button&gt;
  &lt;el-button type="primary" icon="el-icon-delete"&gt;&lt;/el-button&gt;
&lt;/el-button-group&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow4">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow4 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>加载中</h2>
    <h5>点击按钮后进行数据加载操作，在按钮上显示加载状态。</h5>
    <div class="demo-block">
      <div class="source">
      	<el-button type="primary" :loading="true">加载中</el-button>
      </div>
      <div class="content" v-if="!isShow5">
      	<div class="description">
      	要设置为 <code>loading</code> 状态，只要设置<code>loading</code>属性为<code>true</code>即可。
         </div>
        <pre>
          <code>
             &lt;el-button type="primary" :loading="true"&gt;加载中&lt;/el-button&gt;
          </code>
        </pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow5">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow5 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>不同尺寸</h2>
    <h5>Button 组件提供除了默认值以外的三种尺寸，可以在不同场景下选择合适的按钮尺寸。</h5>
    <div class="demo-block">
      <div class="source">
      	<el-row>
		  <el-button>默认按钮</el-button>
		  <el-button size="medium">中等按钮</el-button>
		  <el-button size="small">小型按钮</el-button>
		  <el-button size="mini">超小按钮</el-button>
		</el-row>
		<el-row>
		  <el-button round>默认按钮</el-button>
		  <el-button size="medium" round>中等按钮</el-button>
		  <el-button size="small" round>小型按钮</el-button>
		  <el-button size="mini" round>超小按钮</el-button>
		</el-row>
      </div>
      <div class="content" v-if="!isShow6">
      	<div class="description">
      	额外的尺寸：<code>medium、small、mini</code>，通过设置<code>size</code>属性来配置它们。
         </div>
        <pre><code>
&lt;el-row&gt;
  &lt;el-button&gt;默认按钮&lt;/el-button&gt;
  &lt;el-button size="medium"&gt;主要按钮&lt;/el-button&gt;
  &lt;el-button size="small"&gt;成功按钮&lt;/el-button&gt;
  &lt;el-button size="mini"&gt;信息按钮&lt;/el-button&gt;
&lt;/el-row&gt;
       
&lt;el-row&gt;
  &lt;el-button round&gt;默认按钮&lt;/el-button&gt;
  &lt;el-button size="medium" round&gt;主要按钮&lt;/el-button&gt;
  &lt;el-button size="small" round&gt;成功按钮&lt;/el-button&gt;
  &lt;el-button size="mini" round&gt;信息按钮&lt;/el-button&gt;
&lt;/el-row&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow6">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow6 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div>
      <h1>Attributes</h1>
      <el-table
        ref="singleTable"
        :data="tableData"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
          >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
          >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
          >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
          >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
