<template id="dynamicTable">
	<div style="width:100%;height:100%;position:relative;">
		<!-- 
			1.参数说明：表格数据
			2.参数说明： 表头数据
			3.参数说明： 是否显示切换菜单
		 -->
		<div style="text-align:right;margin-bottom:20px;" v-if="show">
      		<el-popover
			  placement="bottom"
			  width="140"
			  trigger="click">
			   <el-checkbox v-model="item.selected" v-for="(item,index) in selectList" :key="index">{{ item.label }}</el-checkbox>
			  <el-button slot="reference" type="primary" icon="el-icon-menu"></el-button>
			</el-popover>
      	</div>
		<el-table :data="tableData" border fit highlight-current-row style="width: 100%" height="100%" :class="show ? 'positiontable' : 'positionLayout'">
          <el-table-column type="index" width="50"/>
          <el-table-column :width="item.width ? item.width : ''" :resizable="item.resizable ? item.resizable : ''" :show-overflow-tooltip="item.tooltip ? item.tooltip : false" v-for="(item,index) in selectList" :key="index" :label="item.label" v-if="item.selected">
            <template slot-scope="scope">
              {{ scope.row[item.value] }}
            </template>
          </el-table-column>
        </el-table>
	</div>
</template>