<template id="rate">
	<div class="layout" style="height:99%;overflow:auto;" ref="rate">
    <h1>Rate 评分</h1>
    <h5>评分组件</h5>
    <h2>基础用法</h2>
    <div class="demo-block">
      <div class="source">
          <div class="block">
			  <span class="demonstration">默认不区分颜色</span>
			  <el-rate v-model="value1"></el-rate>
		 </div>
		 <div class="block">
			  <span class="demonstration">区分颜色</span>
			  <el-rate
			    v-model="value2"
			    :colors="colors">
			  </el-rate>
		  </div>
      </div>
      <div class="content" v-if="!isShow">
      	<div class="description">评分默认被分为三个等级，可以利用颜色数组对分数及情感倾向进行分级（默认情况下不区分颜色）。三个等级所对应的颜色用<code>colors</code>属性设置，而它们对应的两个阈值则通过 <code>low-threshold</code> 和 <code>high-threshold </code>设定。你也可以通过传入颜色对象来自定义分段，键名为分段的界限值，键值为对应的颜色。</div>
        <pre><code>
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;默认不区分颜色&lt;/span&gt;
  &lt;el-rate v-model="value1"&gt;&lt;/el-rate&gt;
&lt;/div&gt;
&lt;div class="block"&gt;
  &lt;span class="demonstration"&gt;区分颜色&lt;/span&gt;
  &lt;el-rate
    v-model="value2"
    :colors="colors"&gt;
  &lt;/el-rate&gt;
&lt;/div&gt;
&lt;script&gt;
  data() {
    return {
      value1: null,
      value2: null,
      colors: ['#99A9BF', '#F7BA2A', '#FF9900']  // 等同于 { 2: '#99A9BF', 4: { value: '#F7BA2A', excluded: true }, 5: '#FF9900' }
    }
  }
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>辅助文字</h2>
    <h5>用辅助文字直接地表达对应分数</h5>
    <div class="demo-block">
      <div class="source">
          <el-rate
			  v-model="value"
			  show-text>
		  </el-rate>
      </div>
      <div class="content" v-if="!isShow1">
      	<div class="description">为组件设置 <code>show-text</code> 属性会在右侧显示辅助文字。通过设置 <code>texts </code>可以为每一个分值指定对应的辅助文字。<code>texts</code> 为一个数组，长度应等于最大值 <code>max</code>。</div>
        <pre><code>
&lt;el-rate
  v-model="value"
  show-text&gt;
&lt;/el-rate&gt;
&lt;script&gt;
  data() {
    return {
      value: null
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>其他icon</h2>
    <h5>当有多层评价时，可以用不同类型的 icon 区分评分层级</h5>
    <div class="demo-block">
      <div class="source">
        <el-rate
		  v-model="value3"
		  :icon-classes="iconClasses"
		  void-icon-class="icon-rate-face-off"
		  :colors="['#99A9BF', '#F7BA2A', '#FF9900']">
		</el-rate>
      </div>
      <div class="content" v-if="!isShow2">
      	<div class="description">设置<code>icon-classes</code>属性可以自定义不同分段的图标。若传入数组，共有 3 个元素，为 3 个分段所对应的类名；若传入对象，可自定义分段，键名为分段的界限值，键值为对应的类名。本例还使用<code>void-icon-class</code>指定了未选中时的图标类名。</div>
        <pre><code>
&lt;el-rate
  v-model="value"
  :icon-classes="iconClasses"
  void-icon-class="icon-rate-face-off"
  :colors="['#99A9BF', '#F7BA2A', '#FF9900']"&gt;
&lt;/el-rate&gt;
&lt;script&gt;
  data() {
    return {
      value: null,
      iconClasses: ['icon-rate-face-1', 'icon-rate-face-2', 'icon-rate-face-3'] // 等同于 { 2: 'icon-rate-face-1', 4: { value: 'icon-rate-face-2', excluded: true }, 5: 'icon-rate-face-3' }
    }
  }
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>只读</h2>
    <h5>只读的评分用来展示分数，允许出现半星</h5>
    <div class="demo-block">
      <div class="source">
         <el-rate
		  v-model="value4"
		  disabled
		  show-score
		  text-color="#ff9900"
		  score-template="{value}">
		</el-rate>
      </div>
      <div class="content" v-if="!isShow3">
      	<div class="description">为组件设置 <code>disabled</code> 属性表示组件为只读，支持小数分值。此时若设置 <code>show-score</code>，则会在右侧显示目前的分值。可以提供 <code>score-template</code> 作为显示模板，模板为一个包含了<code>{value}</code>的字符串，<code>{value}</code>会被解析为分值。</div>
        <pre><code>
&lt;el-rate
  v-model="value"
  disabled
  show-score
  text-color="#ff9900"
  score-template="{value}"&gt;
&lt;/el-rate&gt;

&lt;script&gt;
  data() {
    return {
      value: 3.7
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        ref="singleTable"
        :data="Attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Events</h1>
      <el-table
        :data="events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名称">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="回调参数">
        </el-table-column>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>