<template id="GenerateElement">
	<div style="width:100%;height:100%;">
		<el-form ref="generateForm" 
		  style="width:100%;height:100%;"
	      label-suffix=":"
	      :size="data.config.size"
	      :model="models" :rules="rules" :label-position="data.config.labelPosition" :label-width="data.config.labelWidth + 'px'">
	      <template v-for="item in data.list">
	
	        <template v-if="item.type == 'grid' || item.type == 'formitem'">
	          <el-row
	            :key="item.key"
	            type="flex"
	            :gutter="item.options.gutter ? item.options.gutter : 0"
	            :justify="item.options.justify"
	            :align="item.options.align"
	          >
	            <el-col v-for="(col, colIndex) in item.columns" :key="colIndex" :span="col.span">
	              
	
	              <template v-for="citem in col.list" >
	                <el-form-item v-if="citem.type=='blank'" :label="citem.name" :prop="citem.model" :key="citem.key">
	                  <slot :name="citem.model" :model="models"></slot>
	                </el-form-item>
	                <genetate-element-item v-else 
	                  :key="citem.key" 
	                  :models.sync="models" 
	                  :remote="remote" 
	                  :rules="rules" 
	                  :widget="citem"
	                  @input-change="onInputChange">
	                </genetate-element-item>
	              </template>
	            </el-col>
	          </el-row>
	        </template>
	        <!-- <template v-if="item.type == 'container-row'">
	          <el-container class="nnnn">	
	          	<template class="bbb" style="height:100%;" v-for="(col, colIndex) in item.columns" :key="colIndex" :style="{width:col.width}">
	              
	
	              <template v-for="citem in col.list" >
	                <genetate-element-item
	                  :key="citem.key" 
	                  :models.sync="models" 
	                  :remote="remote" 
	                  :rules="rules" 
	                  :widget="citem"
	                  @input-change="onInputChange">
	                </genetate-element-item>
	              </template>
	            </template>
	          </el-container>
	        </template> -->
			<template v-else-if="item.type == 'container'">
	          <el-container style="display:block;">
	          	<template v-for="(col, colIndex) in item.columns">
	              
	
	              <template v-for="citem in col.list" >
	                <genetate-element-item
	                  :key="citem.key" 
	                  :models.sync="models" 
	                  :remote="remote" 
	                  :rules="rules" 
	                  :widget="citem"
	                  @input-change="onInputChange">
	                </genetate-element-item>
	              </template>
	            </template>
	          </el-container>
	        </template>
	        <!-- <template v-if="item.type == 'footer'">
	          <el-footer
	            :key="item.key"
	            
	          >
	            <template v-for="(col, colIndex) in item.columns">
	              
	
	              <template v-for="citem in col.list" >
	                <el-form-item v-if="citem.type=='blank'" :label="citem.name" :prop="citem.model" :key="citem.key">
	                  <slot :name="citem.model" :model="models"></slot>
	                </el-form-item>
	                <genetate-element-item v-else 
	                  :key="citem.key" 
	                  :models.sync="models" 
	                  :remote="remote" 
	                  :rules="rules" 
	                  :widget="citem"
	                  @input-change="onInputChange">
	                </genetate-element-item>
	              </template>
	            </template>
	          </el-footer>
	        </template> -->
	        <template v-else-if="item.type == 'blank'">
	          <el-form-item :label="item.name" :prop="item.model" :key="item.key">
	            <slot :name="item.model" :model="models"></slot>
	          </el-form-item>
	        </template>
			
	        <template v-else>
	          <genetate-element-item 
	            :key="item.key" 
	            :models.sync="models" 
	            :rules="rules" 
	            :widget="item" 
	            @input-change="onInputChange"
	            :remote="remote">
	          </genetate-element-item>
	        </template>
	        
	      </template>
	    </el-form>
	</div>
</template>