<template id="theme">
    <el-container class="theme editor-color" style="height:97%;overflow:hidden;margin-top: 10px;">
   		<el-header class="title" height="60px">
   			<el-row type="flex" justify="space-between">
   				<el-col :span="12"><p>设置主题</p></el-col>
   				<el-col :span="12" style="text-align: right;"><el-button type="primary" @click="save">保存</el-button></el-col>
   			</el-row>
   			<div class="line"></div>
   		</el-header>
   		<el-main class="main" style="overflow-y: auto;padding: 0 16px 15px;overflow-x: hidden;">
   			<div>
   				<p style="color: #606266;font-size: 14px;padding: 18px 0;">系统图标</p>
   				
   				<el-upload
   					ref="upload"
   					accept="image/png,image/jpg,image/jpeg"
				  class="avatar-uploader"
				  :action="url"
				  :show-file-list="false"
				  :on-success="handleAvatarSuccess"
				  :auto-upload="false"
				  :on-change="onChange"
				  :before-upload="beforeAvatarUpload">
				  <img v-if="imageUrl" :src="imageUrl" class="avatar">
				  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
				</el-upload>
   			</div>
   			<div style="margin-top:20px;">
   				<el-form :model="colorForm" label-width="100px">
   					<el-row :gutter="40">
   						<el-col :span="8">
   							<el-form-item label="系统名称">
			                    <el-input v-model="colorForm.programName" placeholder=""></el-input>
			                  </el-form-item>
   						</el-col>
   						<el-col :span="8">
   							<el-form-item label="菜单类型">
	            				<el-switch
						              v-model="colorForm.isShowMainMenu"
						              active-text="一级菜单显示"
						              inactive-text="一级菜单隐藏">
				            	</el-switch>
	            			</el-form-item>
   						</el-col>
   					</el-row>
   				</el-form>
   			</div>
   			<div>
   				<span class="category-name">类型 颜色</span>
   				<div class="config">
   					<div class="config-label">
   						<span class="el-tooltip">主题色</span>
   					</div>
   					<div class="config-content">
   						<el-row type="flex" :gutter="40">
   							<el-col :span="8">
   								<el-row type="flex" justify="space-around">
   									<el-col :span="20" class="theme-color">
	    								<div @click="clickPicker('colorPicker')"><el-input v-model="colorForm.primaryColor" placeholder="请输入内容" :readonly="true"></el-input></div>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.primaryColor" ref="colorPicker"></el-color-picker>
	    							</el-col>
   								</el-row>
   							</el-col>
   						</el-row>
   					</div>
   				</div>
   			</div>
   			<div>
   				<span class="category-name">页面 颜色</span>
   				<el-row :gutter="40">
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">页头(页尾) 颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20" class="theme-color">
	    								<div @click="clickPicker('colorPicker1')"><el-input v-model="colorForm.headerColor" placeholder="请输入内容" :readonly="true"></el-input></div>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.headerColor" ref="colorPicker1"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">导航菜单 颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20" class="theme-color">
	    								<div @click="clickPicker('colorPicker2')"><el-input v-model="colorForm.menuColor" placeholder="请输入内容" :readonly="true"></el-input></div>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.menuColor" ref="colorPicker2"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   				</el-row>
   			</div>
   			<div>
   				<span class="category-name">功能  颜色</span>
  					<el-row :gutter="40">
  						<el-col :span="8">
  							<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">成功颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20" class="theme-color">
	    								<div @click="clickPicker('colorPicker3')"><el-input v-model="colorForm.successColor" placeholder="请输入内容" :readonly="true"></el-input></div>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.successColor" ref="colorPicker3"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
  						</el-col>
  						<el-col :span="8">
  							<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">警告颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20" class="theme-color">
	    								<div @click="clickPicker('colorPicker4')"><el-input v-model="colorForm.warningColor" placeholder="请输入内容" :readonly="true"></el-input></div>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.warningColor" ref="colorPicker4"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
  						</el-col>
  						<el-col :span="8">
  							<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">危险颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20" class="theme-color">
	    								<div @click="clickPicker('colorPicker5')"><el-input v-model="colorForm.dangerColor" placeholder="请输入内容" :readonly="true"></el-input></div>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.dangerColor" ref="colorPicker5"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
  						</el-col>
  					</el-row>
  					<el-row :gutter="40">
  						<el-col :span="8">
  							<div class="config">
    					<div class="config-label">
    						<span class="el-tooltip">信息颜色</span>
    					</div>
    					<div class="config-content">
    						<el-row type="flex" justify="space-around">
    							<el-col :span="20" class="theme-color">
    								<div @click="clickPicker('colorPicker6')"><el-input v-model="colorForm.infoColor" placeholder="请输入内容" :readonly="true"></el-input></div>
    							</el-col>
    							<el-col :span="4" style="text-align:right;">
    								<el-color-picker v-model="colorForm.infoColor" ref="colorPicker6"></el-color-picker>
    							</el-col>
    						</el-row>
    					</div>
    				</div>
  						</el-col>
  					</el-row>
   			</div>
   			<!-- <div>
   				<span class="category-name">字体  颜色</span>
   				<el-row :gutter="40">
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">主要文字颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.primaryTextColor" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.primaryTextColor"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">常规文字颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.regularTextColor" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.regularTextColor"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">次要文字颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.secondaryTextColor" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.secondaryTextColor"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   				</el-row>
   				<el-row :gutter="40">
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">占位文字颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.placeholderTextColor" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.placeholderTextColor"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   				</el-row>
   			</div> -->
   			<div>
   				<span class="category-name">边框 颜色</span>
   				<el-row :gutter="40">
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">一级边框颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.baseColor" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.baseColor"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   					<!-- <el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">二级边框颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.lightColor" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.lightColor"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col> -->
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">二级边框颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.lighterColor" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.lighterColor"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   				</el-row>
   				<!-- <el-row :gutter="40">
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">四级边框颜色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.extraLightColor" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.extraLightColor"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   				</el-row> -->
   			</div>
   			<div>
   				<span class="category-name">背景 颜色</span>
   				<el-row :gutter="40">
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">基础背景色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20" class="theme-color">
	    								<div @click="clickPicker('colorPicker7')"><el-input v-model="colorForm.baseBackground" placeholder="请输入内容" :readonly="true"></el-input></div>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.baseBackground" ref="colorPicker7"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   					<!-- <el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">基础白色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.baseWhite" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.baseWhite"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col>
   					<el-col :span="8">
   						<div class="config">
	    					<div class="config-label">
	    						<span class="el-tooltip">基础黑色</span>
	    					</div>
	    					<div class="config-content">
	    						<el-row type="flex" justify="space-around">
	    							<el-col :span="20">
	    								<el-input v-model="colorForm.baseBlack" placeholder="请输入内容" :readonly="true"></el-input>
	    							</el-col>
	    							<el-col :span="4" style="text-align:right;">
	    								<el-color-picker v-model="colorForm.baseBlack"></el-color-picker>
	    							</el-col>
	    						</el-row>
	    					</div>
	    				</div>
   					</el-col> -->
   				</el-row>
   			</div>
   		</el-main>
    </el-container>
</template>