<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <!-- 控制台输出 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
      <pattern>[Web][%d{HH:mm:ss}] [%p] [%-20.20c] %m %n</pattern>
      <!-- <charset>UTF-8</charset> -->
    </encoder> 
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
     <level>WARN</level>
   </filter> 
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./log/logFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>./log/worker.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>6</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>[Web][%d{HH:mm:ss}] [%p] [%c] %m %n</pattern> 
		</encoder>
	</appender>
 
	
	<root level="DEBUG">
		<appender-ref ref="FILE">
		</appender-ref>
		<appender-ref ref="STDOUT"> 
    </appender-ref> 
	</root>  
</configuration> 