<template id="sticky">
  <div class="sticky" style="position: relative;overflow: scroll;height:100%;" ref="Box">
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div :style="{height:height+'px',zIndex:zIndex}" ref="sticky">
      <div :style="{top:stickyTop+'px',zIndex:zIndex,position:position,width:width,height:height+'px'}" class="sub-navbar">
        sticky
      </div>
    </div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
    <div>placeholder</div>
  </div>
</template>

