<template id="progress">
	<div class="layout" style="height:99%;overflow:auto;" ref="progress">
    <h1>Progress 进度条</h1>
    <h5>用于展示操作进度，告知用户当前状态和预期。</h5>
    <h2>线型进度条</h2>
    <div class="demo-block">
      <div class="source">
        <el-progress :percentage="50"></el-progress>
		<el-progress :percentage="100" :format="format"></el-progress>
		<el-progress :percentage="100" status="success"></el-progress>
		<el-progress :percentage="100" status="warning"></el-progress>
		<el-progress :percentage="50" status="exception"></el-progress>
      </div>
      <div class="content" v-if="!isShow">
      	<div class="description">
      		Progress 组件设置<code>percentage</code>属性即可，表示进度条对应的百分比，必填，必须在 0-100。通过 <code>format</code> 属性来指定进度条文字内容。
      	</div>
        <pre><code>
&lt;el-progress :percentage="50"&gt;&lt;/el-progress&gt;
&lt;el-progress :percentage="100" :format="format"&gt;&lt;/el-progress&gt;
&lt;el-progress :percentage="100" status="success"&gt;&lt;/el-progress&gt;
&lt;el-progress :percentage="100" status="warning"&gt;&lt;/el-progress&gt;
&lt;el-progress :percentage="50" status="exception"&gt;&lt;/el-progress&gt;
&lt;script&gt;
  methods: {
    format(percentage) {
      return percentage === 100 ? '满' : `${percentage}%`;
    }
  }
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>百分比内显</h2>
    <h5>百分比不占用额外控件，适用于文件上传等场景。</h5>
    <div class="demo-block">
      <div class="source">
          <el-progress :text-inside="true" :stroke-width="26" :percentage="70"></el-progress>
          <el-progress :text-inside="true" :stroke-width="24" :percentage="100" status="success"></el-progress>
		  <el-progress :text-inside="true" :stroke-width="22" :percentage="80" status="warning"></el-progress>
		  <el-progress :text-inside="true" :stroke-width="20" :percentage="50" status="exception"></el-progress>
      </div>
      <div class="content" v-if="!isShow1">
      	<div class="description">
      		Progress 组件可通过 <code>stroke-width</code> 属性更改进度条的高度，并可通过 <code>text-inside</code> 属性来将进度条描述置于进度条内部。
      	</div>
        <pre><code>
&lt;el-progress :text-inside="true" :stroke-width="26" :percentage="70"&gt;&lt;/el-progress&gt;
&lt;el-progress :text-inside="true" :stroke-width="24" :percentage="100" status="success"&gt;&lt;/el-progress&gt;
&lt;el-progress :text-inside="true" :stroke-width="22" :percentage="80" status="warning"&gt;&lt;/el-progress&gt;
&lt;el-progress :text-inside="true" :stroke-width="20" :percentage="50" status="exception"&gt;&lt;/el-progress&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>自定义颜色</h2>
    <h5>可以通过 color 设置进度条的颜色，color 可以接受颜色字符串，函数和数组。</h5>
    <div class="demo-block">
      <div class="source">
        <el-progress :percentage="percentage" :color="customColor"></el-progress>

		<el-progress :percentage="percentage" :color="customColorMethod"></el-progress>
		<el-progress :percentage="percentage" :color="customColors"></el-progress>
		<div>
		  <el-button-group>
		    <el-button icon="el-icon-minus" @click="decrease"></el-button>
		    <el-button icon="el-icon-plus" @click="increase"></el-button>
		  </el-button-group>
		</div>
      </div>
      <div class="content" v-if="!isShow2">
      	<div class="description">设置<code>icon-classes</code>属性可以自定义不同分段的图标。若传入数组，共有 3 个元素，为 3 个分段所对应的类名；若传入对象，可自定义分段，键名为分段的界限值，键值为对应的类名。本例还使用<code>void-icon-class</code>指定了未选中时的图标类名。</div>
        <pre><code>
&lt;el-progress :percentage="percentage" :color="customColor"&gt;&lt;/el-progress&gt;

&lt;el-progress :percentage="percentage" :color="customColorMethod"&gt;&lt;/el-progress&gt;

&lt;el-progress :percentage="percentage" :color="customColors"&gt;&lt;/el-progress&gt;
&lt;div&gt;
  &lt;el-button-group&gt;
    &lt;el-button icon="el-icon-minus" @click="decrease"&gt;&lt;/el-button&gt;
    &lt;el-button icon="el-icon-plus" @click="increase"&gt;&lt;/el-button&gt;
  &lt;/el-button-group&gt;
&lt;/div&gt;

&lt;script&gt;
  data() {
    return {
      percentage: 20,
      customColor: '#409eff',
      customColors: [
        {color: '#f56c6c', percentage: 20},
        {color: '#e6a23c', percentage: 40},
        {color: '#5cb87a', percentage: 60},
        {color: '#1989fa', percentage: 80},
        {color: '#6f7ad3', percentage: 100}
      ]
    };
  },
  methods: {
    customColorMethod(percentage) {
      if (percentage < 30) {
        return '#909399';
      } else if (percentage < 70) {
        return '#e6a23c';
      } else {
        return '#67c23a';
      }
    },
    increase() {
      this.percentage += 10;
      if (this.percentage > 100) {
        this.percentage = 100;
      }
    },
    decrease() {
      this.percentage -= 10;
      if (this.percentage < 0) {
        this.percentage = 0;
      }
    }
  }
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>环形进度条</h2>
    <h5>Progress 组件可通过 type 属性来指定使用环形进度条，在环形进度条中，还可以通过 width 属性来设置其大小。</h5>
    <div class="demo-block">
      <div class="source">
        <el-progress type="circle" :percentage="0"></el-progress>
		<el-progress type="circle" :percentage="25"></el-progress>
		<el-progress type="circle" :percentage="100" status="success"></el-progress>
		<el-progress type="circle" :percentage="70" status="warning"></el-progress>
		<el-progress type="circle" :percentage="50" status="exception"></el-progress>
      </div>
      <div class="content" v-if="!isShow3">
        <pre><code>
&lt;el-progress type="circle" :percentage="0"&gt;&lt;/el-progress&gt;
&lt;el-progress type="circle" :percentage="25"&gt;&lt;/el-progress&gt;
&lt;el-progress type="circle" :percentage="100" status="success"&gt;&lt;/el-progress&gt;
&lt;el-progress type="circle" :percentage="70" status="warning"&gt;&lt;/el-progress&gt;
&lt;el-progress type="circle" :percentage="50" status="exception"&gt;&lt;/el-progress&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>仪表盘形进度条</h2>
    <div class="demo-block">
      <div class="source">
      	<el-progress type="dashboard" :percentage="percentage1" :color="colors"></el-progress>
		<div>
		  <el-button-group>
		    <el-button icon="el-icon-minus" @click="decrease1"></el-button>
		    <el-button icon="el-icon-plus" @click="increase1"></el-button>
		  </el-button-group>
		</div>
      </div>
      <div class="content" v-if="!isShow4">
      	<div class="description">通过 type 属性来指定使用仪表盘形进度条。</div>
        <pre><code>
&lt;el-progress type="dashboard" :percentage="percentage" :color="colors"&gt;&lt;/el-progress&gt;
&lt;div&gt;
  &lt;el-button-group&gt;
    &lt;el-button icon="el-icon-minus" @click="decrease"&gt;&lt;/el-button&gt;
    &lt;el-button icon="el-icon-plus" @click="increase"&gt;&lt;/el-button&gt;
  &lt;/el-button-group&gt;
&lt;/div&gt;

&lt;script&gt;
  data() {
    return {
      percentage: 10,
      colors: [
        {color: '#f56c6c', percentage: 20},
        {color: '#e6a23c', percentage: 40},
        {color: '#5cb87a', percentage: 60},
        {color: '#1989fa', percentage: 80},
        {color: '#6f7ad3', percentage: 100}
      ]
    };
  },
  methods: {
    increase() {
      this.percentage += 10;
      if (this.percentage > 100) {
        this.percentage = 100;
      }
    },
    decrease() {
      this.percentage -= 10;
      if (this.percentage < 0) {
        this.percentage = 0;
      }
    }
  }
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow4">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow4 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        ref="singleTable"
        :data="Attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>