<template id="count">
  <div class="count" style="height:99%;overflow:auto;" ref="count">
    <h1>Statistic统计数值</h1>
    <h5>展示统计数值</h5>
    <h2>基本用法</h2>
    <div class="demo-block">
      <div class="source">
        <statistic title="Active Users" :value="valuenumber"></statistic>
        <statistic title="Account Balance (CNY)" value="112893" precision="2"></statistic>
      </div>
      <div class="content" v-if="!isShow">
        <pre><code>
&lt;statistic title="Active Users" :value="value"&gt;&lt;/statistic&gt;
&lt;statistic title="Account Balance (CNY)" :value="valuenumber" precision="2"&gt;&lt;/statistic&gt;

document.write("&lt;script language=javascript src='pages/components/statistic/statistic.js'&gt;&lt;/script&gt;");
&lt;script&gt;
  components: {
    statistic: Statistic
  },
  data() {
    return {
      value: 1123,
      valuenumber: '1123'
    }
  }
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>单位</h2>
    <h5>通过前缀和后缀添加单位。</h5>
    <div class="demo-block">
      <div class="source">
        <statistic title="Feedback" value="1128" prefix="el-icon-edit"></statistic>
        <statistic title="Unmerged" value="93" suffix="/ 100"></statistic>
      </div>
      <div class="content" v-if="!isShow5">
        <pre><code>
&lt;statistic title="Feedback" value="1128" prefix="el-icon-edit"&gt;&lt;/statistic&gt;
&lt;statistic title="Unmerged" value="93" suffix="/ 100"&gt;&lt;/statistic&gt;

document.write("&lt;script language=javascript src='pages/components/statistic/statistic.js'&gt;&lt;/script&gt;");
&lt;script&gt;
  components: {
    statistic: Statistic
  },
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow5">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow5 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>在卡片中的使用</h2>
    <h5>在卡片中展示统计数值。</h5>
    <div class="demo-block">
      <div class="source">
        <el-card style="width:200px;display:inline-block;">
          <statistic title="Active" :value="valuenumber1" suffix="%" color="#3f8600" prefix="el-icon-upload2" precision="2"></statistic>
        </el-card>
        <el-card style="width:200px;display:inline-block;">
          <statistic title="Idle" value="9.3" suffix="%" color="#cf1322" prefix="el-icon-download" precision="2"></statistic>
        </el-card>
      </div>
      <div class="content" v-if="!isShow1">
        <pre><code>&lt;el-card style="width:200px;"&gt;
  &lt;statistic title="Active" value="11.28" suffix="%" color="#cf1322" prefix="el-icon-upload2" precision="2"&gt;&lt;/statistic&gt;
&lt;/el-card&gt;
&lt;el-card style="width:200px;"&gt;
  &lt;statistic title="Idle" value="9.30" suffix="%" color="#cf1322" prefix="el-icon-download" precision="2"&gt;&lt;/statistic&gt;
&lt;/el-card&gt;

document.write("&lt;script language=javascript src='pages/components/statistic/statistic.js'&gt;&lt;/script&gt;");
&lt;script&gt;
  components: {
    statistic: Statistic
  },
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <!-- <h2>卡片阴影</h2>
    <h5>可对阴影的显示进行配置。</h5>
    <div class="demo-block">
      <div class="source">
        
      </div>
      <div class="content" v-if="!isShow2">
        <div style="background:#fff;padding:20px 10px;border:1px solid #e0e0e0;">
        </div>
        <pre>
          <code>
            &lt;template&gt;
              
            &lt;template&gt;
          </code>
        </pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div> -->
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        ref="singleTable"
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
  