<template id="calendar"> 
  <div class="calendar" style="height:99%;overflow:auto;" ref="calendar">
    <h1>Calendar calendar</h1>
    <h5>显示日期</h5>
    <h2>基本</h2>
    <div class="demo-block">
      <div class="source">
      	<el-calendar v-model="value">
		</el-calendar>
      </div>
      <div class="content" v-if="!isShow">
        <div class="description">
        	设置 value 来指定当前显示的月份。如果 value 未指定，则显示当月。value 支持 v-model 双向绑定。
        </div>
        <pre>
          <code>
&lt;el-calendar v-model="value"&gt;
&lt;/el-calendar&gt;
&lt;script&gt;
  data() {
	  return {
	    value: new Date()
	  }
  }
&lt;script&gt;
          </code>
        </pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>自定义内容</h2>
    <div class="demo-block">
      <div class="source">
      	<el-calendar v-model="value" id="calendar">
		      <template
		       slot="dateCell"
		       slot-scope="{date, data}">
		        <!--自定义内容-->
		          <div>
		             <div class="calendar-day">{{ data.day.split('-').slice(2).join('-') }}</div>
		                <div v-for="item in calendarData">
		                   <div v-if="(item.months).indexOf(data.day.split('-').slice(1)[0])!=-1">
		                     <div v-if="(item.days).indexOf(data.day.split('-').slice(2).join('-'))!=-1">
		                     	<el-tag>
		                     		{{item.things}}
		                     	</el-tag>
		                          <!-- <el-tooltip class="item" effect="dark" :content="item.things" placement="right">
		                               <div class="is-selected">{{item.things}}</div>
		                          </el-tooltip> -->
		                       </div>
		                    <div v-else></div>
		                   </div>
		               <div v-else></div>
		             </div>
		          </div>
		      </template>
		</el-calendar>
      </div>
      <div class="content" v-if="!isShow1">
        <div class="description">
        通过设置名为 dateCell 的 scoped-slot 来自定义日历单元格中显示的内容。在 scoped-slot 可以获取到 date（当前单元格的日期）, data（包括 type，isSelected，day 属性）。详情解释参考下方的 API 文档。
        </div>
        <pre>
          <code>
&lt;script&gt;
&lt;script&gt;
          </code>
        </pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>自定义范围</h2>
    <div class="demo-block">
      <div class="source">
      	<el-calendar :range="['2019-03-04', '2019-03-24']">
		</el-calendar>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">
        设置 range 属性指定日历的显示范围。开始时间必须是周起始日，结束时间必须是周结束日，且时间跨度不能超过两个月。
        </div>
        <pre>
          <code>
&lt;el-calendar :range="['2019-03-04', '2019-03-24']"&gt;
&lt;/el-calendar&gt;
          </code>
        </pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        ref="singleTable"
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>dateCell scoped slot 参数</h1>
      <el-table
        ref="singleTable"
        :data="slotattributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
  