<template id="dictDetail">
	<div>
		<div class="formBox" v-loading="dictLoading">
	        <el-form :model="dictDetailForm" size="medium" ref="ruleForm" :rules="rules" label-width="80px">
				<el-row>
				   <el-col :span="24">
						<el-form-item label="字典名称" prop="name">
				        	<el-input v-model="dictDetailForm.name" placeholder=""></el-input>
				        </el-form-item>
				   </el-col>
				</el-row>
				<el-row>
				   <el-col :span="24">
						<el-form-item label="字典编码" prop="code">
				        	<el-input v-model="dictDetailForm.code" placeholder=""></el-input>
				        </el-form-item>
				   </el-col>
				</el-row>
				<el-row>
				   <el-col :span="24">
						<el-form-item label="状态" prop="state">
							<el-radio-group v-model="dictDetailForm.state">
	       						<el-radio label="0" border>正常 </el-radio>
	 							<el-radio label="1" border>禁用</el-radio>
	    					</el-radio-group>
				        </el-form-item>
				   </el-col>
				</el-row>
				<el-row>
				   <el-col :span="24">
						<el-form-item label="备注" prop="memo">
				        	<el-input
							  type="textarea"
							  :rows="8"
							  placeholder="请输入内容"
							  v-model="dictDetailForm.memo">
							</el-input>
				        </el-form-item>
				   </el-col>
				</el-row>
	        </el-form>
			<div slot="footer" class="dialog-footer" style="text-align:right;margin-top:5px;">
		        <el-button type="primary" @click="close">关闭</el-button>
		        <el-button type="primary" @click="save">保存</el-button>
		    </div> 
	    </div>
	</div>
</template>