<template id="icon">
  <div style="height:99%;overflow:auto;" ref="icon">
    <h1>Icon 图标</h1>
    <h5>提供了一套常用的图标集合。</h5>
    <h2>使用方法</h2>
    <h5>直接通过设置类名为 el-icon-iconName 来使用即可。例如：</h5>
    <div class="demo-block">
      <div class="source">
      	<div style="margin: 0 10px;font-size:16px;display:inline-block;">
      	  <i class="el-icon-edit"></i>
      	</div>
      	<div style="margin: 0 10px;font-size:16px;display:inline-block;">
      	   <i class="el-icon-share"></i>
      	</div>
      	<div style="margin: 0 10px;font-size:16px;display:inline-block;">
      	  <i class="el-icon-delete"></i>
      	</div>
      	<div style="margin: 0 10px;font-size:16px;display:inline-block;">
      	  <el-button type="primary" icon="el-icon-search">搜索</el-button>
      	</div>
      </div>
      <div class="content" v-if="!isShow">
        <pre><code>
&lt;i class="el-icon-edit"&gt;&lt;/i&gt;
&lt;i class="el-icon-share"&gt;&lt;/i&gt;
&lt;i class="el-icon-delete"&gt;&lt;/i&gt;
&lt;el-button type="primary" icon="el-icon-search"&gt;搜索&lt;/el-button&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div>
      <h3>图标集合</h3>
      <div class="icon-box">
        <div v-for="(item, index) in iconLists">
          <span class="icon-item">
            <i :class="'el-icon-' + item"></i></br>
            <span>{{'el-icon-' + item}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
