<template id="dateTimePicker">
  <div class="timePicker" style="height:99%;overflow:auto;" ref="dateTimePicker">
    <h1>DateTimePicker 日期时间选择器</h1>
    <h5>在同一个选择器里选择日期和时间</h5>
    <h2>日期和时间点</h2>
    <div class="demo-block">
      <div class="source">
        <div style="display: flex;flex-wrap: wrap;justify-content: space-around;">
        	<div>
        	  <h5 class="demonstration">默认</h5>
	          <el-date-picker
	            v-model="value1"
	            type="datetime"
	            placeholder="选择日期时间">
	          </el-date-picker>
        	</div>
        	<div>
        	  <h5 class="demonstration">带快捷选项</h5>
	          <el-date-picker
	            v-model="value2"
	            type="datetime"
	            placeholder="选择日期时间"
	            align="right"
	            :picker-options="pickerOptions1">
	          </el-date-picker>
        	</div>
        	<div>
        	  <h5 class="demonstration">设置默认时间</h5>
	          <el-date-picker
	            v-model="value3"
	            type="datetime"
	            placeholder="选择日期时间"
	            default-time="12:00:00">
	          </el-date-picker>
        	</div>
        </div>
      </div>
      <div class="content" v-if="!isShow">
        <div class="description">
          通过设置<code>type</code>属性为<code>datetime</code>，即可在同一个选择器里同时进行日期和时间的选择。快捷选项的使用方法与<code>Date Picker</code>相同。
        </div>
        <pre><code>
&lt;h5 class="demonstration"&gt;默认&lt;/h5&gt;
&lt;el-date-picker
  v-model="value1"
  type="datetime"
  placeholder="选择日期时间"&gt;
&lt;/el-date-picker&gt;
&lt;h5 class="demonstration"&gt;带快捷选项&lt;/h5&gt;
&lt;el-date-picker
  v-model="value2"
  type="datetime"
  placeholder="选择日期时间"
  align="right"
  :picker-options="pickerOptions"&gt;
&lt;/el-date-picker&gt;
&lt;h5 class="demonstration"&gt;设置默认时间&lt;/h5&gt;
&lt;el-date-picker
  v-model="value3"
  type="datetime"
  placeholder="选择日期时间"
  default-time="12:00:00"&gt;
&lt;/el-date-picker&gt;
&lt;script&gt;
  data() {
    return {
      pickerOptions: {
        shortcuts: [{
          text: '今天',
          onClick(picker) {
            picker.$emit('pick', new Date());
          }
        }, {
          text: '昨天',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() - 3600 * 1000 * 24);
            picker.$emit('pick', date);
          }
        }, {
          text: '一周前',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', date);
          }
        }]
      },
      value1: '',
      value2: '',
      value3: ''
    };
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>日期和时间范围</h2>
    <div class="demo-block">
      <div class="source">
        <div style="display: flex;flex-wrap: wrap;justify-content: space-around;">
          <div>
		    <span class="demonstration">默认</span>
		    <el-date-picker
		      v-model="value6"
		      type="datetimerange"
		      range-separator="至"
		      start-placeholder="开始日期"
		      end-placeholder="结束日期">
		    </el-date-picker>
		  </div>
		  <div>
		    <span class="demonstration">带快捷选项</span>
		    <el-date-picker
	            v-model="value4"
	            type="datetimerange"
	            :picker-options="pickerOptions2"
	            range-separator="至"
	            start-placeholder="开始日期"
	            end-placeholder="结束日期"
	            align="right">
	        </el-date-picker>
		  </div>
        </div>
      </div>
      <div class="content" v-if="!isShow1">
        <div class="description">
          设置<code>type</code>为<code>datetimerange</code>即可选择日期和时间范围
        </div>
        <pre><code>
&lt;span class="demonstration"&gt;默认&lt;/span&gt;
&lt;el-date-picker
  v-model="value1"
  type="datetimerange"
  range-separator="至"
  start-placeholder="开始日期"
  end-placeholder="结束日期"&gt;
&lt;/el-date-picker&gt;
&lt;span class="demonstration"&gt;带快捷键&lt;/span&gt;
&lt;el-date-picker
  v-model="value2"
  type="datetimerange"
  :picker-options="pickerOptions"
  range-separator="至"
  start-placeholder="开始日期"
  end-placeholder="结束日期"
  align="right"&gt;
&lt;/el-date-picker&gt;

&lt;script&gt;
  data() {
    return {
      pickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      value1: [new Date(2000, 10, 10, 10, 10), new Date(2000, 10, 11, 10, 10)],
      value2: ''
    };
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>默认的起始与结束时刻</h2>
    <div class="demo-block">
      <div class="source">
        <div style="display: flex;flex-wrap: wrap;justify-content: space-around;">
        	<div>
        		<span class="demonstration">起始日期时刻为 12:00:00</span>
			    <el-date-picker
			      v-model="value7"
			      type="datetimerange"
			      start-placeholder="开始日期"
			      end-placeholder="结束日期"
			      :default-time="['12:00:00']">
			    </el-date-picker>
        	</div>
        	<div>
        	  <span class="demonstration">起始日期时刻为 12:00:00，结束日期时刻为 08:00:00</span>
	          <el-date-picker
	            v-model="value5"
	            type="datetimerange"
	            align="right"
	            start-placeholder="开始日期"
	            end-placeholder="结束日期"
	            :default-time="['12:00:00', '08:00:00']">
	          </el-date-picker>
        	</div>
        </div>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">
          使用<code>datetimerange</code>进行范围选择时，在日期选择面板中选定起始与结束的日期，默认会使用该日期的<code>00:00:00</code>作为起始与结束的时刻；通过选项<code>default-time</code>可以控制选中起始与结束日期时所使用的具体时刻。<code>default-time</code>接受一个数组，数组每项值为字符串，形如<code>12:00:00</code>，其中第一项控制起始日期的具体时刻，第二项控制结束日期的具体时刻。
        </div>
        <pre><code>
&lt;span class="demonstration"&gt;起始日期时刻为 12:00:00&lt;/span&gt;
&lt;el-date-picker
  v-model="value1"
  type="datetimerange"
  start-placeholder="开始日期"
  end-placeholder="结束日期"
  :default-time="['12:00:00']"&gt;
&lt;/el-date-picker&gt;
&lt;span class="demonstration">起始日期时刻为 12:00:00，结束日期时刻为 08:00:00&lt;/span&gt;
&lt;el-date-picker
  v-model="value2"
  type="datetimerange"
  align="right"
  start-placeholder="开始日期"
  end-placeholder="结束日期"
  :default-time="['12:00:00', '08:00:00']"&gt;
&lt;/el-date-picker&gt;
            
&lt;script&gt;
  data() {
    return {
      value1: '',
      value2: ''
    };
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
        >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Shortcuts</h1>
      <el-table
        :data="Shortcuts"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
        >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Time Picker Options</h1>
      <el-table
        :data="PickerOptions"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型"
        >
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Events</h1>
      <el-table
        :data="events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Methods</h1>
      <el-table
        :data="methods"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="方法名"
        >
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明"
        >
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="参数"
        >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
