<template id="orgTree">
	<!-- <vue2-org-tree
	    :data="data"
	    :horizontal="false"
	    :collapsable="true"
	    :render-content="renderContent"
	    @on-expand="onExpand"
	    @on-node-click="onNodeClick"
    
	/> -->
	<div style="height:99%;overflow:auto;" ref="orgtree">
    <h1>Vue-org-tree 树状结构图</h1>
    <h5>用清晰的层级结构展示信息，可展开或折叠。</h5>
    <h2>基础用法</h2>
    <h5>基础树型结构图展示</h5>
    <div class="demo-block">
      <div class="source">
      	<vue2-org-tree :data="data11" :props="props"></vue2-org-tree>
      </div>
      <div class="content" v-if="!isShow">
        <pre><code>
&lt;vue2-org-tree :data="data" :props="props"&gt;&lt;/vue2-org-tree&gt;

&lt;script&gt;
  data() {
    return {
      data: {
        id: 0,
        label: "XXX科技有限公司",
        children: [
          {
            id: 2,
            label: "产品研发部",
            children: [
              {
                id: 5,
                label: "研发-前端"
              },
              {
                id: 6,
                label: "研发-后端"
              },
              {
                id: 9,
                label: "UI设计"
              },
              {
                id: 10,
                label: "产品经理"
              }
            ]
          },
          {
            id: 3,
            label: "销售部",
            children: [
              {
                id: 7,
                label: "销售一部"
              },
              {
                id: 8,
                label: "销售二部"
              }
            ]
          },
          {
            id: 4,
            label: "财务部"
          },
          {
            id: 9,
            label: "HR人事"
          }
        ]
      },
      props: {
      	label: 'label',
      	children: 'children'
      }
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>排列方式</h2>
    <div class="demo-block">
      <div class="source">
      	<vue2-org-tree
		    :data="data"
		    :horizontal="true"
		/>
      </div>
      <div class="content" v-if="!isShow5">
        <div class="description">
          默认垂直排列，通过<code>horizontal</code>设置水平排列状态。
        </div>
        <pre><code>
&lt;vue2-org-tree 
  :data="data"
  :props="props"
  :horizontal="true"
&gt;
&lt;/vue2-org-tree&gt;

&lt;script&gt;
  data() {
    return {
      data: {
        id: 0,
        label: "XXX科技有限公司",
        children: [
          {
            id: 2,
            label: "产品研发部",
            children: [
              {
                id: 5,
                label: "研发-前端"
              },
              {
                id: 6,
                label: "研发-后端"
              },
              {
                id: 9,
                label: "UI设计"
              },
              {
                id: 10,
                label: "产品经理"
              }
            ]
          },
          {
            id: 3,
            label: "销售部",
            children: [
              {
                id: 7,
                label: "销售一部"
              },
              {
                id: 8,
                label: "销售二部"
              }
            ]
          },
          {
            id: 4,
            label: "财务部"
          },
          {
            id: 9,
            label: "HR人事"
          }
        ]
      },
      props: {
      	label: 'label',
      	children: 'children'
      }
    }
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow5">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow5 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>修改背景色</h2>
    <div class="demo-block">
      <div class="source">
        <vue2-org-tree
		    :data="data"
		    :label-class-name="labelClassName"          
		/>
      </div>
      <div class="content" v-if="!isShow1">
        <div class="description">
        	通过设置<code>label-class-name</code>还可以动态绑定自定义class。
        </div>
        <pre><code>
&lt;vue2-org-tree 
  :data="data"
  :props="props"
  :label-class-name="labelClassName"    
&gt;
&lt;/vue2-org-tree&gt;

&lt;script&gt;
  data() {
    return {
      data: {
        id: 0,
        label: "XXX科技有限公司",
        children: [
          {
            id: 2,
            label: "产品研发部",
            children: [
              {
                id: 5,
                label: "研发-前端"
              },
              {
                id: 6,
                label: "研发-后端"
              },
              {
                id: 9,
                label: "UI设计"
              },
              {
                id: 10,
                label: "产品经理"
              }
            ]
          },
          {
            id: 3,
            label: "销售部",
            children: [
              {
                id: 7,
                label: "销售一部"
              },
              {
                id: 8,
                label: "销售二部"
              }
            ]
          },
          {
            id: 4,
            label: "财务部"
          },
          {
            id: 9,
            label: "HR人事"
          }
        ]
      },
      props: {
      	label: 'label',
      	children: 'children'
      },
      labelClassName: "bg-color-orange"
    }
  }
&lt;/script&gt;
&lt;style&gt;
  .bg-color-orange{
    color: #fff;
    background-color: orange;
  }
&lt;/style&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>折叠展示</h2>
    <div class="demo-block">
      <div class="source">
      	<vue2-org-tree
		    :data="data1"
		    collapsable
		    @on-expand="onExpand1"
		/>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">
        	通过设置<code>collapsable</code>展示折叠状态。
        </div>
        <pre><code>
&lt;vue2-org-tree 
  :data="data"
  collapsable
  :props="props"
  @on-expand="onExpand"
&gt;
&lt;/vue2-org-tree&gt;

&lt;script&gt;
  data() {
    return {
      data: {
        id: 0,
        label: "XXX科技有限公司",
        children: [
          {
            id: 2,
            label: "产品研发部",
            children: [
              {
                id: 5,
                label: "研发-前端"
              },
              {
                id: 6,
                label: "研发-后端"
              },
              {
                id: 9,
                label: "UI设计"
              },
              {
                id: 10,
                label: "产品经理"
              }
            ]
          },
          {
            id: 3,
            label: "销售部",
            children: [
              {
                id: 7,
                label: "销售一部"
              },
              {
                id: 8,
                label: "销售二部"
              }
            ]
          },
          {
            id: 4,
            label: "财务部"
          },
          {
            id: 9,
            label: "HR人事"
          }
        ]
      },
      props: {
      	label: 'label',
      	children: 'children'
      }
    }
  },
  methods: {
  	collapse(list) {
	    var _this = this;
	    list.forEach(function(child) {
	        if (child.expand) {
	          child.expand = false;
	        }
	        child.children && _this.collapse(child.children);
	    });
	},
	onExpand(e,data) {
	    if ("expand" in data) {
	       data.expand = !data.expand;
	        if (!data.expand && data.children) {
	            this.collapse(data.children);
	        }
	    } else {
	        this.$set(data, "expand", true);
	    }
	}
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>折叠展示，默认展开</h2>
    <div class="demo-block">
      <div class="source">
        <vue2-org-tree
		    :data="data"
		    collapsable
		    @on-expand="onExpand"
		/>
      </div>
      <div class="content" v-if="!isShow3">
        <pre><code>
&lt;vue2-org-tree 
  :data="data"
  collapsable
  @on-expand="onExpand"
  :props="props"
&gt;
&lt;/vue2-org-tree&gt;

&lt;script&gt;
  data() {
    return {
      data: {
        id: 0,
        label: "XXX科技有限公司",
        children: [
          {
            id: 2,
            label: "产品研发部",
            children: [
              {
                id: 5,
                label: "研发-前端"
              },
              {
                id: 6,
                label: "研发-后端"
              },
              {
                id: 9,
                label: "UI设计"
              },
              {
                id: 10,
                label: "产品经理"
              }
            ]
          },
          {
            id: 3,
            label: "销售部",
            children: [
              {
                id: 7,
                label: "销售一部"
              },
              {
                id: 8,
                label: "销售二部"
              }
            ]
          },
          {
            id: 4,
            label: "财务部"
          },
          {
            id: 9,
            label: "HR人事"
          }
        ]
      },
      props: {
      	label: 'label',
      	children: 'children'
      }
    }
  },
  methods: {
  	collapse(list) {
	    var _this = this;
	    list.forEach(function(child) {
	        if (child.expand) {
	          child.expand = false;
	        }
	        child.children && _this.collapse(child.children);
	    });
	},
	onExpand(e,data) {
	    if ("expand" in data) {
	       data.expand = !data.expand;
	        if (!data.expand && data.children) {
	            this.collapse(data.children);
	        }
	    } else {
	        this.$set(data, "expand", true);
	    }
	},
	toggleExpand(data, val) {
	    var _this = this;
	    if (Array.isArray(data)) {
	        data.forEach(function(item) {
	          _this.$set(item, "expand", val);
	          if (item.children) {
	            _this.toggleExpand(item.children, val);
	          }
	        });
	    } else {
	        this.$set(data, "expand", val);
	        if (data.children) {
	          _this.toggleExpand(data.children, val);
	        }
	    }
	 }
  },
  mounted() {
  	this.toggleExpand(this.data,true);
  }
&lt;/script&gt;
          </code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Attributes</h1>
      <el-table
        ref="singleTable"
        :data="res.attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>props</h1>
      <el-table
        ref="singleTable"
        :data="res.props"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <!-- <div id="table">
      <h1>方法</h1>
      <el-table
        ref="singleTable"
        :data="res.methods"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="方法名">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
      </el-table>
    </div> -->
    <div id="table">
      <h1>Events</h1>
      <el-table
        ref="singleTable"
        :data="res.events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名称">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="回调参数">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>