<template id="GenetateElementItem">
	<div style="width:100%;" class="uuuuu">
		<el-form-item :label="widget.name == 'text' || widget.name == 'button' ? '' : widget.name" :prop="widget.model" v-if="widget.type == 'input' || widget.type == 'textarea' || widget.type == 'number' || widget.type == 'radio' || widget.type == 'checkbox' || widget.type == 'time' || widget.type == 'date' || widget.type == 'color' || widget.type == 'select' || widget.type == 'cascader' || widget.type == 'text' || widget.type == 'imgupload' || widget.type == 'fileupload' || widget.type == 'rate' || widget.type == 'datetime'">
		    <template v-if="widget.type == 'input'" >
		      <el-input 
		        v-if="widget.options.dataType == 'number' || widget.options.dataType == 'integer' || widget.options.dataType == 'float'"
		        type="number"
		        v-model.number="dataModel"
		        :placeholder="widget.options.placeholder"
		        :style="{width: widget.options.width}"
		        :disabled="widget.options.disabled"
		      ></el-input>
		      <el-input 
		        v-else
		        :type="widget.options.dataType"
		        v-model="dataModel"
		        :disabled="widget.options.disabled"
		        :placeholder="widget.options.placeholder"
		        :style="{width: widget.options.width}"
		      ></el-input>
		    </template>
		
		    <template v-if="widget.type == 'textarea'">
		      <el-input type="textarea" 
		        :rows="widget.options.rows"
		        v-model="dataModel"
		        :disabled="widget.options.disabled"
		        :placeholder="widget.options.placeholder"
		        :style="{width: widget.options.width}"
		      ></el-input>
		    </template>
		
		    <template v-if="widget.type == 'number'">
		      <el-input-number 
		        v-model="dataModel" 
		        :style="{width: widget.options.width}"
		        :step="widget.options.step"
		        controls-position="right"
		        :disabled="widget.options.disabled"
		      ></el-input-number>
		    </template>
		
		    <template v-if="widget.type == 'radio'">
		      <el-radio-group v-model="dataModel"
		        :style="{width: widget.options.width}"
		        :disabled="widget.options.disabled"
		      >
		        <el-radio
		          :style="{display: widget.options.inline ? 'inline-block' : 'block'}"
		          :label="item.value" v-for="(item, index) in (widget.options.remote ? widget.options.remoteOptions : widget.options.options)" :key="index"
		        >
		          <template v-if="widget.options.remote">{{item.label}}</template>
		          <template v-else>{{widget.options.showLabel ? item.label : item.value}}</template>
		        </el-radio>
		      </el-radio-group>
		    </template>
		
		    <template v-if="widget.type == 'checkbox'">
		      <el-checkbox-group v-model="dataModel"
		        :style="{width: widget.options.width}"
		        :disabled="widget.options.disabled"
		      >
		        <el-checkbox
		          
		          :style="{display: widget.options.inline ? 'inline-block' : 'block'}"
		          :label="item.value" v-for="(item, index) in (widget.options.remote ? widget.options.remoteOptions : widget.options.options)" :key="index"
		        >
		          <template v-if="widget.options.remote">{{item.label}}</template>
		          <template v-else>{{widget.options.showLabel ? item.label : item.value}}</template>
		        </el-checkbox>
		      </el-checkbox-group>
		    </template>
		
		    <template v-if="widget.type == 'time'">
		      <el-time-picker 
		        v-model="dataModel"
		        :is-range="widget.options.isRange"
		        :placeholder="widget.options.placeholder"
		        :start-placeholder="widget.options.startPlaceholder"
		        :end-placeholder="widget.options.endPlaceholder"
		        :readonly="widget.options.readonly"
		        :disabled="widget.options.disabled"
		        :editable="widget.options.editable"
		        :clearable="widget.options.clearable"
		        :arrowControl="widget.options.arrowControl"
		        :value-format="widget.options.format"
		        :style="{width: widget.options.width}"
		      >
		      </el-time-picker>
		    </template>
		
		    <template v-if="widget.type=='date'">
		      <el-date-picker
		        v-model="dataModel"
		        :type="widget.options.type"
		        :placeholder="widget.options.placeholder"
		        :start-placeholder="widget.options.startPlaceholder"
		        :end-placeholder="widget.options.endPlaceholder"
		        :readonly="widget.options.readonly"
		        :disabled="widget.options.disabled"
		        :editable="widget.options.editable"
		        :clearable="widget.options.clearable"
		        :value-format="widget.options.timestamp ? 'timestamp' : widget.options.format"
		        :format="widget.options.format"
		        :style="{width: widget.options.width}"
		      >
		      </el-date-picker>
		    </template>
			
			<template v-if="widget.type=='datetime'">
		      <el-date-picker
		        v-model="dataModel"
		        :type="widget.options.type"
		        :placeholder="widget.options.placeholder"
		        :start-placeholder="widget.options.startPlaceholder"
		        :end-placeholder="widget.options.endPlaceholder"
		        :readonly="widget.options.readonly"
		        :disabled="widget.options.disabled"
		        :editable="widget.options.editable"
		        :clearable="widget.options.clearable"
		        :value-format="widget.options.timestamp ? 'timestamp' : widget.options.format"
		        :format="widget.options.format"
		        :style="{width: widget.options.width}"
		      >
		      </el-date-picker>
		    </template>
			
		    <template v-if="widget.type =='rate'">
		      <el-rate v-model="dataModel"
		        :max="widget.options.max"
		        :disabled="widget.options.disabled"
		        :allow-half="widget.options.allowHalf"
		      ></el-rate>
		    </template>
		    <template v-if="widget.type == 'color'">
		      <el-color-picker 
		        v-model="dataModel"
		        :disabled="widget.options.disabled"
		        :show-alpha="widget.options.showAlpha"
		      ></el-color-picker>
		    </template>
		
		    <template v-if="widget.type == 'select'">
		      <el-select
		        v-model="dataModel"
		        :disabled="widget.options.disabled"
		        :multiple="widget.options.multiple"
		        :clearable="widget.options.clearable"
		        :placeholder="widget.options.placeholder"
		        :style="{width: widget.options.width}"
		        :filterable="widget.options.filterable"
		      >
		        <el-option v-for="item in (widget.options.remote ? widget.options.remoteOptions : widget.options.options)" :key="item.value" :value="item.value" :label="widget.options.showLabel || widget.options.remote?item.label:item.value"></el-option>
		      </el-select>
		    </template>
		
		    <template v-if="widget.type=='switch'">
		      <el-switch
		        v-model="dataModel"
		        :disabled="widget.options.disabled"
		      >
		      </el-switch>
		    </template>
		
		    <template v-if="widget.type=='slider'">
		      <el-slider 
		        v-model="dataModel"
		        :min="widget.options.min"
		        :max="widget.options.max"
		        :disabled="widget.options.disabled"
		        :step="widget.options.step"
		        :show-input="widget.options.showInput"
		        :range="widget.options.range"
		        :style="{width: widget.options.width}"
		      ></el-slider>
		    </template>
			<template v-if="widget.type=='fileupload'">
				<el-upload
				  :action="widget.options.action"
				  :limit="widget.options.length"
				  multiple
				  :disabled="widget.options.disabled"
				  :file-list="widget.options.fileList">
				  <el-button size="small" type="primary">点击上传</el-button>
				</el-upload>
			</template>
		    <template v-if="widget.type=='imgupload'">
		    	<el-upload
				  :action="widget.options.action"
				  list-type="picture-card"
				  :disabled="widget.options.disabled"
				  :limit="widget.options.length"
				  >
				  <i class="el-icon-plus"></i>
				</el-upload>
		      <!-- <fm-upload
		        v-model="dataModel"
		        :disabled="widget.options.disabled"
		        :style="{'width': widget.options.width}"
		        :width="widget.options.size.width"
		        :height="widget.options.size.height"
		        :token="widget.options.token"
		        :domain="widget.options.domain"
		        :multiple="widget.options.multiple"
		        :length="widget.options.length"
		        :is-qiniu="widget.options.isQiniu"
		        :is-delete="widget.options.isDelete"
		        :min="widget.options.min"
		        :is-edit="widget.options.isEdit"
		        :action="widget.options.action"
		      >
		      </fm-upload> -->
		    </template>
		
		    <template v-if="widget.type == 'editor'">
		      <vue-editor
		        v-model="dataModel"
		        :style="{width: widget.options.width}"
		      >
		      </vue-editor>
		    </template>
		
		    <template v-if="widget.type == 'cascader'">
		      <el-cascader
		        v-model="dataModel"
		        :disabled="widget.options.disabled"
		        :clearable="widget.options.clearable"
		        :placeholder="widget.options.placeholder"
		        :style="{width: widget.options.width}"
		        :options="widget.options.remoteOptions"
		      >
		
		      </el-cascader>
		    </template>
		
		    <template v-if="widget.type == 'text'">
		      <span style="color:#666;">{{ widget.options.defaultValue }}</span>
		    </template>
	  </el-form-item>
	  <template v-else>
	  	<template v-if="widget.type == 'button'">
		  <el-button
		  	:type="widget.options.type"
		  	:size="widget.options.size"
		  	:disabled="widget.options.disabled"
		  >{{ widget.options.defaultValue }}</el-button>
        </template>
	  	<template v-if="widget.type == 'table'">
			<el-table
				border
		      :data="widget.tableData"
		      style="width: 100%">
		      <el-table-column type="index"></el-table-column>
		      <el-table-column
		        prop="date"
		        label="日期"
		        width="180">
		      </el-table-column>
		      <el-table-column
		        prop="name"
		        label="姓名"
		        width="180">
		      </el-table-column>
		      <el-table-column
		        prop="address"
		        label="地址">
		      </el-table-column>
		    </el-table>
        </template>
        <template v-if="widget.type == 'tree'">
        	<el-tree :data="widget.data" :props="widget.defaultProps"></el-tree>
        </template>
        <template v-if="widget.type == 'tab'">
        	<el-tabs type="border-card">
			  <el-tab-pane label="用户管理">用户管理</el-tab-pane>
			  <el-tab-pane label="配置管理">配置管理</el-tab-pane>
			  <el-tab-pane label="角色管理">角色管理</el-tab-pane>
			  <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>
			</el-tabs>
       </template>
       <template v-if="widget.type == 'pagination'">
        	<el-pagination
        		style="text-align:center;"
		      :current-page="widget.currentPage"
		      :page-sizes="[100, 200, 300, 400]"
		      :page-size="100"
		      layout="total, sizes, prev, pager, next, jumper"
		      :total="400">
		    </el-pagination>
        </template>
       <template v-if="widget.type == 'header'">
        	<el-header :height="widget.options.height + 'px'">
        		<template v-for="item in widget.columns">
        			<template v-for="element in item.list">
        				<genetate-element-item 
				            :key="element.key" 
				            :models.sync="models" 
				            :rules="rules" 
				            :widget="element" 
				            :remote="remote">
				        </genetate-element-item>
        			</template>
        		</template>
		    </el-header>
        </template>
        <template v-if="widget.type == 'div'">
        	<div :style="{height:widget.options.height + 'px',width:widget.options.width + 'px'}">
        		<template v-for="item in widget.columns">
        			<template v-for="element in item.list">
        				<genetate-element-item 
				            :key="element.key" 
				            :models.sync="models" 
				            :rules="rules" 
				            :widget="element" 
				            :remote="remote">
				        </genetate-element-item>
        			</template>
        		</template>
		    </div>
        </template>
        <template v-if="widget.type == 'form'">
        	<el-form style="width:100%;height:200px;">
        		<template v-for="item in widget.columns">
        			<template v-for="element in item.list">
        				<genetate-element-item 
				            :key="element.key" 
				            :models.sync="models" 
				            :rules="rules" 
				            :widget="element" 
				            :remote="remote">
				        </genetate-element-item>
        			</template>
        		</template>
		    </el-form>
        </template>
        <template v-if="widget.type == 'footer'">
        	<el-footer>
        		<template v-for="item in widget.columns">
        			<template v-for="element in item.list">
        				<genetate-element-item 
				            :key="element.key" 
				            :models.sync="models" 
				            :rules="rules" 
				            :widget="element" 
				            :remote="remote">
				        </genetate-element-item>
        			</template>
        		</template>
		    </el-footer>
        </template>
        <template v-if="widget.type == 'main'">
        	<el-main>
        		<template v-for="item in widget.columns">
        			<template v-for="element in item.list">
        				<genetate-element-item 
				            :key="element.key" 
				            :models.sync="models" 
				            :rules="rules" 
				            :widget="element" 
				            :remote="remote">
				        </genetate-element-item>
        			</template>
        		</template>
		    </el-main>
        </template>
        <template v-if="widget.type == 'aside'">
        	<el-aside :width = "widget.options.width + 'px'" style="border: 1px solid #e0e0e0;">
        		<template v-for="item in widget.columns">
        			<template v-for="element in item.list">
        				<genetate-element-item 
				            :key="element.key" 
				            :models.sync="models" 
				            :rules="rules" 
				            :widget="element" 
				            :remote="remote">
				        </genetate-element-item>
        			</template>
        		</template>
		    </el-aside>
        </template>
        <template v-if="widget.type == 'container'">
        	<el-container>
        		<template v-for="item in widget.columns">
        			<template v-for="element in item.list">
        				<genetate-element-item 
				            :key="element.key" 
				            :models.sync="models" 
				            :rules="rules" 
				            :widget="element" 
				            :remote="remote">
				        </genetate-element-item>
        			</template>
        		</template>
		    </el-container>
        </template>
        <template v-if="widget.type == 'container-row'">
        	<el-container>
        		<!-- <template v-for="item in widget.columns">
        			<template v-for="element in item.list">
        				<genetate-element-item 
				            :key="element.key" 
				            :models.sync="models" 
				            :rules="rules" 
				            :widget="element" 
				            :remote="remote">
				        </genetate-element-item>
        			</template>
        		</template> -->
        		<div style="height:100%;" v-for="(col, colIndex) in widget.columns" :key="colIndex" :style="{width:col.width}">
	              
	
	              <template v-for="citem in col.list" >
	                <genetate-element-item
	                  :key="citem.key" 
	                  :models.sync="models" 
	                  :remote="remote" 
	                  :rules="rules" 
	                  :widget="citem"
	                 >
	                </genetate-element-item>
	              </template>
	            </div>
		    </el-container>
        </template>
        <template v-if="widget.type == 'grid' || widget.type == 'formitem'">
        	<el-row
	            type="flex"
	            :gutter="widget.options.gutter ? widget.options.gutter : 0"
	            :justify="widget.options.justify"
	            :align="widget.options.align"
	          >
	            <el-col v-for="(col, colIndex) in widget.columns" :key="colIndex" :span="col.span">
	            	<template v-for="citem in col.list" >
	            		<genetate-element-item
		                  :key="citem.key"
		                  :models.sync="models"
		                  :remote="remote" 
		                  :rules="rules" 
		                  :widget="citem"
		                 >
		                </genetate-element-item>
	            	</template>
	            </el-col>
	        </el-row>
        </template>
	  </template>
	</div>
</template>