<template id="dialogContent">
	<div>
		<div class="formBox">
	        <el-form :model="form" size="medium" ref="ruleForm" :rules="rules" label-width="100px">
	          <el-row>
	            <el-col :span="8">
	              <el-form-item label="部门名称" prop="deptId">
	                 <treeselect :options="treeData" :value="form.deptId" :props="defaultProps" @getvalue="getvalue"></treeselect>
	              </el-form-item>
	            </el-col>
	            <el-col :span="8">
	              <el-form-item label="人员名称" prop="userName">
	                <el-input v-model="form.userName" placeholder=""></el-input>
	              </el-form-item>
	            </el-col>
	       		<el-col :span="8">
	              <el-form-item label="用户名称" prop="YHM">
	                <el-input v-model="form.YHM" placeholder="" :disabled="isDisabled"></el-input>
	              </el-form-item>
	            </el-col> 
	          </el-row>
	          <el-row> 
	            <el-col :span="8">
	              <el-form-item label="人事编码" prop="empCode">
	                <el-input v-model="form.empCode" @change="rsbmChange" placeholder="" :disabled="isDisabled"></el-input>
	              </el-form-item>
	            </el-col>
	            <el-col :span="8">
	              <el-form-item label="电话" prop="Telepone1">
	                <el-input v-model.number="form.Telepone1" placeholder=""></el-input>
	              </el-form-item>
	            </el-col>
	            <el-col :span="8">
	              <el-form-item label="备用电话" prop="Telepone2">
	                <el-input v-model.number="form.Telepone2" placeholder=""></el-input>
	              </el-form-item>
	            </el-col>
	          </el-row>
	          <el-row> 
	            <el-col :span="8">
	              <el-form-item label="性别" prop="sex">
	                <el-select v-model="form.sex" placeholder="请选择">
			              <el-option
			                v-for="item in select"
			                :key="item.id"
			                :label="item.text"
			                :value="item.id">
			              </el-option>
			            </el-select>
	              </el-form-item>
	            </el-col>
	          </el-row>
	        </el-form>
	      </div>
	      <div class="table-content" style="height:260px;position:relative;border: 1px solid #e0e0e0;">
	        <el-table
	          border
	          ref="multipleTable"
	          :data="roleList"
	          @row-click="rowClick1"
	          :row-style="rowClass1"
	          tooltip-effect="dark"
	          style="width: 100%"
	          height="220"
	          @selection-change="handleSelectionChange1">
	          <el-table-column
	            type="index"
	            width="50">
	          </el-table-column>
	          <el-table-column
	            type="selection"
	            width="50">
	          </el-table-column>
	          <el-table-column
	            prop="jsmc"
	            label="角色名称"
	            width="">
	          </el-table-column>
	        </el-table>
	        <div class="pagination">
	          <el-pagination
	            @size-change="handleSizeChange1"
	            @current-change="handleCurrentChange1"
	            :current-page="roleCurrentPage"
	            :page-sizes="[10,20,30]"
	            :page-size="rolePageSize"
	            layout="total, sizes, prev, pager, next, jumper"
	            :total=roleTotal>
	          </el-pagination>
	        </div>
		</div>
		<div slot="footer" class="dialog-footer" style="text-align:right;margin-top:5px;">
	        <el-button type="primary" @click="canael('ruleForm')">返回</el-button>
	        <el-button type="primary" @click="updateData('ruleForm')">保存</el-button>
	    </div> 
	</div>
</template>