<template id="editorDebug">
	<div class="data">
		<meta charset="UTF-8">
		<el-form :model="form" ref="ruleForm" :rules="rules"  label-width="100px">
	    	<el-row >
				  	<el-col :span="8">
				    	<el-form-item   label="模块名" >
				               <el-input v-model="form.model_name" placeholder="" clearable disabled></el-input>
				        </el-form-item>
			    	</el-col>
			    	<el-col :span="8">
				    	<el-form-item   label="模块编码" >
				               <el-input v-model="form.model_code" placeholder="" clearable disabled></el-input>
				        </el-form-item>
			    	</el-col>
			    	<el-col :span="8">
				    	<el-form-item   label="用途描述" >
				               <el-input v-model="form.model_describe" placeholder="" clearable disabled></el-input>
				        </el-form-item>
			    	</el-col>
			    </el-row>	
			    <el-row>
			    	<el-col :span="8">
				    	<el-form-item   label="当前版本" >
				               <el-input v-model="form.version" placeholder="" clearable disabled></el-input>
				        </el-form-item>
			    	</el-col>
			    </el-row>
			     <el-row style="margin-top:10px">
                  	<el-col :span="24">
				        <el-form-item label="输入">
				        	<el-input v-model="form.input" type="textarea" :rows="3" :rows="3"splaceholder="绩效考核评价" :disables="disables"></el-input>
				        </el-form-item>
			        </el-col>
			    </el-row>	
			    <el-row style="margin-top:10px">
                  	<el-col :span="24">
				        <el-form-item label="输出">
				        	<el-input v-model="form.output" type="textarea" :rows="3" :rows="3"splaceholder="绩效考核评价" :disables="disables"></el-input>
				        </el-form-item>
			        </el-col>
			    </el-row>	
	    </el-form>
	    <div style="position:absolute;bottom:10px;left:50%;transform:translateX(-50%);">
			<el-button type="primary" @click="perform" >执行</el-button>
		</div>
	</div>
</template>