<template id="timeline"> 
  <div class="timeline" style="height:99%;overflow:auto;" ref="timeline">
    <h1>Timeline 时间线</h1>
    <h5>可视化地呈现时间流信息。</h5>
    <h2>基础用法</h2>
    <h5>Timeline 可拆分成多个按照时间戳正序或倒序排列的 activity，时间戳是其区分于其他控件的重要特征，使⽤时注意与 Steps 步骤条等区分。</h5>
    <div class="demo-block">
      <div class="source">
          <div style="margin-bottom:15px;">
            排序：
            <el-radio-group v-model="reverse">
              <el-radio :label="true">倒序</el-radio>
              <el-radio :label="false">正序</el-radio>
            </el-radio-group>
          </div>
        
          <el-timeline :reverse="reverse">
            <el-timeline-item
              v-for="(activity, index) in activities"
              :key="index"
              :timestamp="activity.timestamp">
              {{activity.content}}
            </el-timeline-item>
          </el-timeline>
      </div>
      <div class="content" v-if="!isShow">
        <pre><code>
&lt;div style="margin-bottom:15px;"&gt;
  排序：
  &lt;el-radio-group v-model="reverse"&gt;
    &lt;el-radio :label="true"&gt;倒序&lt;el-radio&gt;
    &lt;el-radio :label="false"&gt;正序&lt;el-radio&gt;
  &lt;el-radio-group&gt;
&lt;div&gt;

&lt;el-timeline :reverse="reverse"&gt;
  &lt;el-timeline-item
    v-for="(activity, index) in activities"
    :key="index"
    :timestamp="activity.timestamp"&gt;
    <span v-pre>{{activity.content}}</span>
  &lt;el-timeline-item&gt;
&lt;el-timeline&gt;
&lt;script&gt;
    data () {
      return {
        reverse: true,
        activities: [{
          content: '活动按期开始',
          timestamp: '2018-04-15'
        }, {
          content: '通过审核',
          timestamp: '2018-04-13'
        }, {
          content: '创建成功',
          timestamp: '2018-04-11'
        }]
      };
    }
&lt;script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>定义节点样式</h2>
    <h5>可根据实际场景自定义节点尺寸，颜色或直接使图标。</h5>
    <div class="demo-block">
      <div class="source">
          <el-timeline>
            <el-timeline-item
              v-for="(activity, index) in activities2"
              :key="index"
              :icon="activity.icon"
              :type="activity.type"
              :color="activity.color"
              :size="activity.size"
              :timestamp="activity.timestamp">
              {{activity.content}}
            </el-timeline-item>
          </el-timeline>
      </div>
      <div class="content" v-if="!isShow1">
        <pre><code>
&lt;el-timeline&gt;
  &lt;el-timeline-item
    v-for="(activity, index) in activities2"
    :key="index"
    :icon="activity.icon"
    :type="activity.type"
    :color="activity.color"
    :size="activity.size"
    :timestamp="activity.timestamp"&gt;
    <span v-pre>{{activity.content}}</span>
  &lt;el-timeline-item&gt;
&lt;el-timeline&gt;
&lt;script&gt;
    data () {
      return {
        activities2: [{
          content: '支持使用图标',
          timestamp: '2018-04-12 20:46',
          size: 'large',
          type: 'primary',
          icon: 'el-icon-more'
        }, {
          content: '支持自定义颜色',
          timestamp: '2018-04-03 20:46',
          color: '#0bbd87'
        }, {
          content: '支持自定义尺寸',
          timestamp: '2018-04-03 20:46',
          size: 'large'
        }, {
          content: '默认样式的节点',
          timestamp: '2018-04-03 20:46'
        }]
      };
    }
&lt;script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>定义时间戳</h2>
    <h5>可将时间戳置于内容之上。</h5>
    <div class="demo-block">
      <div class="source">
          <el-timeline>
            <el-timeline-item timestamp="2018/4/12" placement="top">
              <el-card>
                <h4>更新 Github 模板</h4>
                <p>王小虎 提交于 2018/4/12 20:46</p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2018/4/3" placement="top">
              <el-card>
                <h4>更新 Github 模板</h4>
                <p>王小虎 提交于 2018/4/3 20:46</p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2018/4/2" placement="top">
              <el-card>
                <h4>更新 Github 模板</h4>
                <p>王小虎 提交于 2018/4/2 20:46</p>
              </el-card>
            </el-timeline-item>
          </el-timeline>
      </div>
      <div class="content" v-if="!isShow2">
        <pre><code>
&lt;el-timeline&gt;
  &lt;el-timeline-item timestamp="2018/4/12" placement="top"&gt;
    &lt;el-card&gt;
      &lt;h4&gt;更新 Github 模板&lt;h4&gt;
      &lt;p&gt;王小虎 提交于 2018/4/12 20:46&lt;p&gt;
    &lt;el-card&gt;
  &lt;el-timeline-item&gt;
  &lt;el-timeline-item timestamp="2018/4/3" placement="top"&gt;
    &lt;el-card&gt;
      &lt;h4&gt;更新 Github 模板&lt;h4&gt;
      &lt;p&gt;王小虎 提交于 2018/4/3 20:46&lt;p&gt;
    &lt;el-card&gt;
  &lt;el-timeline-item&gt;
  &lt;el-timeline-item timestamp="2018/4/2" placement="top"&gt;
    &lt;el-card&gt;
      &lt;h4&gt;更新 Github 模板&lt;h4&gt;
      &lt;p&gt;王小虎 提交于 2018/4/2 20:46&lt;p&gt;
    &lt;el-card&gt;
  &lt;el-timeline-item&gt;
&lt;el-timeline&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Timeline Attributes</h1>
      <el-table
        ref="singleTable"
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Timeline-item Attributes</h1>
      <el-table
        ref="singleTable"
        :data="TimelineAttributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Timeline-Item Slot</h1>
      <el-table
        ref="singleTable"
        :data="slot"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="name">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
  