<template id="attribute">
	<div v-if="show" class="attribute">
		<el-form label-position="top" :label-position="labelPosition">
			<template v-if="data.type == 'container'">
				<!-- <el-form-item label="分栏配置">
					<el-radio v-model="value" label="1"></el-radio>
  					<el-radio v-model="value" label="2"></el-radio>
					<el-switch
					  v-model="value"
					  inactive-text="两栏布局"
					  active-text="一栏布局">
					</el-switch>
				</el-form-item>
				<el-form-item label="" v-show="!value">
					<el-input v-model="width"></el-input>
				</el-form-item> -->
				<el-form-item label="是否开启分列布局">
					<el-switch
					  v-model="data.options.disabled"
					  inactive-text="否"
					  active-text="是">
					</el-switch>
				</el-form-item>
			</template>
			<template v-if="data.type == 'grid' || data.type == 'formitem'">
				<el-form-item label="栅栏间隔">
		          <el-input type="number" v-model.number="data.options.gutter"></el-input>
		        </el-form-item>
		        <!-- <el-form-item label="分栏偏移">
		          <el-input type="number" v-model.number="data.options.offset"></el-input>
		        </el-form-item> -->
		        <el-form-item label="列配置项">
		            <li v-for="(item, index) in data.columns" :key="index" >
		              <el-input placeholder="栅格值" size="mini" style="width: 100px;" type="number" v-model.number="item.span"></el-input>
		              
		              <el-button @click="handleOptionsRemove(index)" circle plain type="danger" size="mini" icon="el-icon-minus" style="padding: 4px;margin-left: 5px;"></el-button>
		              
		            </li>
		          <div style="margin-left: 22px;">
		            <el-button type="text" @click="handleAddColumn">添加列</el-button>
		          </div>
		        </el-form-item>
			</template>
			<template v-if="data.type == 'input' || data.type == 'textarea' || data.type == 'time' || data.type == 'date' || data.type == 'select' || data.type == 'cascader'">
				<el-form-item label="标题">
		          <el-input v-model="data.name"></el-input>
		        </el-form-item>
				<el-form-item label="输入框行数" v-if="data.type == 'textarea'">
					<el-input-number v-model="data.options.rows" :min="1"></el-input-number>
				</el-form-item>
				<el-form-item label="占位符">
		          <el-input v-model="data.options.placeholder"></el-input>
		        </el-form-item>
		        <el-form-item label="禁用">
		        	<el-switch
					  v-model="data.options.disabled"
					  inactive-text="禁用"
					  active-text="未禁用">
					</el-switch>
		        </el-form-item>
		        <el-form-item label="只读" v-if="data.type == 'time' || data.type == 'date'">
		        	<el-switch
					  v-model="data.options.readonly"
					  inactive-text="只读"
					  active-text="未只读">
					</el-switch>
		        </el-form-item>
		        <el-form-item label="清除" v-if="data.type == 'select' || data.type == 'cascader'">
		        	<el-switch
					  v-model="data.options.clearable"
					  inactive-text="清除"
					  active-text="未清除">
					</el-switch>
		        </el-form-item>
			</template>
			<template v-if="data.type == 'number' || data.type == 'slider'">
				<el-form-item label="最大值">
					<el-input-number v-model="data.options.max"></el-input-number>
				</el-form-item>
				<el-form-item label="最小值">
					<el-input-number v-model="data.options.min"></el-input-number>
				</el-form-item>
				<el-form-item label="步长">
					<el-input-number v-model="data.options.step"></el-input-number>
				</el-form-item>
				<el-form-item label="禁用">
		        	<el-switch
					  v-model="data.options.disabled"
					  inactive-text="未禁用"
					  active-text="禁用">
					</el-switch>
		        </el-form-item>
			</template>
			<template v-if="data.type == 'radio'">
				<el-form-item label="禁用">
		        	<el-switch
					  v-model="data.options.disabled"
					  inactive-text="未禁用"
					  active-text="禁用">
					</el-switch>
		        </el-form-item>
				<li v-for="(item, index) in data.options.options" :key="index" >
                  <el-radio
                    :label="item.value" 
                    style="margin-right: 5px;"
                  >
                    <el-input :style="{'width': data.options.showLabel? '90px': '180px' }" size="mini" v-model="item.value"></el-input>
                    <el-input style="width:90px;" size="mini" v-if="data.options.showLabel" v-model="item.label"></el-input>
                    <!-- <input v-model="item.value"/> -->
                  </el-radio>
                  <el-button @click="handleOptionsRemove(index)" circle plain type="danger" size="mini" icon="el-icon-minus" style="padding: 4px;margin-left: 5px;"></el-button>
                  
                </li>
                <div style="margin-left: 22px;">
		            <el-button type="text" @click="handleAddOption">添加选项</el-button>
		        </div>
			</template>
			<template v-if="data.type == 'checkbox'">
				<el-form-item label="禁用">
		        	<el-switch
					  v-model="data.options.disabled"
					  inactive-text="未禁用"
					  active-text="禁用">
					</el-switch>
		        </el-form-item>
				<li v-for="(item, index) in data.options.options" :key="index" >
                  <el-checkbox
                    :label="item.value"
                    style="margin-right: 5px;"
                  >
                    <el-input :style="{'width': data.options.showLabel? '90px': '180px' }" size="mini" v-model="item.value"></el-input>
                    <el-input style="width:90px;" size="mini" v-if="data.options.showLabel" v-model="item.label"></el-input>
                  </el-checkbox>
                  <el-button @click="handleOptionsRemove(index)" circle plain type="danger" size="mini" icon="el-icon-minus" style="padding: 4px;margin-left: 5px;"></el-button>
                  
                </li>
                <div style="margin-left: 22px;">
		            <el-button type="text" @click="handleAddOption">添加选项</el-button>
		        </div>
			</template>
			<template v-if="data.type == 'color' || data.type == 'switch'">
				<el-form-item label="禁用">
		        	<el-switch
					  v-model="data.options.disabled"
					  inactive-text="未禁用"
					  active-text="禁用">
					</el-switch>
		        </el-form-item>
			</template>
			<template v-if="data.type == 'text'">
				<el-form-item label="默认值">
		          <el-input v-model="data.options.defaultValue"></el-input>
		        </el-form-item>
			</template>
			<template v-if="data.type == 'imgupload' || data.type == 'fileupload'">
				<el-form-item label="禁用">
		        	<el-switch
					  v-model="data.options.disabled"
					  inactive-text="未禁用"
					  active-text="禁用">
					</el-switch>
		        </el-form-item>
		        <el-form-item label="最大允许上传个数">
					<el-input-number v-model="data.options.length" :min="1"></el-input-number>
				</el-form-item>
				<el-form-item label="上传的地址">
		          <el-input v-model="data.options.action"></el-input>
		        </el-form-item>
			</template>
			<template v-if="data.type == 'button'">
				<el-form-item label="默认值">
		          <el-input v-model="data.options.defaultValue"></el-input>
		        </el-form-item>
				<el-form-item label="类型">
		          <el-select v-model="data.options.type" placeholder="请选择">
				    <el-option
				      v-for="item in data.options.typeoptions"
				      :key="item.value"
				      :label="item.label"
				      :value="item.value">
				    </el-option>
				  </el-select>
		        </el-form-item>
		        <el-form-item label="尺寸">
		        	<el-select v-model="data.options.size" placeholder="请选择">
					    <el-option
					      v-for="item in data.options.sizeoptions"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					</el-select>
		        </el-form-item>
		        <el-form-item label="禁用">
		        	<el-switch
					  v-model="data.options.disabled"
					  inactive-text="未禁用"
					  active-text="禁用">
					</el-switch>
		        </el-form-item>
			</template>
			<template v-if="data.type == 'rate'">
				<el-form-item label="最大分值">
					<el-input-number v-model="data.options.max" :min="1"></el-input-number>
				</el-form-item>
				<el-form-item label="禁用">
		        	<el-switch
					  v-model="data.options.disabled"
					  inactive-text="未禁用"
					  active-text="禁用">
					</el-switch>
		        </el-form-item>
		        <el-form-item label="是否允许半选">
		        	<el-switch
					  v-model="data.options.allowHalf"
					  inactive-text="不允许半选"
					  active-text="允许半选">
					</el-switch>
		        </el-form-item>
			</template>
		</el-form>
	</div>
</template>