<template id="cronpage">
	<div class="count" style="height:99%;overflow:auto;" ref="cronpage">
    <h1>基于Vue的Cron表达式组件</h1>
    <h2>基本用法</h2>
    <div class="demo-block">
      <div class="source">
        <el-form :model="form" label-width="80px">
	      <el-form-item style="margin-bottom:0px;">
	       <cron v-if="showCronBox" v-model="form.cronExpression"></cron>
	       <span style="color: #E6A23C; font-size: 12px;line-height: 50px;display: inline-block;width: 100%;text-align: center;">corn从左到右（用空格隔开）：秒 分 小时 月份中的日期 月份 星期中的日期 年份</span>
	     </el-form-item>
	     <el-form-item label="Cron">
	       <el-input v-model="form.cronExpression" auto-complete="off">
	          <el-button slot="append" v-if="!showCronBox" icon="el-icon-arrow-up" @click="showCronBox = true" title="打开图形配置"></el-button>
	          <el-button slot="append" v-else icon="el-icon-arrow-down" @click="showCronBox = false" title="关闭图形配置"></el-button>
	       </el-input>
	     </el-form-item>
	    </el-form>
      </div>
      <div class="content" v-if="!isShow">
      	<div class="description">
      		<code>v-model</code>绑定的变量为cron组件的选择值
        </div>
        <pre><code>
&lt;el-form :model="form" label-width="80px"&gt;
 &lt;el-form-item style="margin-bottom:0px;"&gt;
  &lt;cron v-if="showCronBox" v-model="form.cronExpression"&gt;&lt;/cron&gt;
  &lt;span style="color: #E6A23C; font-size: 12px;line-height: 50px;display: inline-block;width: 100%;text-align: center;"&gt;corn从左到右（用空格隔开）：秒 分 小时 月份中的日期 月份 星期中的日期 年份&lt;/span&gt;
 &lt;/el-form-item&gt;
 &lt;el-form-item label="Cron"&gt;
   &lt;el-input v-model="form.cronExpression" auto-complete="off"&gt;
      &lt;el-button slot="append" v-if="!showCronBox" icon="el-icon-arrow-up" @click="showCronBox = true" title="打开图形配置"&gt;&lt;/el-button&gt;
      &lt;el-button slot="append" v-else icon="el-icon-arrow-down" @click="showCronBox = false" title="关闭图形配置"&gt;&lt;/el-button&gt;
   &lt;/el-input&gt;
 &lt;/el-form-item&gt;
&lt;/el-form&gt;
&lt;script&gt;
  document.write("&lt;script language=javascript src='pages/components/cron/cron/cron.js'&gt;&lt;/script&gt;"); 
  
  components: {
    cron
  },
  data {
    return {
      showCronBox: false,
      form: {
        cronExpression: ''
      }
    }	
  }
&lt;/script&gt;
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>弹出</h2>
    <div class="demo-block">
      <div class="source">
        <el-form :model="form" label-width="80px">
	      <el-form-item style="margin-bottom:0px;">
	       <span style="color: #E6A23C; font-size: 12px;line-height: 50px;display: inline-block;width: 100%;text-align: center;">corn从左到右（用空格隔开）：秒 分 小时 月份中的日期 月份 星期中的日期 年份</span>
	     </el-form-item>
	     <el-form-item label="Cron">
	       <el-input v-model="form1.cronExpression" auto-complete="off">
	          <el-button slot="append" icon="el-icon-arrow-up" @click="dialogVisible = true" title="打开图形配置"></el-button>
	       </el-input>
	     </el-form-item>
	    </el-form>
	    <el-dialog title="Cron表达式" :visible.sync="dialogVisible" class="cron-dialog">
		  <cron v-model="form1.cronExpression"></cron>
		  <span slot="footer" class="dialog-footer">
		    <el-button @click="dialogVisible = false">取 消</el-button>
		    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
		  </span>
		</el-dialog>
      </div>
      <div class="content" v-if="!isShow1">
      	<div class="description">
      		<code>v-model</code>绑定的变量为cron组件的选择值
        </div>
        <pre><code>
&lt;el-form :model="form" label-width="80px"&gt;
 &lt;el-form-item style="margin-bottom:0px;"&gt;
  &lt;span style="color: #E6A23C; font-size: 12px;line-height: 50px;display: inline-block;width: 100%;text-align: center;"&gt;corn从左到右（用空格隔开）：秒 分 小时 月份中的日期 月份 星期中的日期 年份&lt;/span&gt;
 &lt;/el-form-item&gt;
 &lt;el-form-item label="Cron"&gt;
   &lt;el-input v-model="form.cronExpression" auto-complete="off"&gt;
      &lt;el-button slot="append" icon="el-icon-arrow-up" @click="dialogVisible = true" title="打开图形配置"&gt;&lt;/el-button&gt;
   &lt;/el-input&gt;
 &lt;/el-form-item&gt;
&lt;/el-form&gt;
&lt;el-dialog title="Cron表达式" :visible.sync="dialogVisible" class="cron-dialog"&gt;
  &lt;cron v-model="form.cronExpression"&gt;&lt;/cron&gt;
  &lt;span slot="footer" class="dialog-footer"&gt;
    &lt;el-button @click="dialogVisible = false"&gt;取 消&lt;/el-button&gt;
    &lt;el-button type="primary" @click="dialogVisible = false"&gt;确 定&lt;/el-button&gt;
  &lt;/span&gt;
&lt;/el-dialog&gt;

&lt;script&gt;
  document.write("&lt;script language=javascript src='pages/components/cron/cron/cron.js'&gt;&lt;/script&gt;"); 
  
  components: {
    cron
  },
  data {
    return {
      dialogVisible: false,
      form: {
        cronExpression: ''
      }
    }	
  }
&lt;/script&gt;      
</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
  </div>
</template>