<template id="images">
	<div style="position: relative;height:99%;overflow:auto;" ref="images">
		<h1>Image 图片</h1>
    	<h5>图片容器，在保留原生img的特性下，支持懒加载，自定义占位、加载失败等</h5>
    	<h2>基础用法</h2>
    	<div class="demo-block">
      		<div class="source">
      			<div class="demo-image">
				  <div class="block" v-for="fit in fits" :key="fit">
				    <span class="demonstration">{{ fit }}</span>
				    <el-image
				      style="width: 100px; height: 100px"
				      :src="url"
				      :fit="fit"></el-image>
				  </div>
				</div>
      		</div>
      		<div class="content" v-if="!isShow">
      			<div class="description">
      				可通过<code>fit</code>确定图片如何适应到容器框，同原生 <code>object-fit</code>。
        		</div>
	        	<pre>
	          		<code>
&lt;div class="demo-image"&gt;
  &lt;div class="block" v-for="fit in fits" :key="fit"&gt;
    &lt;span class="demonstration"&gt;{{ fit }}&lt;/span&gt;
    &lt;el-image
      style="width: 100px; height: 100px"
      :src="url"
      :fit="fit"&gt;&lt;/el-image&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
  data() {
      return {
        fits: ['fill', 'contain', 'cover', 'none', 'scale-down'],
        url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg'
      }
  }
&lt;/script&gt
	          		</code>
	        	</pre>
      		</div>
      		<div class="demo-block-control is-fixed" @click="clickShow">
        		<i class="el-icon-caret-bottom"></i>
        		<span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      		</div>
		</div>
		<h2>占位内容</h2>
    	<div class="demo-block">
      		<div class="source">
      			<div style="display:flex;">
				  <div style="width:30%;margin-right:20px;">
				    <span class="demonstration">默认</span>
				    <el-image :src="src"></el-image>
				  </div>
				  <div style="width:30%">
				    <span class="demonstration">自定义</span>
				    <el-image :src="src">
				      <div slot="placeholder" class="image-slot">
				        加载中<span class="dot">...</span>
				      </div>
				    </el-image>
				  </div>
				</div>
      		</div>
      		<div class="content" v-if="!isShow1">
      			<div class="description">
      				可通过<code>slot = placeholder</code>可自定义占位内容
        		</div>
	        	<pre>
	          		<code>
&lt;div class="demo-image__placeholder"&gt;
  &lt;div class="block"&gt;
    &lt;span class="demonstration"&gt;默认&lt;/span&gt;
    &lt;el-image :src="src"&gt;&lt;/el-image&gt;
  &lt;/div&gt;
  &lt;div class="block"&gt;
    &lt;span class="demonstration"&gt;自定义&lt;/span&gt;
    &lt;el-image :src="src"&gt;
      &lt;div slot="placeholder" class="image-slot"&gt;
              加载中&lt;span class="dot"&gt;...&lt;/span&gt;
      &lt;/div&gt;
    &lt;/el-image&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
  data() {
    return {
      src: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
    }
  }
&lt;/script&gt;
	          		</code>
	        	</pre>
      		</div>
      		<div class="demo-block-control is-fixed" @click="clickShow1">
        		<i class="el-icon-caret-bottom"></i>
        		<span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      		</div>
		</div>
		<h2>加载失败</h2>
    	<div class="demo-block">
      		<div class="source">
      			<div style="display:flex;">
				  <div style="width:30%;margin-right:20px;">
				    <span class="demonstration">默认</span>
				    <el-image style="width:300px;height:200px;"></el-image>
				  </div>
				  <div style="width:30%;">
				    <span class="demonstration">自定义</span>
				    <el-image style="width:300px;height:200px;">
				      <div slot="error" class="image-slot">
				        <i class="el-icon-picture-outline"></i>
				      </div>
				    </el-image>
				  </div>
				</div>
      		</div>
      		<div class="content" v-if="!isShow2">
      			<div class="description">
      				可通过<code>slot = error</code>可自定义加载失败内容
        		</div>
	        	<pre>
	          		<code>
&lt;div style="display:flex;"&gt;
  &lt;div style="width:30%;margin-right:20px;"&gt;
    &lt;span class="demonstration"&gt;默认&lt;/span&gt;
    &lt;el-image&gt;&lt;/el-image&gt;
  &lt;/div&gt;
  &lt;div style="width:30%;"&gt;
    &lt;span class="demonstration"&gt;自定义&lt;/span&gt;
    &lt;el-image&gt;
      &lt;div slot="error" class="image-slot"&gt;
        &lt;i class="el-icon-picture-outline"&gt;&lt;/i&gt;
      &lt;/div&gt;
    &lt;/el-image&gt;
  &lt;/div&gt;
&lt;/div&gt;
	          		</code>
	        	</pre>
      		</div>
      		<div class="demo-block-control is-fixed" @click="clickShow2">
        		<i class="el-icon-caret-bottom"></i>
        		<span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      		</div>
		</div>
		<h2>懒加载</h2>
    	<div class="demo-block">
      		<div class="source" style="height: 400px; overflow-y: auto;">
				<el-image v-for="url in urls" :key="url" :src="url" lazy style="width:100%;height:100%;"></el-image>
      		</div>
      		<div class="content" v-if="!isShow4">
      			<div class="description">
      				可通过<code>lazy</code>开启懒加载功能，当图片滚动到可视范围内才会加载。可通过<code>scroll-container</code>来设置滚动容器，若未定义，则为最近一个<code>overflow</code>值为<code>auto</code>或<code>scroll</code>的父元素。
        		</div>
	        	<pre>
	          		<code>
&lt;div class="demo-image__lazy"&gt;
  &lt;el-image v-for="url in urls" :key="url" :src="url" lazy&gt;&lt;/el-image&gt;
&lt;/div&gt;
	          		</code>
	        	</pre>
      		</div>
      		<div class="demo-block-control is-fixed" @click="clickShow4">
        		<i class="el-icon-caret-bottom"></i>
        		<span>{{ isShow4 ? '显示代码' : '隐藏代码' }}</span>
      		</div>
		</div>
		<h2>大图预览</h2>
    	<div class="demo-block">
      		<div class="source">
      			<div class="demo-image__preview">
				  <el-image 
				    style="width: 100px; height: 100px"
				    :src="url1" 
				    :preview-src-list="srcList1">
				  </el-image>
				</div>
      		</div>
      		<div class="content" v-if="!isShow3">
      			<div class="description">
      				可通过<code>previewSrcList</code>开启预览大图的功能。
        		</div>
	        	<pre><code>&lt;div class="demo-image__preview"&gt;
  &lt;el-image 
    style="width: 100px; height: 100px"
    :src="url" 
    :preview-src-list="srcList"&gt;
  &lt;/el-image&gt;
&lt;/div&gt;
&lt;script&gt;
  data() {
	return {
	  url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      srcList: [
        'https://fuss10.elemecdn.com/8/27/f01c15bb73e1ef3793e64e6b7bbccjpeg.jpeg'
      ]
	}
  }
&lt;/script&gt;</code></pre>
      		</div>
      		<div class="demo-block-control is-fixed" @click="clickShow3">
        		<i class="el-icon-caret-bottom"></i>
        		<span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      		</div>
		</div>
		<div>
			<h1>Attributes</h1>
	        <el-table
		        :data="attributes"
		        highlight-current-row
		        style="width: 100%">
		        <el-table-column
		          prop="parameter"
		          label="参数">
		        </el-table-column>
		        <el-table-column
		          prop="explain"
		          label="说明"> 
		        </el-table-column>
		        <el-table-column
		          prop="type"
		          label="类型">
		        </el-table-column>
		        <el-table-column
		          prop="optional"
		          label="可选值">
		        </el-table-column>
		        <el-table-column
		          prop="default"
		          label="默认值">
		        </el-table-column>
	        </el-table>			
		</div>
	</div>
</template>