html, body {
	height: 100%;
	/* min-width: 1200px; */
	background-size: cover;
	overflow: hidden;
	font-size: 12px;
}
body, p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
[v-cloak] {
  display: none;
}
::-webkit-scrollbar{
     width: 10px;
    height: 10px;
    background-color:#F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.3);
}
::-webkit-scrollbar-track {
  display: none;
}
.demo-block {
    width: 100%;
    border: 1px solid #ebebeb;
}
.source {
    padding: 23px;
}
.demo-block-control {
    border-top: 1px solid #eaeefb;
    height: 44px;
    line-height: 44px;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-top: -1px;
    color: #d3dce6;
    cursor: pointer;
    position: relative;
}
.content {
    width: 100%;
    border-top: 1px solid #ebebeb;
    background-color: #fafafa;
    overflow: hidden;
}
pre {
    margin: 0;
    font-family: Menlo,Monaco,Consolas,Courier,monospace;
    padding: 18px 24px;
}
code {
    font-family: Menlo,Monaco,Consolas,Courier,monospace;
    color: #3182bd;
    line-height: 1.8;
    font-size: 12px;
}
.demo-block-control:hover {
    color: #409EFF;
    background-color: #f9fafc;
}
.icon-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #eee;
}
.icon-box div {
    width: 16.66%;
    height: 120px;
    /* line-height: 120px; */
    text-align: center;
    border: 1px solid #eee;
    line-height: 120px;
    color: #666;
    font-size: 13px;
}
.icon-item {
    display: inline-block;
    line-height: normal;
    margin-top: 20px;
}
.icon-item i {
    display: block;
    font-size: 32px;
    margin-bottom: 15px;
    color: #606266;
}
.description {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    line-height: 26px;
    word-break: break-word;
    margin: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #5e6d82;
}
.box-header {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 0;
    border-bottom: 1px solid #d0d0d0;
}
.box-header h5 {
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    line-height: 2.4;
    margin: 0;
}
.pagination {
	text-align: center;
	margin-top: 4px;
}

.el-container {
	height: 100%;
}
.el-header, .el-footer, .el-main {
	padding: 0;
}
.winui-footer {
	height: 40px;
	background-color: #004b5c;
	display: flex;
    justify-content: space-between;
    border: 1px solid #565c61;
}
.taskbar-start, .taskbar-console {
    width: 48px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
.taskbar-start .iconfont, .taskbar-console .iconfont {
    font-size: 18px;
}
.taskbar-start:hover, .taskbar-console:hover {
    color: #48d2f2;
    background-color: #195d6c;
    cursor: context-menu;
}
.displaynone {
	display: none;
}
.winui-start {
	position: fixed;
    background: #006b83;
    width: 640px;
    height: 60vh;
    z-index: 9999;
    bottom: 40px;
    display: flex;
}
.winui-start .el-menu {
	border: 0;
}
.winui-start-left {
	width: 48px;
    height: 100%;
    position: relative;
}
.winui-start-left .winui-start-item {
    width: 48px;
    height: 48px;
    position: absolute;
    text-align: center;
    cursor: context-menu;
}
.winui-start-left .winui-start-item .iconfont {
    line-height: 48px;
    color: #fff;
    font-size: 18px;
    display: block;
}
.winui-start-left .winui-start-item:hover {
	background-color: #197a8f !important;
}
.winui-start-left .winui-start-item:nth-last-child(1) {
    bottom: 0;
}
.winui-start-left .winui-start-item:nth-last-child(2) {
    bottom: 48px;
}
.winui-start-item a {
    text-decoration: none;
}
.winui-start-left .winui-start-item:nth-last-child(3) {
    bottom: 96px;
}
.winui-start-center {
	width: 260px;
    height: 100%;
    position: relative;
}
.winui-start-center .el-menu {
    background-color: #006b83;
}
.winui-start-center .el-submenu__title:hover {
    background-color: #018393;
}
.winui-start-center .el-menu-item:focus, .winui-start-center .el-menu-item:hover {
    background-color: #018393;
    color: #fff !important;
}
.winui-scrollbar {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.winui-start .winui-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #018393;
}
.winui-start .winui-scrollbar::-webkit-scrollbar-track, .winui-start .winui-scrollbar::-webkit-scrollbar-corner, .winui-message .winui-scrollbar::-webkit-scrollbar-track, .winui-message .winui-scrollbar::-webkit-scrollbar-corner {
	background-color: #018393;
}
.winui-start .winui-scrollbar::-webkit-scrollbar-thumb, .winui-message .winui-scrollbar::-webkit-scrollbar-thumb {
    /* background-color: #47779C; */
    background-color: rgba(255, 255, 255, 0.2);
}
.winui-start-center .el-submenu__title i:first-child, .winui-start-center .el-menu-item i:first-child {
	display: inline-block;
    height: 31px;
    width: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    background-color: #0099bc;
}
.winui-start-center .el-menu-item, .winui-start-center .el-submenu__title {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}
.winui-start-center .el-menu--inline .el-submenu__title, .winui-start-center .el-menu--inline .el-menu-item {
	padding-left: 27px !important;
}
.winui-start-center .el-submenu__title {
	padding-left: 17px !important;
}
.winui-start-center .el-menu--inline .el-menu--inline .el-menu-item {
	padding-left: 37px !important;
}
.winui-start-center .el-submenu__title i {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.winui-start-right {
    width: 332px;
    height: 100%;
    position: relative;
}
.winui-tilebox {
    width: 308px;
    height: 450px;
    margin: 5px;
    overflow: hidden;
}
.winui-tilebox-head {
    height: 34px;
    margin-bottom: 2px;
    line-height: 34px;
    color: white;
}
.winui-tilebox-body {
	display: flex;
}
.winui-tile-normal {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #0099bc;
    margin: 2px;
    text-align: center;
    position: relative;
    color: #fff;
}
.winui-tile-normal a {
	text-decoration: none;
}
.winui-tile-normal .iconfont {
    font-size: 32px;
    color: #fff;
}
.winui-tile-normal .element-title {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    line-height: normal;
    cursor: default;
    color: #fff;
}
.winui-drawer {
	left: 0;
	bottom: 40px;
}
.winui-drawer .el-drawer {
	background: #006b83;
}
.winui-dialog {
	/* width: 100%;
	height: 100%;
	margin: 0;
	width: 70%;
    height: 464px;
    left: 15%;
    top: 10%;
    overflow: visible; */
}
/* .winui-dialog .el-dialog {
	height: 100%;
	margin-top: auto !important;
} */
.winui-dialog .winui-dialog-header {
    padding: 5px 20px 5px;
    background-color: #0099bc;
}
.winui-dialog .winui-dialog-header {
    padding: 5px 20px 5px;
    background-color: #0099bc;
    cursor: move;
}
.winui-dialog .winui-dialog-title {
    line-height: 24px;
    font-size: 12px;
    color: #fff;
}
.winui-dialog .winui-dialog-headerbtn {
	/* position: absolute;
    top: 8px;
    right: 20px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff; */
    position: absolute !important;
    right: 14px;
    top: .85em;
    z-index: 1;
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    direction: ltr;
    font-family: Verdana,Arial,Tahoma;
    font-weight: 400;
}
.zoom-btn {
	position: absolute !important;
    right: 44px;
    top: 0.85em;
    z-index: 1;
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    direction: ltr;
    font-family: Verdana,Arial,Tahoma;
    font-weight: 400;
}
.hidden-icon {
    position: absolute;
    cursor: pointer;
    color: #fff;
    right: 74px;
    font-size: 1.3em;
    font-weight: bold;
    width: 1em;
    height: 1em;
    line-height: 1em;
    top: .65em;
    z-index: 99;
}
.winui-dialog .winui-dialog-body {
    padding: 10px;
    height: calc(100% - 34px);
    overflow: hidden;
}
.dialogactive {
	z-index: 99999 !important;
}
.winui-footer .el-tabs__item {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    width: 160px;
    padding: 0 10px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    font-size: 12px;
    color: #fff;
}
.winui-footer .el-tabs__item:hover {
	 background-color: #018393 !important;
}
.winui-footer .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #fff;
    border-bottom: 2px solid #80a6aee6;
    background-color: #018393;
    border-right-color: #018393;
    border-left-color: #018393;
}
.winui-footer .el-tabs--card>.el-tabs__header {
    border: 0;
}
.winui-footer .el-tabs__item:hover {
    color: #FFF;
}
.winui-footer .el-tabs__item.is-active {
    color: #FFF;
    background-color: #018393;
}
.winui-footer .el-tabs--border-card {
	border: 0;
	background-color: #004b5c;
}
.winui-footer .el-tabs--border-card>.el-tabs__header {
     background-color: #004b5c; 
     border: 0;
}
.winui-footer .el-tabs--border-card>.el-tabs__content {
    height: 40px;
}
.winui-desktop {
	position: absolute;
    top: 10px;
    bottom: 10px;
    width: 250px;
    display: flex;
   /*  height: 95%; */
    flex-wrap: wrap;
    height: auto;
    flex-direction: column;
}
.winui-desktop .winui-desktop-item {
	width: 80px;
    height: 80px;
	color: #fff;
    cursor: default;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.00);
}
.winui-desktop-item > .winui-icon-font {
    line-height: 65px;
}

.winui-desktop-item > .winui-icon {
    height: 40px;
    text-align: center;
}
.winui-desktop-item > .winui-icon-font > i {
    font-size: 38px;
}
.winui-desktop-item > p {
    line-height: 16px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
}
.winui-desktop-item:hover {
    border: 1px solid rgba(221, 221, 221, .8);
    background-color: rgba(255, 255, 255, .1);
    overflow: visible;
   /*  height: auto; */
}
.el-button {
	padding: 6px 13px;
}

/* start 系统整体样式  dialog */
.el-dialog { 
	width: 70%;
	margin-top: 8vh !important;
    width: 70%;
    height: 83%;
}
.el-dialog__wrapper { 
	overflow: hidden;
	/* background: rgba(0,0,0,.5); */
}
/* end 系统整体样式 dialog */

/* start vxe-model */
.vxe-modal--wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden !important;
	position: absolute;
}
.vxe-modal--wrapper.is--mask:before, .vxe-modal--wrapper.lock--view:before {
    position: absolute;
}
.vxe-modal--body .vxe-modal--wrapper .vxe-modal--zoom-btn {
    display: none;
}
/* .is--maximize .vxe-modal--content {
	padding-bottom: 40px;
} */
.is--maximize .vxe-modal--body {
    margin-bottom: 40px;
}
.vxe-modal--wrapper .vxe-modal--header {
	color: #fff;
}
.vxe-modal--wrapper .vxe-modal--body {
    /* padding: 0 0 0 5px; */
    padding: 0;
}
/* end vxe-model */

/* start theme */
.editor-color {
    border: 1px solid #ebeef5;
    border-radius: 5px;
}
.editor-color .title {
    padding: 15px 18px 0;
}
.editor-color .main {
    padding: 0 18px 15px;
    overflow-y: auto;
}
.theme .avatar {
    width: 90px;
    height: 90px;
    display: block;
}
.category-name {
    color: #c0c4cc;
    font-size: 18px;
    display: block;
    margin: 13px 0 3px;
}
.config-label {
    color: #606266;
    font-size: 14px;
    padding-bottom: 8px;
    position: relative;
}
.editor-color .line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #dcdfe6;
    margin-top: 0;
}
.editor-color .title p {
    margin-bottom: 18px;
    font-size: 16px;
}
/* end theme */

/* start personal */
.personalPage .el-tabs--left .el-tabs__header.is-left {
	width: 200px;
}
.personalPage .el-tabs--left .el-tabs__item.is-left {
    text-align: left;
}
.personalPage .el-tabs__content {
	height: 100%;
}
.personalPage .el-tab-pane {
	position: relative;
	height: 100%;
}
/* end personal */
/* start InfiniteScroll */
.infinite-list {
    height: 300px;
    list-style: none;
}
.infinite-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #e8f3fe;
    margin: 10px;
    color: #7dbcfc;
}
.infinite-list-wrapper {
    height: 300px;
    text-align: center;
}
.infinite-list-wrapper .list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #fff6f6;
    color: #ff8484;
    margin: 10px;
}
/* end InfiniteScroll */
/* start Layout */
.grid-content {
    border-radius: 4px;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
}
.bg-purple-dark {
    background: rgba(0, 160, 233, 0.7);
}
.bg-purple-light {
    background: #00a0e9;
}
.bg-purple {
    background: rgba(0, 160, 233, 0.5);
}
.layout .el-row {
    margin-bottom: 20px;
}
.demo-block .el-row {
    padding: 10px 0;
}
/* end Layout */

/* start Container */
.container .el-header, .container .el-footer {
    background-color: #7dbcea;
    color: #fff;
    text-align: center;
    line-height: 60px;
}
.container .el-main {
    background-color: rgba(16, 142, 233, 1);
    color: #fff;
    text-align: center;
}
.container .el-aside {
    background-color: #3ba0e9;
    color: #fff;
    text-align: center;
    line-height: 200px;
}
/* end Container */

/* start empty */
.empty {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(0,0,0,0.9);
}
.empty .empty-image {
    /* height: 100px; */
    margin-bottom: 8px;
}
/* end empty */

/* start carousel */
.source .el-carousel__item {
    background-color: #7dbcea;
    color: #fff;
    text-align: center;
}
/* end carousel */

/* start iframe页面样式 */
.websiteframe {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   /*  z-index: 5000 !important; */ 
    width: 100%;
}
/* end iframe 页面样式*/

/* start table */
.positionLayout {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
}
.el-table .cell {
    padding-right: 5px;
}
.el-table .cell, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
    padding-left: 5px;
}
.el-table th>.cell {
    padding-left: 5px;
    padding-right: 5px;
}
.el-table td, .el-table th {
    padding: 6px 0;
}
/* end table */

/* start footer */
.el-footer {
	height: 40px !important;
}
/* start footer */

/* start main */
.el-main {
	position: relative;
}
/* start main */

/* start tree-select */
.el-select-dropdown__item .el-tree {
    margin-left: -20px;
    margin-right: -20px;
}
ul li >.el-tree .el-tree-node__content {
    height: auto;
    padding: 0 20px;
}
.el-tree-node__expand-icon {
    font-size: 20px;
    color: #999;
}
.el-scrollbar .el-scrollbar__view .el-select-dropdown__item {
    height: auto;
    max-height: 274px;
    /* padding: 0; */
    overflow: hidden;
    overflow-y: auto;
}
.el-select-dropdown__item.selected {
    font-weight: normal;
}
/* end tree-select */

/* start sticky */
.sticky .sub-navbar {
    background-color: #9bb8e0;
    padding: 10px;
    color: #fff;
}
/* end sticky */

.el-form-item__content .el-select {
	width: 100%;
}
.el-tag {
    height: 27px;
    line-height: 27px;
    padding: 0px 6px;
    margin: 3px 4px 3px 0;
}
.specal-model .vxe-modal--box > .vxe-modal--body {
	position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 42.47px;
}
.is--maximize .vxe-modal--box > .vxe-modal--body {
	padding-bottom: 41px;
}
.specal-model .vxe-modal--box > .vxe-modal--header {
    position: absolute; 
    width: 100%;
    z-index: 9;
}
.hidden-icon {
    position: absolute;
    cursor: pointer;
    color: #fff;
    right: 74px;
    font-size: 1.3em;
    font-weight: bold;
    width: 1em;
    height: 1em;
    line-height: 1em;
    top: .65em;
    z-index: 99;
}
.el-backtop {
	position: absolute;
}
/* .hidden-icon {
    position: absolute;
    cursor: pointer;
    color: #fff;
    right: 74px;
    font-size: 1.3em;
    font-weight: bold;
    width: 1em;
    height: 1em;
    line-height: 1em;
    top: .65em;
    z-index: 99;
}
.specal-model .vxe-modal--box > .vxe-modal--body {
	position: unset !important;
} */
