.box-header {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 5px;
}
.box-header h5 {
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  margin: 0;
  line-height: 2.4;
}
.el-table th {
  text-align: center;
}
.pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 3px;
}
.section .changeColor {
	color: blue;
}
.section .el-switch  {
	height: 40px;
}
.tableHeader .el-table__header-wrapper thead tr:nth-last-child(1) {
	display: none;
}
body,html,p {
	margin: 0;
	padding: 0;
  }
  body,html {
	color: rgba(0,0,0,.65);
	font-size: 13px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-variant: tabular-nums;
  }
  .block {
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
  }
  .block i {
	font-size: 22px;
  }
  #header-block {
	padding-left: 10px;
	background: #fff;
	box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
  }
  .el-button span i {
	/*font-size: 22px;
	font-weight: 600;*/
  }
  .el-aside .el-button,.fixedBtn .el-button {
	border: 0;
	padding: 12px 13px;
  }
  .el-button+.el-button {
	margin-left: 0;
  }
  .line-button span {
	display: block;
	margin-top: -20px;
  }
  .modelMaintain .el-drawer .el-input__inner {
	height: 27px;
	line-height: 27px;
  }
  .el-drawer .el-form-item__content {
	  line-height: 40px;
	  height: 40px;
   }
  .el-drawer__body {
	padding: 10px;
  }
  .el-drawer__header {
	padding: 12px 24px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 0;
  }
  .el-button {
	padding: 5px 10px;
  }

  /* .avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
	border-color: #409EFF;
  }
  .avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
  }
  .avatar {
	width: 60px;
	height: 60px;
	display: block;
  }
  .el-drawer .el-upload--picture-card { 
  	width: 60px;
	height: 60px;
	line-height: 60px;
	position: absolute;
    right: 63px;
  }
  .el-drawer .el-icon-upload-success {
  	position: absolute;
    top: -1px;
    right: 14px;
  }
  .el-drawer .el-upload-list__item-preview {
  	display: none !important;
  }
  .el-drawer .el-upload-list--picture-card .el-upload-list__item-actions span+span {
    margin-left: 0px;
  }
  .el-drawer .el-upload-list--picture-card .el-upload-list__item {
  width: 60px;
	height: 60px;
	line-height: 60px;
  }
  .el-drawer .el-upload-list--picture-card {
  	position: relative;
  	z-index: 10;
  } */
  .el-form--label-left .el-form-item__label {
	/* margin-top: 10px; */
  }
  .el-color-picker__trigger{
	height: 28px;
	width: 28px;
	padding: 1px;
  }
  .el-form-item__label {
	font-size: 13px;
  }
  .el-button {
	font-size: 13px;
  }
  /* .el-table td, .el-table th {
	padding: 4px 0;
  } */
  .el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
	padding-left: 3px;
  }
  .el-table .cell, .el-table th div {
	padding-right: 3px;
	 /*text-align: center;*/
  }
  .el-button.is-circle {
	padding: 3px;
  }
  .el-table {
	font-size: 13px;
  }
  .el-table .cell {
	line-height: 18px;
  }
  .el-form-item__label {
	padding: 0 7px 0 0;
  }
  .fixedBtn {
  	position: fixed;
  	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  	width: 48px;
  	height: 231px;
  	border-radius: 5px;
  }
  .special-label .el-form--label-left .el-form-item__label {
	 margin-top: -10px; 
  }
  /* .el-upload-list__item-name {
  	display:none !important;
  }
  .el-upload {
  	width: 102px;
	height: 92px;
	line-height: 92px;
	display: block;
  }
  .avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
  }
  .el-upload-list--picture {
  	position: absolute;
  	top: -10px;
  } */
  .tpjm .el-dialog__wrapper,   .tpll .el-dialog__wrapper{
  	left: calc(100% - 390px);
}
#contextmenu .el-button [class*=el-icon-]+span {
    margin-left: 15px;
}
#contextmenu .el-button.is-plain:focus, .el-button.is-plain:hover {
    background: #ecf5ff;
}
#contextmenu .el-button {
	padding: 13px;
}
.tpll-popover .el-tree-node__content>.el-tree-node__expand-icon {
	padding: 0;
}
.tpll-popover {
	padding: 0 !important;
}
.tpll-popover .el-tree-node__content:hover {
    background: #ecf5ff !important;
}
.tpll-popover .popper__arrow {
 width: 0; 
 height: 0;
 border-width: 5px;
 border-style: solid;
 border-color: transparent #fff transparent transparent;
 filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));
}

.transition-box {
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    border-radius: 4px;
    background-color: #409EFF;
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
    margin-right: 20px;
}
.modelMaintain .el-dialog__wrapper {
  	left: calc(100% - 280px);
}
.dataBrowser .el-dialog__wrapper {
	left: calc(100% - 320px);
}
.toollBox .iconfont {
	font-size: 18px;
}
.toollBox span:hover {
	color: #409EFF;
}
.modelMaintain .el-form-item,.dataBrowser .el-form-item {
    margin-bottom: 3px;
}
.modelMaintain .el-drawer__body {
	overflow:auto;
}
.modelMaintain .el-input__inner, .dataBrowser .el-input__inner {
	/* height: 35px;
	line-height: 35px; */
}
  /* .avatar {
	width: 60px;
	height: 60px;
	display: block;
  } */
 .containers{
   position: absolute;
   background-color: #ffffff;
   width: 100%;
   height: 100%;
 }
 .canvas{
   width: 100%;
   height: 100%;
 }
 .panel{
   position: absolute;
   right: 0;
   top: 0;
   width: 300px;
 }
 .el-dialog .form-box .el-form-item {
 	margin-bottom: -2px;
 }
 .el-dialog .form-box .el-input__inner {
 	height: 35px;
    line-height: 35px;
 }
 .djs-palette-entries {
 	width: 80px;
 }
 .property-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  border-left: 1px solid #cccccc;
  padding: 20px 0;
  width: 300px;
  height: 100%;
  background: #fff;
  z-index: 100;
}
/* .dataaside .el-aside .el-button{
    border: 0;
    padding: 2px 12px;
} */
.dataaside .el-aside .el-button{
    border: 0;
    padding: 6px 4px;
}
.modelMaintain .el-drawer .el-form-item__content {
    line-height: 30px;
    height: 30px;
}
.modelMaintain .el-form-item__label {
    line-height: 35px;
}
.modelMaintain .el-input__icon {
    line-height: 35px;
}
.modelMaintain .el-color-picker {
    height: 30px;
}
.dragElement .el-header {
/* 	height: auto !important;
	min-height: 40px; */
}
.dragElement .el-tabs__item { 
	height: 35px;
	line-height: 35px;
}
.dragElement .el-footer {
	height: auto !important;
	min-height: 50px;
}
.dragElement .el-main {
	/* height: auto !important;
	min-height: 320px; */
}
.dragElement .el-form-item__content {
	line-height: 40px;
}
.org-tree-node-label {
  white-space: nowrap;
}
.bg-white {
  background-color: white;
}
.bg-orange {
  background-color: orange;
}
.bg-gold {
  background-color: gold;
}
.bg-gray {
  background-color: gray;
}
.bg-lightpink {
  background-color: lightpink;
}
.bg-chocolate {
  background-color: chocolate;
}
.bg-tomato {
  background-color: tomato;
}
.cron {
  text-align: left;
  padding: 10px;
  background: #fff;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}
.el-checkbox+.el-checkbox {
    margin-left: 10px;
}
.cron-dialog .el-dialog {
    height: 82%;
	margin-top: 10vh !important;
}

/* start 创建图表样式 */
.CreateChart .el-main .el-button--text {
	border: 0;
	font-size: 30px;
	margin-top: 15%;
}
.CreateChart .el-drawer__wrapper {
	left: 0;
}
.CreateChart .el-drawer__open .el-drawer.ttb {
	height: 90% !important;
    width: 60%;
    left: 20%;
    top: 5%;
}
.CreateChart .el-tabs--border-card {
    height: 100%;
    border: 0;
}
.CreateChart .el-tabs--left.el-tabs--border-card .el-tabs__item.is-left { 
	text-align-last: justify;
}
.CreateChart .el-tabs--border-card > .el-tabs__content {
    height: 100%;
    background: #4c4e59;
    border-radius: 4px;
}
.CreateChart .el-tabs--left .el-tabs__header.is-left {
    margin-right: 0;
}
.addchart {
	width: 100%;
	height: 100%;
	padding: 8px;
}
.dtm-con-item {
	margin: 10px;
    display: inline-block;
    width: 186px;
    cursor: pointer;
}
 .dtm-con-item img {
    display: block;
    width: 186px;
    height: 93px;
}
.dtm-con-item h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
    color: #ffea00;
}
.dtm-con-item em {
    font-size: 12px;
}
.creat-btns .header-btn {
	border: 0;
	display: inline-block;
    color: #fff;
    font-size: 14px;
    min-width: 60px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
}
.creat-btns {
	margin-top: 10px;
}
@keyframes mymove
{
	from {width:0px;}
	to {width:660px;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
	from {width:0px;}
	to {width:660px;}
}
@keyframes myhide
{
	from {width:660px;}
	to {width:0;}
}

@-webkit-keyframes myhide /*Safari and Chrome*/
{
	from {width:660px;}
	to {width:0;}
}
.hideAside {
	animation: myhide .3s 1ms;
	/* -webkit-animation: ltr-drawer-out .5s;
	animation: ltr-drawer-out .5s; */
}
.showAside {
	/* -webkit-animation: ltr-drawer-in .5s 1ms;
	animation: ltr-drawer-in .5s 1ms */
	animation: mymove .3s 1ms;
}
.paper-view {
	position: relative;
	width: 600px;
	height: 800px;
	margin: 0 auto;
	padding: 35px 35px;
	color: #333;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.6) 0 3px 5px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    margin: 84px auto 50px auto;
    border-radius: 4px;
}
.chart-container {
	width: 100%;
	height: 300px;
	margin-top: 20px;
}
.chart-container:hover {
	 box-shadow: #666 0px 0px 10px;
}
.chart-container:hover .others-set {
	display: block;
}
.others-set {
	position: absolute;
	top: 23px;
	/* display: none; */
	background: rgba(0,0,0,0.7);
	padding: 0 12px;
    white-space: nowrap;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
.others-set .el-button--text {
	padding: 0 6px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #f0f0f0;
    font-size: 12px !important;
    font-weight: normal;
    border: 0;
    margin: 0 !important;
}
.series-container {
	display: flex;
	width: 100%;
}
.series-container > div {
	width: 80px;
	/* border: 1px solid #000; */
}
.xAxis-item {
	width: 100%;
	height: 30px;
	/* border:1px solid #000; */
}
.series-container > div .el-input__inner {
	border-radius: 0;
	height: 30px;
    line-height: 30px;
    padding: 0 0px;
}

.CreateChart .el-aside .el-tabs {
	height: 100%;
}
.CreateChart .chart-edit > .el-tabs {
	width: 99%;
	height: 99%;
}
.chart-edit {
	background: #373941;
    color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
    margin-top: 3px;
}
.chart-edit .el-tabs--card>.el-tabs__header {
    border-bottom: 0;
    margin-left: 60px;
}
.chart-edit .el-tabs__header {
    margin: 0;
}
.chart-edit .el-tabs__item {
    height: 44px;
    line-height: 44px;
    color: #f0f0f0;
}
.chart-edit .el-tabs--card>.el-tabs__header .el-tabs__item {
	border: 0;
}
.chart-edit .el-tabs--card>.el-tabs__header .el-tabs__nav {
    border: 0;
}
.chart-edit .el-tabs__content {
    height: calc(100% - 44px);
}
.chart-edit .el-tabs--border-card>.el-tabs__header {
	background: rgba(255,255,255,0);
	border: 0;
}
.chart-edit .el-tabs--border-card {
	background: rgba(255,255,255,0);
}
.chart-edit .el-tabs--left.el-tabs--border-card .el-tabs__header.is-left {
	border: 0;
}
.chart-edit .el-tabs--border-card>.el-tabs__header .el-tabs__item {
	color: #f0f0f0;
}
.chart-edit .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
	border: 0;
	 background: #5b5d6b;
}
.set-tab .el-tabs__header.is-left {
    background: #5b5d6b !important;
}
.set-tab .el-tabs__content {
	padding: 30px 30px 30px 10px;
}
.set-tab .el-tabs__content .el-checkbox {
    color: #f0f0f0;
}
.chart-edit .el-input__inner {
	height: 30px;
    line-height: 30px;
    background: rgba(255,255,255,0);
    border: 1px solid #979bb2;
}
.set-tab .el-tabs__content .el-row {
    padding: 3px 0;
    line-height: 30px;
}
.editor-title {
    line-height: 30px;
    color: #adc7df;
}
.row-container {
	border-bottom: 1px solid #5b5d6b;
    padding: 10px 0;
}
.set-tab .el-tabs__content .el-tag {
	display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    min-width: 46px;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0 4px;
    border: 1px solid #828599;
    color: #828599;
    background: rgba(255,255,255,0);
    border-radius: 0;
}
.set-tab .el-tabs__content .tag-active {
    border-color: #f0f0f0;
    color: #f0f0f0;
}
/* end 创建图表结束 */
.view-display-board .widget-form-container .widget-form-list .widget-view.active {
	outline: 0;
    border: 0;
}
.view-display-board .widget-view-drag {
	display: none !important;
}
.view-display-board .widget-view-action {
	display: none !important;
}
.view-display-board .widget-form-container .widget-form-list .widget-view .el-form-item__content {
    width: 100%;
    height: 300px;
}
.view-display-board .widget-form-container .widget-form-list .widget-view {
	background-color: rgba(236,245,255,0);
}
.external-link-container .grid-popover {
	display: none;
}