<template id="form">
  <div class="form" style="height:99%;overflow:auto;" ref="form">
    <h1>Form 表单</h1>
    <h5>由输入框、选择器、单选框、多选框等控件组成，用以收集、校验、提交数据</h5>
    <h2>典型表单</h2>
    <h5>包括各种表单项，比如输入框、选择器、开关、单选框、多选框等。</h5>
    <div class="demo-block">
      <div class="source" style="width: 600px;">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
  <el-form-item label="活动名称" prop="name">
    <el-input v-model="ruleForm.name"></el-input>
  </el-form-item>
  <el-form-item label="活动区域" prop="region">
    <el-select v-model="ruleForm.region" placeholder="请选择活动区域">
      <el-option label="区域一" value="shanghai"></el-option>
      <el-option label="区域二" value="beijing"></el-option>
    </el-select>
  </el-form-item>
  <el-form-item label="活动时间" required>
    <el-col :span="11">
      <el-form-item prop="date1">
        <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
      </el-form-item>
    </el-col>
    <el-col class="line" style="text-align: center;"  :span="2">-</el-col>
    <el-col :span="11">
      <el-form-item prop="date2">
        <el-time-picker placeholder="选择时间" v-model="ruleForm.date2" style="width: 100%;"></el-time-picker>
      </el-form-item>
    </el-col>
  </el-form-item>
  <el-form-item label="即时配送" prop="delivery">
    <el-switch v-model="ruleForm.delivery"></el-switch>
  </el-form-item>
  <el-form-item label="活动性质" prop="type">
    <el-checkbox-group v-model="ruleForm.type">
      <el-checkbox label="美食/餐厅线上活动" name="type" style="float: left;  width: 160px;  margin: 0;  padding: 0;"></el-checkbox>
      <el-checkbox label="地推活动" name="type" style="float: left;  width: 160px;  margin: 0;  padding: 0;"></el-checkbox>
      <el-checkbox label="线下主题活动" name="type" style="float: left;  width: 160px;  margin: 0;  padding: 0;"></el-checkbox>
      <el-checkbox label="单纯品牌曝光" name="type" style="float: left;  width: 160px;  margin: 0;  padding: 0;"></el-checkbox>
    </el-checkbox-group>
  </el-form-item>
  <el-form-item label="特殊资源" prop="resource">
    <el-radio-group v-model="ruleForm.resource">
      <el-radio label="线上品牌商赞助"></el-radio>
      <el-radio label="线下场地免费"></el-radio>
    </el-radio-group>
  </el-form-item>
  <el-form-item label="活动形式" prop="desc">
    <el-input type="textarea" v-model="ruleForm.desc"></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
    <el-button @click="resetForm('ruleForm')">重置</el-button>
  </el-form-item>
</el-form>
      </div>
      <div class="content" v-if="!isShow">
        <pre><code>
&lt;el-form ref="form" :model="form" label-width="80px"&gt;
  &lt;el-form-item label="活动名称"&gt;
    &lt;el-input v-model="form.name"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动区域"&gt;
    &lt;el-select v-model="form.region" placeholder="请选择活动区域"&gt;
      &lt;el-option label="区域一" value="shanghai"&gt;&lt;/el-option&gt;
      &lt;el-option label="区域二" value="beijing"&gt;&lt;/el-option&gt;
    &lt;/el-select&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动时间"&gt;
    &lt;el-col :span="11"&gt;
      &lt;el-date-picker type="date" placeholder="选择日期" v-model="form.date1" style="width: 100%;"&gt;&lt;/el-date-picker&gt;
    &lt;/el-col&gt;
    &lt;el-col class="line" :span="2"&gt;-&lt;/el-col&gt;
    &lt;el-col :span="11"&gt;
      &lt;el-time-picker type="fixed-time" placeholder="选择时间" v-model="form.date2" style="width: 100%;"&gt;&lt;/el-time-picker&gt;
    &lt;/el-col&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="即时配送"&gt;
    &lt;el-switch v-model="form.delivery"&gt;&lt;/el-switch&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动性质"&gt;
    &lt;el-checkbox-group v-model="form.type"&gt;
      &lt;el-checkbox label="美食/餐厅线上活动" name="type"&gt;&lt;/el-checkbox&gt;
      &lt;el-checkbox label="地推活动" name="type"&gt;&lt;/el-checkbox&gt;
      &lt;el-checkbox label="线下主题活动" name="type"&gt;&lt;/el-checkbox&gt;
      &lt;el-checkbox label="单纯品牌曝光" name="type"&gt;&lt;/el-checkbox&gt;
    &lt;/el-checkbox-group&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="特殊资源"&gt;
    &lt;el-radio-group v-model="form.resource"&gt;
      &lt;el-radio label="线上品牌商赞助"&gt;&lt;/el-radio&gt;
      &lt;el-radio label="线下场地免费"&gt;&lt;/el-radio&gt;
    &lt;/el-radio-group&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动形式"&gt;
    &lt;el-input type="textarea" v-model="form.desc">&lt;/el-input&gt;
  &lt;/el-form-item&lt;
  &lt;el-form-item&lt;
    &lt;el-button type="primary" @click="onSubmit">立即创建&lt;/el-button&gt;
    &lt;el-button&gt;取消&lt;/el-button&gt;
  &lt;/el-form-item&gt;
&lt;/el-form&gt;
&lt;script&gt;
  methods: {
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
    }
  },
  data() {
    return {
      currentPage1: 5,
      currentPage2: 5,
      currentPage3: 5,
      currentPage4: 4
    };
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>行内表单</h2>
    <h5>当垂直方向空间受限且表单较简单时，可以在一行内放置表单。</h5>
    <div class="demo-block">
      <div class="source">
        <div>
          <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="审批人">
              <el-input v-model="formInline.user" placeholder="审批人"></el-input>
            </el-form-item>
            <el-form-item label="活动区域">
              <el-select v-model="formInline.region" placeholder="活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="content" v-if="!isShow5">
        <div class="description">
          设置 inline 属性可以让表单域变为行内的表单域
        </div>
        <pre><code>
&lt;el-form :inline="true" :model="formInline" class="demo-form-inline"&gt;
  &lt;el-form-item label="审批人"&gt;
    &lt;el-input v-model="formInline.user" placeholder="审批人">&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动区域"&gt;
    &lt;el-select v-model="formInline.region" placeholder="活动区域"&gt;
      &lt;el-option label="区域一" value="shanghai"&gt;&lt;/el-option&gt;
      &lt;el-option label="区域二" value="beijing"&gt;&lt;/el-option&gt;
    &lt;/el-select&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item&gt;
    &lt;el-button type="primary" @click="onSubmit"&gt;查询&lt;/el-button&gt;
  &lt;/el-form-item&gt;
&lt;/el-form&gt;

&lt;script&gt;
  data() {
    return {
      formInline: {
        user: '',
        region: ''
      }
    }
  },
  methods: {
    onSubmit() {
      console.log('submit!');
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow5">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow5 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>对齐方式</h2>
    <h5>根据具体目标和制约因素，选择最佳的标签对齐方式。</h5>
    <div class="demo-block">
      <div class="source" style="width: 460px;">
        <div>
          <el-radio-group v-model="labelPosition" size="small">
            <el-radio-button label="left">左对齐</el-radio-button>
            <el-radio-button label="right">右对齐</el-radio-button>
            <el-radio-button label="top">顶部对齐</el-radio-button>
          </el-radio-group>
          <div style="margin: 20px;"></div>
          <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
            <el-form-item label="名称">
              <el-input v-model="formLabelAlign.name"></el-input>
            </el-form-item>
            <el-form-item label="活动区域">
              <el-input v-model="formLabelAlign.region"></el-input>
            </el-form-item>
            <el-form-item label="活动形式">
              <el-input v-model="formLabelAlign.type"></el-input>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="content" v-if="!isShow1">
        <div class="description">
          通过设置 label-position 属性可以改变表单域标签的位置，可选值为 top、left，当设为 top 时标签会置于表单域的顶部。
        </div>
        <pre><code>
&lt;el-radio-group v-model="labelPosition" size="small"&gt;
  &lt;el-radio-button label="left"&gt;左对齐&lt;/el-radio-button&gt;
  &lt;el-radio-button label="right"&gt;右对齐&lt;/el-radio-button&gt;
  &lt;el-radio-button label="top"&gt;顶部对齐&lt;/el-radio-button&gt;
&lt;/el-radio-group&gt;
&lt;div style="margin: 20px;"&gt;&lt;/div&gt;
&lt;el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign"&gt;
  &lt;el-form-item label="名称"&gt;
    &lt;el-input v-model="formLabelAlign.name">&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动区域"&gt;
    &lt;el-input v-model="formLabelAlign.region"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动形式"&gt;
    &lt;el-input v-model="formLabelAlign.type"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
&lt;/el-form&gt;

&lt;script&gt;
  data() {
    return {
      labelPosition: 'right',
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      }
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow1">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow1 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>表单验证</h2>
    <h5>在防止用户犯错的前提下，尽可能让用户更早地发现并纠正错误。</h5>
    <div class="demo-block">
      <div class="source" style="width: 520px;">
        <div>
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="活动名称" prop="name">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="活动区域" prop="region">
              <el-select v-model="ruleForm.region" placeholder="请选择活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="活动时间" required>
              <el-col :span="11">
                <el-form-item prop="date1">
                  <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col class="line" :span="2">-</el-col>
              <el-col :span="11">
                <el-form-item prop="date2">
                  <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm.date2" style="width: 100%;"></el-time-picker>
                </el-form-item>
              </el-col>
            </el-form-item>
            <el-form-item label="即时配送" prop="delivery">
              <el-switch v-model="ruleForm.delivery"></el-switch>
            </el-form-item>
            <el-form-item label="活动性质" prop="type">
              <el-checkbox-group v-model="ruleForm.type">
                <el-checkbox label="美食/餐厅线上活动" name="type" style="float: left;  width: 160px;  margin: 0;  padding: 0;"></el-checkbox>
                <el-checkbox label="地推活动" name="type" style="float: left;  width: 160px;  margin: 0;  padding: 0;"></el-checkbox>
                <el-checkbox label="线下主题活动" name="type" style="float: left;  width: 160px;  margin: 0;  padding: 0;"></el-checkbox>
                <el-checkbox label="单纯品牌曝光" name="type" style="float: left;  width: 160px;  margin: 0;  padding: 0;"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item label="特殊资源" prop="resource">
              <el-radio-group v-model="ruleForm.resource">
                <el-radio label="线上品牌商赞助"></el-radio>
                <el-radio label="线下场地免费"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="活动形式" prop="desc">
              <el-input type="textarea" v-model="ruleForm.desc"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
              <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="content" v-if="!isShow2">
        <div class="description">
          Form 组件提供了表单验证的功能，只需要通过 rules 属性传入约定的验证规则，并将 Form-Item 的 prop 属性设置为需校验的字段名即可。校验规则参见 async-validator
        </div>
        <pre><code>
&lt;el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"&gt;
  &lt;el-form-item label="活动名称" prop="name"&gt;
    &lt;el-input v-model="ruleForm.name"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动区域" prop="region"&gt;
    &lt;el-select v-model="ruleForm.region" placeholder="请选择活动区域"&gt;
      &lt;el-option label="区域一" value="shanghai"&gt;&lt;/el-option&gt;
      &lt;el-option label="区域二" value="beijing"&gt;&lt;/el-option&gt;
    &lt;/el-select&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动时间" required&gt;
    &lt;el-col :span="11"&gt;
      &lt;el-form-item prop="date1"&gt;
        &lt;el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1" style="width: 100%;"&gt;&lt;/el-date-picker&gt;
      &lt;/el-form-item&gt;
    &lt;/el-col&gt;
    &lt;el-col class="line" :span="2"&gt;-&lt;/el-col&gt;
    &lt;el-col :span="11"&gt;
      &lt;el-form-item prop="date2"&gt;
        &lt;el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm.date2" style="width: 100%;"&gt;&lt;/el-time-picker&gt;
      &lt;/el-form-item&gt;
    &lt;/el-col&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="即时配送" prop="delivery"&gt;
    &lt;el-switch v-model="ruleForm.delivery"&gt;&lt;/el-switch&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动性质" prop="type"&gt;
    &lt;el-checkbox-group v-model="ruleForm.type"&gt;
      &lt;el-checkbox label="美食/餐厅线上活动" name="type"&gt;&lt;/el-checkbox&gt;
      &lt;el-checkbox label="地推活动" name="type"&gt;&lt;/el-checkbox&gt;
      &lt;el-checkbox label="线下主题活动" name="type"&gt;&lt;/el-checkbox&gt;
      &lt;el-checkbox label="单纯品牌曝光" name="type"&gt;&lt;/el-checkbox&gt;
    &lt;/el-checkbox-group&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="特殊资源" prop="resource"&gt;
    &lt;el-radio-group v-model="ruleForm.resource"&gt;
      &lt;el-radio label="线上品牌商赞助"&gt;&lt;/el-radio&gt;
      &lt;el-radio label="线下场地免费"&gt;&lt;/el-radio&gt;
    &lt;/el-radio-group&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="活动形式" prop="desc"&gt;
    &lt;el-input type="textarea" v-model="ruleForm.desc"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item&gt;
    &lt;el-button type="primary" @click="submitForm('ruleForm')"&gt;立即创建&lt;/el-button&gt;
    &lt;el-button @click="resetForm('ruleForm')"&gt;重置&lt;/el-button&gt;
  &lt;/el-form-item&gt;
&lt;/el-form&gt;

&lt;script&gt;
  data() {
    return {
      ruleForm: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入活动名称', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        region: [
          { required: true, message: '请选择活动区域', trigger: 'change' }
        ],
        date1: [
          { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
        ],
        date2: [
          { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
        ],
        type: [
          { type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change' }
        ],
        resource: [
          { required: true, message: '请选择活动资源', trigger: 'change' }
        ],
        desc: [
          { required: true, message: '请填写活动形式', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow2">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow2 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>el-form的各种校验姿态</h2>
    <h3>1.基础姿势/自定义姿势</h3>
    <div class="demo-block">
      <div class="source" style="width: 460px;">
        <el-form :model="ruleForm1" :rules="rules1" ref="ruleForm1" label-width="100px">
		  <el-form-item label="活动名称" prop="name">
		    <el-input v-model="ruleForm1.name"></el-input>
		  </el-form-item>
		 <el-form-item label="年龄" prop="age">
		    <el-input v-model.number="ruleForm1.age"></el-input>
		  </el-form-item>
		  <el-form-item>
		    <el-button type="primary" @click="submitForm1('ruleForm1')">立即创建</el-button>
		    <el-button @click="resetForm1('ruleForm1')">重置</el-button>
		  </el-form-item>
		</el-form>
      </div>
      <div class="content" v-if="!isShow4">
        <div class="description">
          在el-form上绑定rules，rlues为校验规则，在el-form-item上绑定对应的prop。
自定义规则，validator：checkAge，自定义规则的函数。
        </div>
        <pre><code>
&lt;el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px"&gt;
  &lt;el-form-item label="活动名称" prop="name"&gt;
    &lt;el-input v-model="ruleForm.name"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
 &lt;el-form-item label="年龄" prop="age"&gt;
    &lt;el-input v-model.number="ruleForm.age"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item&gt;
    &lt;el-button type="primary" @click="submitForm('ruleForm')"&gt;立即创建&lt;/el-button&gt;
    &lt;el-button @click="resetForm('ruleForm')"&gt;重置&lt;/el-button&gt;
  &lt;/el-form-item&gt;
&lt;/el-form&gt;

&lt;script&gt;
  data() {
    var checkAge = (rule, value, callback) => {
	    if (!value) {
	       return callback(new Error('年龄不能为空'));
	    }
	    if (!Number.isInteger(value)) {
	         callback(new Error('请输入数字值'));
	    } else {
	        if (value < rule.max_age) {
	          callback(new Error('必须年满18岁'));
	        } else {
	          callback();
	        }
	    }
    };
    return {
      ruleForm: {
        name: '',
        age:''
      },
      rules: {
        name: [
          { required: true, message: '请输入活动名称', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        age: [
          {max_age: 18,validator: checkAge, trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!')
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow4">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow4 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h3>2.行间校验</h3>
    <div class="demo-block">
      <div class="content">
        <div class="description">
          可将rule写在各自的el-form-item上
        </div>
        <pre><code>
&lt;el-form-item
    label="年龄"
    prop="age"
    :rules="[
      { required: true, message: '年龄不能为空'},
      { type: 'number', message: '年龄必须为数字值'}
    ]"&gt;
    &lt;el-input type="age" v-model.number="numberValidateForm.age" autocomplete="off"&gt;&lt;/el-input&gt;
 &lt;/el-form-item&gt;</code></pre>
      </div>
    </div>
    <h3>3.行间自定义校验</h3>
    <div class="demo-block">
      <div class="content" >
        <pre><code>
&lt;el-form :model="numberValidateForm" ref="numberValidateForm" label-width="100px" class="demo-ruleForm"&gt;
  &lt;el-form-item
    label="年龄"
    prop="age"
    :rules="[
      {max_age：18， validator: checkAge, trigger: 'blur' }
    ]"&gt;
    &lt;el-input type="age" v-model.number="numberValidateForm.age" autocomplete="off"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
&lt;/el-form&gt;
&lt;script&gt;
    data() {
      ...
    },
    methods: {
      checkAge(rule, value, callback){
       //自定义校验规则
        //console.log(rule.max_age)
        if (!value) {
           return callback(new Error('年龄不能为空'));
       }
       if (!Number.isInteger(value)) {
         callback(new Error('请输入数字值'));
        } else {
          if (value < rule.max_age) {
            callback(new Error('必须年满18岁'));
          } else {
            callback();
          }
        }
      },
    }
&lt;/script&gt;</code></pre>
      </div>
    </div>
    <h3>4.行间循环自定义校验</h3>
    <div class="demo-block">
      <div class="content">
        <pre><code>
&lt;el-form&gt;
   &lt;el-form-item
    v-for="(domain, index) in dynamicValidateForm.domains"
    :label="'域名' + index"
    :key="domain.key"
    :prop="`domains.${index}.value`"
    :rules="[
     { required: true, message: '域名不能为空', trigger: 'blur' },
     {reg：/^--------$/， validator: checkDomain, trigger: 'blur' }
    ]"
  &gt;
&lt;/el-form-item&gt;
&lt;/el-form&gt;
&lt;script&gt;
  data() {
    return {
      dynamicValidateForm: {
        domains: [
          { value: ''},
          { value: ''},
          { value: ''},
        ]
      }
    };
  },
  methods: {
    checkDomain(rule, value, callback){
      //自定义校验规则
      ......
     },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
        }
      });
    }
  }
&lt;/script&gt;</code></pre>
      </div>
    </div>
    <h2>自定义校验规则</h2>
    <h5>这个例子中展示了如何使用自定义验证规则来完成密码的二次验证。</h5>
    <div class="demo-block">
      <div class="source" style="width: 460px;">
        <div>
          <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
            <el-form-item label="密码" prop="pass">
              <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
              <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="年龄" prop="age">
              <el-input v-model.number="ruleForm2.age"></el-input>
            </el-form-item>
            <el-form-item label="字符长度限制限制" prop="count">
              <el-input v-model="ruleForm2.count"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm2')">提交</el-button>
              <el-button @click="resetForm('ruleForm2')">重置</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="content" v-if="!isShow3">
        <div class="description">
          本例还使用status-icon属性为输入框添加了表示校验结果的反馈图标。
        </div>
        <pre><code>
&lt;el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm"&gt;
  &lt;el-form-item label="密码" prop="pass"&gt;
    &lt;el-input type="password" v-model="ruleForm2.pass" autocomplete="off"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="确认密码" prop="checkPass"&gt;
    &lt;el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item label="年龄" prop="age"&gt;
    &lt;el-input v-model.number="ruleForm2.age"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item&gt;
    &lt;el-button type="primary" @click="submitForm('ruleForm2')"&gt;提交&lt;/el-button&gt;
    &lt;el-button @click="resetForm('ruleForm2')"&gt;重置&lt;/el-button&gt;
  &lt;/el-form-item&gt;
&lt;/el-form&gt;

&lt;script&gt;
  data() {
    var checkAge = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('年龄不能为空'));
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('请输入数字值'));
        } else {
          if (value < 18) {
            callback(new Error('必须年满18岁'));
          } else {
            callback();
          }
        }
      }, 1000);
    };
    var validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入密码'));
      } else {
        if (this.ruleForm2.checkPass !== '') {
          this.$refs.ruleForm2.validateField('checkPass');
        }
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请再次输入密码'));
      } else if (value !== this.ruleForm2.pass) {
        callback(new Error('两次输入密码不一致!'));
      } else {
        callback();
      }
    };
    return {
      ruleForm2: {
        pass: '',
        checkPass: '',
        age: ''
      },
      rules2: {
     pass: [
       { validator: validatePass, trigger: 'blur' }
     ],
     checkPass: [
       { validator: validatePass2, trigger: 'blur' }
     ],
     age: [
       { validator: checkAge, trigger: 'blur' }
     ],
     count: [
       { required: true, message: '请输入活动名称', trigger: 'blur' },
       { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
     ]
   },
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow3">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow3 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <h2>动态增减表单项</h2>
    <div class="demo-block">
      <div class="source" style="width: 460px;">
        <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="100px" class="demo-dynamic">
		  <el-form-item
		    prop="email"
		    label="邮箱"
		    :rules="[
		      { required: true, message: '请输入邮箱地址', trigger: 'blur' },
		      { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
		    ]"
		  >
		    <el-input v-model="dynamicValidateForm.email"></el-input>
		  </el-form-item>
		  <el-form-item
		    v-for="(domain, index) in dynamicValidateForm.domains"
		    :label="'域名' + index"
		    :key="domain.key"
		    :prop="'domains.' + index + '.value'"
		    :rules="{
		      required: true, message: '域名不能为空', trigger: 'blur'
		    }"
		  >
		    <el-input v-model="domain.value"></el-input><el-button @click.prevent="removeDomain(domain)">删除</el-button>
		  </el-form-item>
		  <el-form-item>
		    <el-button type="primary" @click="submitForm('dynamicValidateForm')">提交</el-button>
		    <el-button @click="addDomain">新增域名</el-button>
		    <el-button @click="resetForm('dynamicValidateForm')">重置</el-button>
		  </el-form-item>
		</el-form>
      </div>
      <div class="content" v-if="!isShow6">
        <div class="description">
         除了在 Form 组件上一次性传递所有的验证规则外还可以在单个的表单域上传递属性的验证规则
        </div>
        <pre><code>
&lt;el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="100px" class="demo-dynamic"&gt;
  &lt;el-form-item
    prop="email"
    label="邮箱"
    :rules="[
      { required: true, message: '请输入邮箱地址', trigger: 'blur' },
      { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
    ]"
  &gt;
    &lt;el-input v-model="dynamicValidateForm.email"&gt;&lt;/el-input&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item
    v-for="(domain, index) in dynamicValidateForm.domains"
    :label="'域名' + index"
    :key="domain.key"
    :prop="'domains.' + index + '.value'"
    :rules="{
      required: true, message: '域名不能为空', trigger: 'blur'
    }"
  &gt;
    &lt;el-input v-model="domain.value"&gt;&lt;/el-input&gt;&lt;el-button @click.prevent="removeDomain(domain)"&gt;删除&lt;/el-button&gt;
  &lt;/el-form-item&gt;
  &lt;el-form-item&gt;
    &lt;el-button type="primary" @click="submitForm('dynamicValidateForm')"&gt;提交&lt;/el-button&gt;
    &lt;el-button @click="addDomain"&gt;新增域名&lt;/el-button&gt;
    &lt;el-button @click="resetForm('dynamicValidateForm')"&gt;重置&lt;/el-button&gt;
  &lt;/el-form-item>
&lt;/el-form>

&lt;script&gt;
  data() {
    return {
      dynamicValidateForm: {
        domains: [{
          value: ''
        }],
        email: ''
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    removeDomain(item) {
      var index = this.dynamicValidateForm.domains.indexOf(item)
      if (index !== -1) {
        this.dynamicValidateForm.domains.splice(index, 1)
      }
    },
    addDomain() {
      this.dynamicValidateForm.domains.push({
        value: '',
        key: Date.now()
      });
    }
  }
&lt;/script&gt;</code></pre>
      </div>
      <div class="demo-block-control is-fixed" @click="clickShow6">
        <i class="el-icon-caret-bottom"></i>
        <span>{{ isShow6 ? '显示代码' : '隐藏代码' }}</span>
      </div>
    </div>
    <div id="table">
      <h1>Form Attributes</h1>
      <el-table
        ref="singleTable"
        :data="attributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Form Methods</h1>
      <el-table
        ref="singleTable"
        :data="methods"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="方法名">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Form Events</h1>
      <el-table
        ref="singleTable"
        :data="events"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="事件名称">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="回调参数">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Form-Item Attributes</h1>
      <el-table
        ref="singleTable"
        :data="itemAttributes"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="type"
          label="类型">
        </el-table-column>
        <el-table-column
          prop="optional"
          label="可选值">
        </el-table-column>
        <el-table-column
          prop="default"
          label="默认值">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Form-Item Slot</h1>
      <el-table
        ref="singleTable"
        :data="itemSlot"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="name">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Form-Item Scoped Slot</h1>
      <el-table
        ref="singleTable"
        :data="scopedSlot"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="name">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
      </el-table>
    </div>
    <div id="table">
      <h1>Form-Item Methods</h1>
      <el-table
        ref="singleTable"
        :data="itemMethods"
        highlight-current-row
        style="width: 100%">
        <el-table-column
          prop="name"
          label="方法名">
        </el-table-column>
        <el-table-column
          prop="explain"
          label="说明">
        </el-table-column>
        <el-table-column
          prop="parameter"
          label="参数">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
