<template id="select">
	<div>
		<el-select v-model="valueTitle" :clearable="clearable" @clear="clearHandle" ref="select" :disabled="disabled" :placeholder="placeholder">
		    <el-option :value="valueTitle" :label="valueTitle">
		      <el-tree  id="tree-option"
		        ref="selectTree"
		        :accordion="accordion"
		        :data="options"
		        :props="props"
		        :node-key="props.value"   
		        :expand-on-click-node="false" 
		        @node-click="handleNodeClick">
		      </el-tree>
		    </el-option>
		</el-select>
	</div>
</template>
